<div class="content__inner">
	<div class="section full-height over-y-scroll" id="boxscroll-2">
		<div class="section" id="boxscroll-in-2">
			<div class="section padding-top-big">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h2 class="content__title">agenda</h2>
						</div>
						<div class="col-lg-4 mt-3">
							<h3 class="content__subtitle">Estamos muy entusiasmados con el programa que se está planeando para este febrero en Bogotá, Colombia.</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="section padding-top-bottom">
				<div class="container">
					<div class="row">
						<div class="offset-md-3 col-md-9">
							<h4>los eventos</h4>
							<div class="title-page-line mt-4 mb-5"></div>
							<p><em>Subcribete para recibir noticias sobre el lanzamiento de la agenda.</em></p>
							<br/>
						</div>
						<div class="col-md-3">
							<div class="schedule-time mb-4">
								<p>De martes 25 al sábado 29 de febrero</p>
							</div>
							<div class="schedule-place">
								<p>Varias locaciones en Bogotá, Colombia</p>
							</div>
						</div>
						<div class="col-md-9 mt-4 mt-md-0">
							<div class="pass-wrap">
								<p>
									<img style="border-radius: 3px;" src="assets/img/sched-hidden.png">
									<!--
									<a style="text-decoration:none;position:static;background:none;box-shadow:none;" id="sched-embed" href="//techstarsstartupweekbogota2020.sched.com/" data-sched-bg="dark">View the BOGOWEEK 2020 | Techstars Startup Week Bogotá schedule &amp; directory.</a>
									-->
								</p>
							</div>
							<div class="section pl-5">
								<h6 class="mt-5 mb-3">Para tener tu evento en #BOGOWEEK2020</h6><a href="https://bogoweek.co/speaker2020" style="background: linear-gradient(45deg, #0947db, #07d89d);padding: 7px 22px;display: block;position: absolute;border-radius: 3px;" target="_blank">Aplicación</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="section padding-bottom-big">
				<div class="container">
					<div class="row">
						<div class="offset-md-3 col-md-9">
							<h4>boleta de entrada</h4>
							<div class="title-page-line mt-4 mb-5"></div>
						</div>
						<div class="col-lg-3">
							<h6>toda la semana</h6>
						</div>
						<div class="col-lg-9 mt-4 mt-lg-0">
							<div class="pass-wrap">
								<p class="pl-0">El ingreso a nuestro eventos son totalmente gratis, pero debes registrarte para poder entrar (trae tu cédula).</p>
								<p class="mt-4"><em></em> aceso a todo los eventos</p>
								<p class="mt-2"><em></em> descuentos especiales con nuestros patrocinadores</p>
								<p class="mt-2"><em></em> conexión con toda la comunidad emprendedora</p>
								<p class="mt-2 mb-5 mb-sm-0">&nbsp;</p><a href="https://bogoweek.co/2020" target="_blank">pre-registro</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="section padding-top padding-bottom-big background-dark footer">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<p>Techstars Startup Week Bogotá</p>
							<h6 class="mt-5 mb-3">Contáctanos:</h6>
							<p>info@bogotastartupweek.com</p>
							<p>WhatsApp: +57 320 897 4074</p>
						</div>
						<div class="col-md-12 mt-5 mb-5">
							<div class="title-page-line"></div>
						</div>
						<div class="col-md-12">
							<p><small>&copy; 2019 Techstars Startup Week Bogotá. Todos los derechos reservados.</small>
							</p>
							<p class="padding-top-bottom"><i style="color:rgb(246, 166, 35);" class="fa fa-bolt" aria-hidden="true"></i> Powered by
								<br>
								<a href="https://www.bloomshift.com/?utm_source=bogotastartupweek.com&amp;utm_medium=website&amp;utm_campaign=referral&amp;utm_content=homepage" target="_blank">
									<img width="600px" src="https://www.bloomshift.com/wp-content/uploads/bloom-banner-1901.png" alt="BloomShift">
								</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>