<div class="content__inner">
	<div class="section full-height over-y-scroll" id="boxscroll-4">
		<div class="section" id="boxscroll-in-4">
			<div class="section padding-top-big">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h2 class="content__title">noticias recientes</h2>
						</div>
						<div class="col-lg-4 mt-3">
							<h3 class="content__subtitle">Te mantenemos al tanto de todo lo que va sucediende con nuestro festival.</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="section padding-top padding-bottom-big">
				<div class="container">
					<div class="row">
						<div class="col-md-4">
							<div class="blog-wrap pb-4">
								<a href="#">
									<img src="assets/img/blog/190822.jpg" alt="hombre con bandera colombiana">
								</a>
								<p class="px-4 pt-4 mb-1"><small>por Flor Liévano</small>
								</p><a href="#"><h6 class="px-4 mb-3">Anunciamos el lanzamiento del Techstars Startup Week Bogotá en 2020.</p><a href="#"><div class="go-post pl-4 pt-4"><i class="fa fa-long-arrow-right"></i></div></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% include footer.html %}
		</div>
	</div>
</div>