<div class="content__inner">
	<div class="section full-height over-y-scroll" id="boxscroll-3">
		<div class="section" id="boxscroll-in-3">
			<div class="section padding-top-big">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h2 class="content__title">patrocinadores</h2>
						</div>
						<div class="col-lg-4 mt-3">
							<h3 class="content__subtitle">Si quieres ser uno de nuestros patrocinadores no dudes en contactarnos para más información.</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="section padding-top-bottom">
				<div class="container">
					<div class="row">
						<div class="col-sm-6 col-md-4">
							<a href="https://www.techstars.com/?utm_source=bogotastartupweek.com" target="_blank">
								<div class="img-wrap gallery">
									<img style="border-radius: 3px;" src="assets/img/gallery/techstars.png" alt="techstars">
								</div>
							</a>
						</div>
						<div class="col-sm-6 col-md-4 mt-4 mt-sm-0">
							<a href="https://orangeup.org/?utm_source=bogotastartupweek.com" target="_blank">
								<div class="img-wrap gallery">
									<img style="border-radius: 3px;" src="assets/img/gallery/orangeup.png" alt="orange up">
								</div>
							</a>
						</div>
						<div class="col-sm-6 col-md-4 mt-4 mt-md-0">
							<a href="https://suego.co/?utm_source=bogotastartupweek.com" target="_blank">
								<div class="img-wrap gallery">
									<img style="border-radius: 3px;" src="assets/img/gallery/suego.png" alt="suego">
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="section padding-bottom-big">
				<div class="container">
					<div class="row">			
						<div class="offset-md-3 col-md-9">
							<h4>Transformando el futuro</h4>
							<div class="title-page-line mt-4 mb-5"></div>
						</div>									
						<div class="col-lg-3">
							<h6>aliados</h6>
						</div>
						<div class="col-lg-9 mt-4 mt-lg-0">
							<div class="sponsors">
								<img src="assets/img/logos/googlestartups.png" alt="">
								<img src="assets/img/logos/dotco.png" alt="">
								<img class="mt-3 mt-md-0" src="assets/img/logos/tuatara.png" alt="">
								<img class="mt-3 mt-md-0" src="assets/img/logos/elnido.png" alt="">
								<img src="assets/img/logos/porcolombia.png" alt="">
								<img src="assets/img/logos/pong.png" alt="">
								<img class="mt-3 mt-md-0" src="assets/img/logos/seis.png" alt="">
								<img class="mt-3 mt-md-0" src="assets/img/logos/ocico.png" alt="">
								<img src="assets/img/logos/meal9.png" alt="">
								<img src="assets/img/logos/joey.png" alt="">
								<img class="mt-3 mt-md-0" src="assets/img/logos/jellyjob.png" alt="">
								<img class="mt-3 mt-md-0" src="assets/img/logos/elnegro.png" alt="">
								<img src="assets/img/logos/ictd.png" alt="">
								<img src="assets/img/logos/cwa.png" alt="">
								<img class="mt-3 mt-md-0" src="assets/img/logos/epico.png" alt="">
								<img class="mt-3 mt-md-0" src="assets/img/logos/dao.png" alt="">
								<img src="assets/img/logos/connectbrand.png" alt="">
							</div>
						</div>									
					</div>
				</div>
			</div>
			{% include footer.html %}
		</div>
	</div>
</div>