<div class="col-xs-12 col-sm-6 col-lg-6 left-center-text split-section">

	<div class="left-center-part">

		<h2>Day-by-Day Itinerary</h2>

		<p>Note: This itinerary is subject to change.</p>

		<!-- START - Team -->
		<div class="row">

			<!-- 1 -->
			<div class="col-xs-12 col-sm-6 col-lg-6 block-team">

				<ul class="social-team">

					<!-- LinkedIn -->
					<li>
						<a href="#"><i class="fa fa-linkedin"></i></a>
					</li>

				</ul>

				<img src="assets/safari/img/member-1.jpg" alt="" class="img-responsive team-member" />

				<h3>Flor Liévano <small>BOGOWEEK</small></h3>

				<p>Lorem ipsum Do dolor commodo occaecat sit pariatur nisi sit laboris officia exercitation officia laboris ex ullamco nulla do in elit.</p>

			</div>

			<!-- 2 -->
			<div class="col-xs-12 col-sm-6 col-lg-6 block-team">

				<ul class="social-team">

					<!-- Linkedin -->
					<li>
						<a href="#"><i class="fa fa-linkedin"></i></a>
					</li>

				</ul>

				<img src="assets/safari/img/member-2.jpg" alt="" class="img-responsive team-member" />

				<h3>Andres Hurtado <small>Safari</small></h3>

				<p>Lorem ipsum Do dolor commodo occaecat sit pariatur nisi sit laboris officia exercitation officia laboris ex ullamco nulla do in elit.</p>

			</div>

		</div>
		<!-- END - Team -->

	</div>

</div>