<!-- +++ START - Services +++ -->
<div class="section" id="section2">

	<section id="services" class="text-left-block">

		<div class="row row-no-margin">

			<div class="col-xs-12 col-sm-6 col-lg-6 left-center-text split-section">

				<div class="left-center-part">

					<h2>Day-by-Day Itinerary</h2>

					<p>Note: This itinerary is subject to change.</p>

					<!-- +++ START - Carousel +++ -->
					<div id="carousel-services" class="carousel slide" data-interval="6000" data-ride="carousel">

				    	<!-- Carousel indicators -->
				        <ol class="carousel-indicators">
				            <li data-target="#carousel-services" data-slide-to="0" class="active"></li>
				            <li data-target="#carousel-services" data-slide-to="1"></li>
				            <li data-target="#carousel-services" data-slide-to="2"></li>
				        </ol>   

				        <!-- START - Wrapper for carousel items -->
				        <div class="carousel-inner">

				        	<!-- Services 1 -->
				            <div class="active item">

	                			<!-- START - Services row -->
								<div class="row">

									<!-- START - Block services -->
									<div class="col-xs-12 col-sm-6 col-lg-6 block-services">

										<span class="icon-services icon ion-android-plane"></span>

										<h3>Days 1-2</h3>

										<p>Depart for Bogotá, Colombia. After checking into the hotel, enjoy time on your own getting to know this breathtaking city. Should you choose, join BOGOWEEK Sunday for a cultural add-on experience that celebrates Colombia's unique heritage and history.</p>

									</div> <!-- END - Block services -->

									<!-- START - Block services -->
									<div class="col-xs-12 col-sm-6 col-lg-6 block-services">

										<span class="icon-services icon ion-android-people"></span>

										<h3>Day 3</h3>

										<p>The day will begin with a market briefing and welcome remarks by Flor &amp; Andres, followed by a company site visit or one-on-one business appointments. We will then enjoy a networking luncheon before additional site visits and business roundtable discussions. End the evening at our Startup Safari Networking Reception at the U.S. Embassy, where you will have the opportunity to network with key Bogotá business, community and government leaders.</p>

									</div> <!-- END - Block services -->

								</div> <!-- END - Services row -->

				            </div>

				            <!-- Services 2 -->
				            <div class="item">

	                			<!-- START - Services row -->
								<div class="row">

									<!-- START - Block services -->
									<div class="col-xs-12 col-sm-6 col-lg-6 block-services">

										<span class="icon-services icon ion-ios-speedometer"></span>
										<h3>Day 4</h3>

										<p>Continue meeting potential representation, direct sales or joint ventures partners in Bogotá in the morning. At noon, join us for a foreign direct investment luncheon that will highlight opportunities for Colombia companies and capital groups to invest in your local city's businesses. In the afternoon, join us at additional company site visits or meetings designed to better help you understand business culture in Colombia.</p>

									</div> <!-- END - Block services -->

									<!-- START - Block services -->
									<div class="col-xs-12 col-sm-6 col-lg-6 block-services">

										<span class="icon-services icon ion-ios-pulse"></span>

										<h3>Day 5</h3>

										<p>Begin with a market briefing discussing the unique business climate of various other cities. Participants will then go on a company site visit followed by a networking luncheon, attend one-on-one business meetings and meet with potential partners in the region. End the evening at a networking reception with key business, government and community leaders.</p>

									</div> <!-- END - Block services -->

								</div> <!-- END - Services row -->

				            </div>

				            <!-- Services 3 -->
				            <div class="item">

	                			<!-- START - Services row -->
								<div class="row">

									<!-- START - Block services -->
									<div class="col-xs-12 col-sm-6 col-lg-6 block-services">

										<span class="icon-services icon ion-network"></span>
										<h3>Days 6</h3>

										<p>Continue meeting potential representation, direct sales or joint ventures partners and then join us for a foreign direct investment luncheon. The afternoon will also provide plenty of opportunities for companies to conduct site visits, one-on-one business meetings and other appointments.</p>

									</div> <!-- END - Block services -->

									<!-- START - Block services -->
									<div class="col-xs-12 col-sm-6 col-lg-6 block-services">

										<span class="icon-services icon ion-android-plane"></span>

										<h3>Days 7-8</h3>

										<p>During your free time, explore Bogotá’s bustling main street which full of unique shops and souvenirs or visit landmarks. Depart for the airport to return home after a successful trade mission. Companies will walk away from the experience with potential new partners, memorandums of understanding and other agreements to help enter or expand their products and services into Colombian markets.</p>

									</div> <!-- END - Block services -->

								</div> <!-- END - Services row -->

				            </div>

				        </div>
				        <!-- END - Wrapper for carousel items -->

				        <!-- Left arrow -->
				        <a class="carousel-control left" href="#carousel-services" data-slide="prev">
				            <span class="icon-prev"></span>
				        </a>

				        <!-- Right arrow -->
				        <a class="carousel-control right" href="#carousel-services" data-slide="next">
				            <span class="icon-next"></span>
				        </a>
				    
				    </div>
				    <!-- +++ END - Carousel +++ -->

			    </div>

			</div>

			<!-- Slideshow / Image services -->
			<div class="col-xs-12 col-sm-6 col-lg-6 slideshow-services split-section"></div>

		</div>

	</section>

</div>
<!-- +++ END - Services +++ -->