<!-- +++ START - Home +++ -->
<div class="section" id="section0">

	<!-- Your logo -->
	<img src="assets/safari/img/logo.png" alt="" class="home-logo" />

	<!-- Background slideshow & light overlay -->
	<div class="slideshow-home"></div>
	<div class="slide-overlay"></div>

	<div class="intro">

		<!-- Countdown, set up your end date at the very bottom of this file -->
		<div id="clock" class="container open-anim opacity-0"></div>
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-sm-offset-2">
				<p class="open-anim opacity-0">Satartup Safari Bogotá, in partnership with BOGOWEEK, is coordinating an official trade mission to Colombia, led by ecosystem builders Flor Liévano &amp; Andres Hurtado.</p>
				<p class="open-anim opacity-0">With 49.5 million people and a GDP of approximately $331 billion, Colombia offers tremendous opportunities for growing companies interested in increasing their footprint in Latin America.</p>
			</div>
		</div>
		<!-- Line 1695 in js/jquery.fullpage.js is the place to select the anchor scrolling to the section of your choice -->
		<a id="button-more" class="light-btn open-anim opacity-0">More Information</a>

	</div>

	<!-- Scroll indicator -->
	<div class="scroll-indicator">

		<!-- Line 1695 in js/jquery.fullpage.js is the place to select the anchor scrolling to the section of your choice -->
		<a id="indicator-scroll"><i class="icon ion-ios-arrow-down"></i></a>

	</div>

</div>
<!-- +++ END - Home +++ -->