<!-- +++ START - About +++ -->
<div class="section" id="section1">

	<section id="about" class="text-left-block">

		<div class="row row-no-margin">

			<!-- The id="invert-slideshow" and id="invert-text" are used for the responsive mode under 1025px. With that, the slideshow is displayed after the text, looking better for the user experience. If you don't want to invert these divs, just remove the id.-->
			<div id="invert-slideshow" class="col-xs-12 col-sm-6 col-lg-6 slideshow-about split-section"></div>

			<div id="invert-text" class="col-xs-12 col-sm-6 col-lg-6 left-center-text split-section">

				<div class="left-center-part">

					<h2>2020 Status: Closed!</h2>

					<p style="margin-bottom:25px;">The trade mission will take place the business week of February 22 - 28, 2019. This does not include travel dates (February 20, March 1) or the cultural days (February 21, 29).</p>
					<p style="margin-bottom:25px;">This international trade mission will give delegates seeking business opportunities in Colombia unparalleled, exclusive access to companies, government agencies and officials in the market.</p>
					<p style="margin-bottom:25px;">Registration for the Startup Safari Bogotá 2020 trade mission is now closed. The deadline to register for the trade mission was Sunday, November 24, 2019.</p>
					<p>Benefits of participating in a trade mission include:<br/>
						<ul>
							<li>- meetings with potential business partners</li>
							<li>- growth of your international network</li>
							<li>- better idea of market opportunities</li>
							<li>- knowledge exchange</li>
							<li>- raising your profile</li>
						</ul>
					</p>
				</div>

			</div>

		</div>

	</section>

</div>
<!-- +++ END - About +++ -->