<div class="col-xs-12 col-sm-6 col-lg-6 split-section no-padding">

    <div class="portfolio my-gallery" itemscope itemtype="http://schema.org/ImageGallery">

        <!-- 1 -->
        <figure class="col-xs-12 col-sm-6 col-lg-6" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">

            <a href="assets/safari/img/gallery-1.jpg" class="gallery-link small" data-image="assets/safari/img/gallery-1.jpg" itemprop="contentUrl" data-size="1920x1280">

                <img src="assets/safari/img/gallery-1.jpg" itemprop="thumbnail" alt="This is my work" class="img-responsive gallery-img small-square" />

            </a>

            <figcaption itemprop="caption description">

                <div class="photo-details">
                
                    <h4>Get in the Game <small>Creative from Berlin</small></h4>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                </div>

            </figcaption>

        </figure>

        <!-- 2 -->
        <figure class="col-xs-12 col-sm-6 col-lg-6" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">

            <a href="assets/safari/img/gallery-2.jpg" class="gallery-link small" data-image="assets/safari/img/gallery-2.jpg" itemprop="contentUrl" data-size="1920x1280">

                <img src="assets/safari/img/gallery-2.jpg" itemprop="thumbnail" alt="This is my work" class="img-responsive gallery-img small-square" />

            </a>

            <figcaption itemprop="caption description">

                <div class="photo-details">
                
                    <h4>Get in the Game <small>Creative from Berlin</small></h4>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                </div>

            </figcaption>

        </figure>

        <!-- 3 -->
        <figure class="col-xs-12 col-sm-6 col-lg-6" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">

            <a href="assets/safari/img/gallery-3.jpg" class="gallery-link small" data-image="assets/safari/img/gallery-3.jpg" itemprop="contentUrl" data-size="1920x1280">

                <img src="assets/safari/img/gallery-3.jpg" itemprop="thumbnail" alt="This is my work" class="img-responsive gallery-img small-square" />

            </a>

            <figcaption itemprop="caption description">

                <div class="photo-details">
                
                   <h4>Get in the Game <small>Creative from Berlin</small></h4>

                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit.</p>

                </div>

            </figcaption>

        </figure>

        <!-- 4 -->
        <figure class="col-xs-12 col-sm-6 col-lg-6" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">

            <a href="assets/safari/img/gallery-4.jpg" class="gallery-link small" data-image="assets/safari/img/gallery-4.jpg" itemprop="contentUrl" data-size="1920x1280">

                <img src="assets/safari/img/gallery-4.jpg" itemprop="thumbnail" alt="This is my work" class="img-responsive gallery-img small-square" />

            </a>

            <figcaption itemprop="caption description">

                <div class="photo-details">
                
                    <h4>Get in the Game <small>Creative from Berlin</small></h4>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                </div>

            </figcaption>

        </figure>

        <!-- 5 -->
        <figure class="col-xs-12 col-sm-6 col-lg-6" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">

            <a href="assets/safari/img/gallery-5.jpg" class="gallery-link small" data-image="assets/safari/img/gallery-5.jpg" itemprop="contentUrl" data-size="1920x1280">

                <img src="assets/safari/img/gallery-5.jpg" itemprop="thumbnail" alt="This is my work" class="img-responsive gallery-img small-square" />

            </a>

            <figcaption itemprop="caption description">

                <div class="photo-details">
                
                    <h4>Get in the Game <small>Creative from Berlin</small></h4>

                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit.</p>

                </div>

            </figcaption>

        </figure>

        <!-- 6 -->
        <figure class="col-xs-12 col-sm-6 col-lg-6" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">

            <a href="assets/safari/img/gallery-6.jpg" class="gallery-link small" data-image="assets/safari/img/gallery-6.jpg" itemprop="contentUrl" data-size="1920x1280">

                <img src="assets/safari/img/gallery-6.jpg" itemprop="thumbnail" alt="This is my work" class="img-responsive gallery-img small-square" />

            </a>

            <figcaption itemprop="caption description">

                <div class="photo-details">
                
                    <h4>Get in the Game <small>Creative from Berlin</small></h4>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                </div>

            </figcaption>

        </figure>

    </div>

</div>