<div class="col-xs-12 col-sm-6 col-lg-6 split-section no-padding">

    <div class="portfolio my-gallery" itemscope itemtype="http://schema.org/ImageGallery">

        <!-- 1 -->
        <figure class="col-xs-12 col-sm-6 col-lg-6" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">

            <a href="assets/safari/img/gallery-1.jpg" class="gallery-link small" data-image="assets/safari/img/gallery-1.jpg" itemprop="contentUrl" data-size="1920x1280">

                <img src="assets/safari/img/gallery-1.jpg" itemprop="thumbnail" alt="This is my work" class="img-responsive gallery-img small-square" />

            </a>

            <figcaption itemprop="caption description">

                <div class="photo-details">
                
                    <h4>Days 1-2 <small>Sat. (2/22) to Sun. (2/23)</small></h4>

                    <p>Depart for Bogotá, Colombia. After checking into the hotel, enjoy time on your own getting to know this breathtaking city. Should you choose, join BOGOWEEK throughout the week for a cultural add-on experience that celebrates Colombia's unique entrepreneurship &amp; startup community.</p>

                </div>

            </figcaption>

        </figure>

        <!-- 2 -->
        <figure class="col-xs-12 col-sm-6 col-lg-6" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">

            <a href="assets/safari/img/gallery-2.jpg" class="gallery-link small" data-image="assets/safari/img/gallery-2.jpg" itemprop="contentUrl" data-size="1920x1280">

                <img src="assets/safari/img/gallery-2.jpg" itemprop="thumbnail" alt="This is my work" class="img-responsive gallery-img small-square" />

            </a>

            <figcaption itemprop="caption description">

                <div class="photo-details">
                
                    <h4>Day 3 <small>Mon. (2/24)</small></h4>

                    <p>The day will begin with a market briefing and welcome remarks by Flor &amp; Andres, followed by a company site visit or one-on-one business appointments. We will then enjoy a networking luncheon before additional site visits and business roundtable discussions. End the evening at our Startup Safari Networking Reception at the U.S. Embassy, where you will have the opportunity to network with key Bogotá business, community and government leaders.</p>

                </div>

            </figcaption>

        </figure>

        <!-- 3 -->
        <figure class="col-xs-12 col-sm-6 col-lg-6" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">

            <a href="assets/safari/img/gallery-3.jpg" class="gallery-link small" data-image="assets/safari/img/gallery-3.jpg" itemprop="contentUrl" data-size="1920x1280">

                <img src="assets/safari/img/gallery-3.jpg" itemprop="thumbnail" alt="This is my work" class="img-responsive gallery-img small-square" />

            </a>

            <figcaption itemprop="caption description">

                <div class="photo-details">
                
                   <h4>Day 4 <small>Tue. (2/25)</small></h4>

                    <p>Continue meeting potential representation, direct sales or joint ventures partners in Bogotá in the morning. At noon, join us for a foreign direct investment luncheon that will highlight opportunities for Colombia companies and capital groups to invest in your local city's businesses. In the afternoon, join us at additional company site visits or meetings designed to better help you understand business culture in Colombia.</p>

                </div>

            </figcaption>

        </figure>

        <!-- 4 -->
        <figure class="col-xs-12 col-sm-6 col-lg-6" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">

            <a href="assets/safari/img/gallery-4.jpg" class="gallery-link small" data-image="assets/safari/img/gallery-4.jpg" itemprop="contentUrl" data-size="1920x1280">

                <img src="assets/safari/img/gallery-4.jpg" itemprop="thumbnail" alt="This is my work" class="img-responsive gallery-img small-square" />

            </a>

            <figcaption itemprop="caption description">

                <div class="photo-details">
                
                    <h4>Day 5 <small>Wed. (2/26)</small></h4>

                    <p>Begin with a market briefing discussing the unique business climate of various other cities. Participants will then go on a company site visit followed by a networking luncheon, attend one-on-one business meetings and meet with potential partners in the region. End the evening at a networking reception with key business, government and community leaders.</p>

                </div>

            </figcaption>

        </figure>

        <!-- 5 -->
        <figure class="col-xs-12 col-sm-6 col-lg-6" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">

            <a href="assets/safari/img/gallery-5.jpg" class="gallery-link small" data-image="assets/safari/img/gallery-5.jpg" itemprop="contentUrl" data-size="1920x1280">

                <img src="assets/safari/img/gallery-5.jpg" itemprop="thumbnail" alt="This is my work" class="img-responsive gallery-img small-square" />

            </a>

            <figcaption itemprop="caption description">

                <div class="photo-details">
                
                    <h4>Days 6-7 <small>Thu. (2/27) to Fri. (2/28)</small></h4>

                    <p>Continue meeting potential representation, direct sales or joint ventures partners and then join us for a foreign direct investment luncheon. The afternoon will also provide plenty of opportunities for companies to conduct site visits, one-on-one business meetings and other appointments. During your free time, explore Bogotá’s bustling main street which full of unique shops and souvenirs or visit landmarks.</p>

                </div>

            </figcaption>

        </figure>

        <!-- 6 -->
        <figure class="col-xs-12 col-sm-6 col-lg-6" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">

            <a href="assets/safari/img/gallery-6.jpg" class="gallery-link small" data-image="assets/safari/img/gallery-6.jpg" itemprop="contentUrl" data-size="1920x1280">

                <img src="assets/safari/img/gallery-6.jpg" itemprop="thumbnail" alt="This is my work" class="img-responsive gallery-img small-square" />

            </a>

            <figcaption itemprop="caption description">

                <div class="photo-details">
                
                    <h4>Days 8-9 <small>Sat. (2/29) to Sun. (3/1)</small></h4>

                    <p>Depart for the airport to return home after a successful trade mission. Companies will walk away from the experience with potential new partners, memorandums of understanding and other agreements to help enter or expand their products and services into Colombian markets.</</p>

                </div>

            </figcaption>

        </figure>

    </div>

</div>