<body id="home" class="wide body-light">
  <!-- Preloader -->
  <div id="preloader">
    <div id="status">
      <div class="spinner"></div>
    </div>
  </div>
  <!-- Wrap all content -->
  <div class="wrapper">
    <!-- HEADER -->
    <header class="header fixed">
      <div class="container">
        <div class="header-wrapper clearfix">
          <!-- Logo -->
          <div class="logo">
            <a href="#home" class="scroll-to"> <span class="fa-stack">
                <i class="fa logo-hex fa-stack-2x"></i>
                <i class="fa logo-fa fa-map-marker fa-stack-1x"></i>
              </span>
              StartUpCON Bogotá
            </a>
          </div>
          <!-- /Logo -->
          <!-- Navigation -->
          <div id="mobile-menu"></div>
          <nav class="navigation closed clearfix"> <a href="#" class="menu-toggle btn"><i class="fa fa-bars"></i></a>
            <ul class="sf-menu nav">
              <li class="active"><a href="{{ site.url }}/scon">Inicio</a></li>
              <li><a href="#about">Sobre</a></li>
              <li><a href="#speakers">Speakers</a></li>
              <li><a href="#sponsors">Aliados</a></li>
            </ul>
          </nav>
          <!-- /Navigation -->
        </div>
      </div>
    </header>
    <!-- /HEADER -->
    <!-- Content area -->
    <div class="content-area">
      <div id="main">
        <!-- SLIDER -->
        <section class="page-section no-padding background-img-slider">
          <div class="container">
            <div id="main-slider" class="owl-carousel owl-theme">
              <!-- Slide -->
              <div class="item page text-center slide0">
                <div class="caption">
                  <div class="container">
                    <div class="div-table">
                      <div class="div-cell">
                        <h2 class="caption-title" data-animation="fadeInDown" data-animation-delay="100"><span>28 al 29 de agosto</span></h2>
                        <h3 class="caption-subtitle" data-animation="fadeInUp" data-animation-delay="300">StartUpCON Bogotá</h3>
                        <div class="countdown-wrapper">
                          <div id="defaultCountdown" class="defaultCountdown clearfix"></div>
                        </div>
                        <p class="caption-text"> <a class="btn btn-theme btn-theme-xl" href="https://bogoweek.co/scon" data-toggle="modal" data-animation="flipInY" data-animation-delay="600"> Regístrese gratis <i class="fa fa-arrow-circle-right"></i></a>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Slide -->
              <div class="item page text-center slide1">
                <div class="caption">
                  <div class="container">
                    <div class="div-table">
                      <div class="div-cell">
                        <h2 class="caption-title" data-animation="fadeInDown" data-animation-delay="100"><span>28 al 29 de agosto</span></h2>
                        <h3 class="caption-subtitle" data-animation="fadeInUp" data-animation-delay="300">#StartUpCON2020</h3>
                        <p class="caption-text"> <a class="btn btn-theme btn-theme-xl" href="#register" data-toggle="modal" data-animation="flipInY" data-animation-delay="600"> Más informacion pronto <i class="fa fa-arrow-circle-right"></i></a>
                          <!--<a class="btn btn-theme btn-theme-xl btn-theme-transparent-white" href="http://www.youtube.com/watch?v=O-zpOMYRi0w" data-gal="prettyPhoto" data-animation="flipInY" data-animation-delay="900">Watch video</a>-->
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Event description -->
          <div class="event-description">
            <div class="container">
              <div class="row">
                <div class="event-background">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="media">
                          <span class="pull-left"><i class="fa fa-calendar fa-2x"></i></span>
                          <div class="media-body">
                            <h4 class="media-heading">Fecha</h4>
                            <span>28 al 29 de agosto del 2020</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="media"> <span class="pull-left">
                          <i class="fa fa-group fa-2x media-object"></i></span>
                          <div class="media-body">
                            <h4 class="media-heading">Hora</h4>
                            <span>10 AM - 5 PM COL (GMT-5:00)</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="media">
                          <span class="pull-left"><i class="fa fa-map-marker fa-2x"></i></span>
                          <div class="media-body">
                            <h4 class="media-heading">Locacion</h4>
                            <span>Virtual</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="media"> <span class="pull-left">
                          <i class="fa fa-microphone fa-2x"></i></span>
                          <div class="media-body">
                            <h4 class="media-heading">Speakers</h4>
                            <span>15 chuleria de speakers</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /Event description -->
        </section>
        <!-- /SLIDER -->
      </div>
      <!-- PAGE ABOUT -->
      <section class="page-section" id="about">
        <div class="container">
          <h1 class="section-title">
                            <span data-animation="flipInY" data-animation-delay="300" class="icon-inner"><span class="fa-stack"><i class="fa rhex fa-stack-2x"></i><i class="fa fa-star fa-stack-1x"></i></span></span>
                            <span data-animation="fadeInRight" data-animation-delay="500" class="title-inner">Sobre el evento<small> / ¿Que va pasar?</small></span>
                        </h1>
          <div class="row">
            <div class="col-lg-8">
              <p data-animation="fadeInUp" data-animation-delay="300">StartUpCON Bogotá es una serie de eventos de dos días diseñados para proporcionar a los empresarios locales capacitación y recursos en áreas temáticas críticas para ayudarles a crecer y acelerar sus negocios. Asista a un día completo, o solo a las clases que se ajusten a su horario y necesidades. Escuche de un panel inspirador de expertos empresariales exitosos durante la sesión de bienvenida. Luego, elija sus clases para aprender a mejorar sus habilidades, su carrera o su negocio. Entre sesiones, pase por el piso de actividades y la Barra de aprendizaje para obtener ayuda 1: 1 de la comunidad sobre sus necesidades individuales.</p>
              <p class="btn-row"> <a href="#register" data-toggle="modal" class="btn btn-theme btn-theme-xl" data-animation="flipInY" data-animation-delay="200">Regístracion gratis <i class="fa fa-arrow-circle-right"></i></a>
                <!--<a href="#" class="btn btn-theme btn-theme-xl btn-theme-transparent" data-animation="flipInY" data-animation-delay="400">Watch video</a>-->
              </p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 pull-left">
              <!-- Thumbnails -->
              <div class="row thumbnails">
                <div class="col-sm-6 col-xs-6">
                  <div class="thumbnail no-border no-padding" data-animation="fadeInLeft" data-animation-delay="100">
                    <div class="media">
                      <img src="{{ site.url }}/assets/scon/img/preview/about-sm-1.jpg" alt="">
                      <div class="caption hovered">
                        <div class="caption-wrapper div-table">
                          <div class="caption-inner div-cell">
                            <p class="caption-buttons"><a href="{{ site.url }}/assets/scon/img/preview/about-lg-1.jpg" class="btn caption-zoom" data-gal="prettyPhoto"><i class="fa fa-search"></i></a>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-xs-6">
                  <div class="thumbnail no-border no-padding" data-animation="fadeInDown" data-animation-delay="200">
                    <div class="media">
                      <img src="{{ site.url }}/assets/scon/img/preview/about-sm-2.jpg" alt="">
                      <div class="caption hovered">
                        <div class="caption-wrapper div-table">
                          <div class="caption-inner div-cell">
                            <p class="caption-buttons"><a href="{{ site.url }}/assets/scon/img/preview/about-lg-2.jpg" class="btn caption-zoom" data-gal="prettyPhoto"><i class="fa fa-search"></i></a>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-xs-6">
                  <div class="thumbnail no-border no-padding" data-animation="fadeInRight" data-animation-delay="300">
                    <div class="media">
                      <img src="{{ site.url }}/assets/scon/img/preview/about-sm-3.jpg" alt="">
                      <div class="caption hovered">
                        <div class="caption-wrapper div-table">
                          <div class="caption-inner div-cell">
                            <p class="caption-buttons"><a href="{{ site.url }}/assets/scon/img/preview/about-lg-3.jpg" class="btn caption-zoom" data-gal="prettyPhoto"><i class="fa fa-search"></i></a>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-xs-6">
                  <div class="thumbnail no-border no-padding" data-animation="fadeInUp" data-animation-delay="400">
                    <div class="media">
                      <img src="{{ site.url }}/assets/scon/img/preview/about-sm-4.jpg" alt="">
                      <div class="caption hovered">
                        <div class="caption-wrapper div-table">
                          <div class="caption-inner div-cell">
                            <p class="caption-buttons"><a href="{{ site.url }}/assets/scon/img/preview/about-lg-4.jpg" class="btn caption-zoom" data-gal="prettyPhoto"><i class="fa fa-search"></i></a>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /Thumbnails -->
            </div>
          </div>
        </div>
      </section>
      <!-- /PAGE ABOUT -->
      <!-- Donation -->
      <section class="page-section color" id="donation">
        <div class="container">
          <h1 class="section-title">
            <span data-animation="flipInY" data-animation-delay="300" class="icon-inner"><span class="fa-stack"><i class="fa rhex fa-stack-2x"></i><i class="fa fa-ticket fa-stack-1x"></i></span></span>
            <span data-animation="fadeInRight" data-animation-delay="500" class="title-inner">MASTERCLASSES<small> / Aprednisaje para aplicar instataneamente en su negicio.</small></span>
          </h1>
          <p>StartUpCON Bogotá se lleva a cabo virtualmente. Los speakers invitados van mas aja de un taller normal, y les dan aprendisaje para ejecutar ahora.</p>
        </div>
      </section>
      <!-- /Donation -->
      {% include scon2020_body_schedule.html %}
      <!-- PAGE SPONSORS -->
      <section class="page-section" id="sponsors">
        <div class="container">
          <h1 class="section-title">
            <span data-animation="flipInY" data-animation-delay="100" class="icon-inner"><span class="fa-stack"><i class="fa rhex fa-stack-2x"></i><i class="fa fa-thumbs-up fa-stack-1x"></i></span></span>
            <span data-animation="fadeInRight" data-animation-delay="100" class="title-inner">Nuestros patrocinadores y aliados <small> / Muchas gracias por #DarPrimero</small></span>
          </h1>
          <div class="partners-carousel" data-animation="fadeInUp" data-animation-delay="300">
            <div class="owl-carousel">
              <div>
                <a href="#">
                  <img src="{{ site.url }}/assets/twk/img/sponsor/logo-techstars.png" alt="" />
                </a>
              </div>
              <div>
                <a href="#">
                  <img src="{{ site.url }}/assets/twk/img/sponsor/logo-orangeup.png" alt="" />
                </a>
              </div>
              <div>
                <a href="#">
                  <img src="{{ site.url }}/assets/twk/img/sponsor/logo-suego.png" alt="" />
                </a>
              </div>
              <div>
                <a href="#">
                  <img src="{{ site.url }}/assets/twk/img/partner/logo-bloomshift.png" alt="" />
                </a>
              </div>
              <div>
                <a href="#">
                  <img src="{{ site.url }}/assets/twk/img/partner/logo-inco.png" alt="" />
                </a>
              </div>
              <div>
                <a href="#">
                  <img src="{{ site.url }}/assets/twk/img/partner/logo-STCS.png" alt="" />
                </a>
              </div>
            </div>
          </div>
          <div class="text-center margin-top"> <a data-animation="flipInY" data-animation-delay="500" href="#" class="btn btn-theme"><i class="fa fa-thumbs-up"></i> Patrocinar</a>
          </div>
        </div>
      </section>
      <!-- /PAGE SPONSORS -->
    </div>
    <!-- /Content area -->
    <!-- FOOTER -->
    <footer class="footer">
      <div class="footer-meta">
        <div class="container text-center">
          <div class="clearfix">
            <ul class="social-line list-inline">
              <li data-animation="flipInY" data-animation-delay="100"><a href="https://twitter.com/bogoweek" class="twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
              <li data-animation="flipInY" data-animation-delay="300"><a href="https://fb.me/bogoweek" class="facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
              <li data-animation="flipInY" data-animation-delay="500"><a href="https://instagram.com/bogoweek" class="instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div> <span class="copyright" data-animation="fadeInUp" data-animation-delay="100">&copy; 2020 Techstars Startup Week Bogotá &#8212; All rights reserved.</span>
        </div>
      </div>
    </footer>
    <!-- /FOOTER -->
    <div class="to-top"><i class="fa fa-angle-up"></i>
    </div>
  </div>
  <!-- /Wrap all content -->
  <!-- Popup: Register -->
  <div class="modal fade" id="register" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <button type="button" class="close close-btn" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
      </button>
      <section class="popup-register">
        <h1 class="section-title">
                        <span data-animation="flipInY" data-animation-delay="300" class="icon-inner"><span class="fa-stack"><i class="fa rhex fa-stack-2x"></i><i class="fa fa-ticket fa-stack-1x"></i></span></span>
                        <span data-animation="fadeInRight" data-animation-delay="500" class="title-inner">Register now <small> / dont mıss event!</small></span>
                    </h1>
        <form id="registration-form" name="registration-form" class="registration-form" action="#" method="post">
          <iframe src="//eventbrite.com/tickets-external?eid=113051502086&aff=bloomshift&ref=etckt" frameborder="0" height="300px" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="no" allowtransparency="true"></iframe>
        </form>
      </section>
    </div>
  </div>
  <!-- /Popup: Register -->
  <!-- JS Global -->
  <!--[if lt IE 9]><script src="{{ site.url }}/assets/scon/plugins/jquery/jquery-1.11.1.min.js"></script><![endif]-->
  <!--[if gte IE 9]><!-->
  <script src="{{ site.url }}/assets/scon/plugins/jquery/jquery-2.1.1.min.js"></script>
  <!--<![endif]-->
  <script src="{{ site.url }}/assets/scon/plugins/bootstrap/js/bootstrap.min.js"></script>
  <script src="{{ site.url }}/assets/scon/plugins/bootstrap-select/bootstrap-select.min.js"></script>
  <script src="{{ site.url }}/assets/scon/plugins/superfish/js/superfish.js"></script>
  <script src="{{ site.url }}/assets/scon/plugins/modernizr.custom.js"></script>
  <script src="{{ site.url }}/assets/scon/plugins/prettyphoto/js/jquery.prettyPhoto.js"></script>
  <script src="{{ site.url }}/assets/scon/plugins/placeholdem.min.js"></script>
  <script src="{{ site.url }}/assets/scon/plugins/jquery.smoothscroll.min.js"></script>
  <!-- JS Page Level -->
  <script src="{{ site.url }}/assets/scon/plugins/owlcarousel2/owl.carousel.min.js"></script>
  <script src="{{ site.url }}/assets/scon/plugins/waypoints/waypoints.min.js"></script>
  <script src="{{ site.url }}/assets/scon/plugins/countdown/jquery.plugin.min.js"></script>
  <script src="{{ site.url }}/assets/scon/plugins/countdown/jquery.countdown.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
  <!--<script src="{{ site.url }}/assets/scon/js/theme-ajax-mail.js"></script>-->
  <script src="{{ site.url }}/assets/scon/js/theme_scaleup.js"></script>
  <script src="{{ site.url }}/assets/scon/js/custom.js"></script>
  <script src="{{ site.url }}/assets/scon/plugins/jquery.easing.min.js"></script>
</body>
