<section class="page-section light" id="schedule">
  <div class="container">
    <div class="row">
      <div class="col-md-8 pull-left">
        <h1 class="section-title">
          <span data-animation="flipInY" data-animation-delay="300" class="icon-inner">
            <span class="fa-stack">
              <i class="fa rhex fa-stack-2x"></i>
              <i class="fa fa-star fa-stack-1x"></i>
            </span>
          </span>
          <span data-animation="fadeInRight" data-animation-delay="500" class="title-inner">Agenda
            <small>/ Actualizamos cada lunes</small>
          </span>
        </h1>
      </div>
      <div class="col-md-4 text-right-md pull-right">
        <a href="#" class="btn btn-theme btn-theme-lg btn-theme-transparent-grey pull-right"
                                   data-animation="flipInY" data-animation-delay="300">
          <i class="fa fa-print"></i> Descargar la agenda
        </a>
      </div>
    </div>
    <!-- Schedule -->
    <div class="schedule-wrapper clear" data-animation="fadeIn" data-animation-delay="200">
      <div class="schedule-tabs lv1">
        <ul id="tabs-lv1"  class="nav nav-justified">
          <li class="active">
            <a href="#tab-first" data-toggle="tab">
              <strong>Día 01</strong>
              <br/>Viernes 28
            </a>
          </li>
          <li>
            <a href="#tab-second" data-toggle="tab">
              <strong>Día 02</strong>
              <br/>Sábado 29
            </a>
          </li>
        </ul>
      </div>
      <div class="tab-content lv1">
        <!-- tab1 -->
        <div id="tab-first" class="tab-pane fade in active">
          <div class="schedule-tabs lv2">
            <ul id="tabs-lv21"  class="nav nav-justified">
              <li class="active">
                <a href="#tab-lv21-first" data-toggle="tab">Sala 01</a>
              </li>
            </ul>
          </div>
          <div class="tab-content lv2">
            <div id="tab-lv21-first" class="tab-pane fade in active">
              <div class="timeline">
                <article class="post-wrap" data-animation="fadeInUp" data-animation-delay="300">
                  <div class="media">
                    <!-- -->
                    <div class="post-media pull-left">
                      <img src="assets/img/preview/avatar-v2-1.jpg" alt="" class="media-object" />
                    </div>
                    <!-- -->
                    <div class="media-body">
                      <div class="post-header">
                        <div class="post-meta">
                          <span class="post-date">
                            <i class="fa fa-clock-o"></i> 09:30 AM - 10:00 AM
                          </span>
                          <a href="#" class="pull-right">
                            <span class="fa-stack fa-lg">
                              <i class="fa fa-stack-2x fa-circle-thin"></i>
                              <i class="fa fa-stack-1x fa-share-alt"></i>
                            </span>
                          </a>
                        </div>
                        <h2 class="post-title">
                          <a href="#">Check-In y Recursos</a>
                        </h2>
                      </div>
                      <div class="post-body">
                        <div class="post-excerpt">
                          <p>Llegue temprano para garantizar el tiempo suficiente para aprender a navegar por la plataforma. Disfrute de los recursos para socios y explore el piso de actividades antes de que la sesión de bienvenida comience puntualmente a las 10:00 a.m.</p>
                        </div>
                      </div>
                      <div class="post-footer">
                        <span class="post-readmore">
                          <i class="fa fa-microphone"></i>
                          Patrocinado por <strong>SynerTech Cloud Solutions</strong>
                        </span>
                      </div>
                    </div>
                    <!-- -->
                  </div>
                </article>
                <article class="post-wrap" data-animation="fadeInUp" data-animation-delay="200">
                  <div class="media">
                    <!-- -->
                    <div class="post-media pull-left">
                      <img src="assets/img/preview/avatar-v2-2.jpg" alt="" class="media-object" />
                    </div>
                    <!-- -->
                    <div class="media-body">
                      <div class="post-header">
                        <div class="post-meta">
                          <span class="post-date">
                            <i class="fa fa-clock-o"></i> 10:00 AM - 10:45 AM
                          </span>
                          <a href="#" class="pull-right">
                            <span class="fa-stack fa-lg">
                              <i class="fa fa-stack-2x fa-circle-thin"></i>
                              <i class="fa fa-stack-1x fa-share-alt"></i>
                            </span>
                          </a>
                        </div>
                        <h2 class="post-title">
                          <a href="#">Saludos y bienvenida</a>
                        </h2>
                      </div>
                      <div class="post-body">
                        <div class="post-excerpt">
                          <p>Comience su día de aprendizaje con una sesión de bienvenida con un panel inspirador de propietarios de negocios internacionales.</p>
                        </div>
                      </div>
                      <div class="post-footer">
                        <span class="post-readmore">
                          <i class="fa fa-microphone"></i> Andrés Hurtado Rangel / CEO at StartUpCON
                        </span>
                      </div>
                    </div>
                    <!-- -->
                  </div>
                </article>
                <article class="post-wrap" data-animation="fadeInUp" data-animation-delay="300">
                  <div class="media">
                    <!-- -->
                    <div class="post-media pull-left">
                      <img src="assets/img/preview/avatar-v2-3.jpg" alt="" class="media-object" />
                    </div>
                    <!-- -->
                    <div class="media-body">
                      <div class="post-header">
                        <div class="post-meta">
                          <span class="post-date">
                            <i class="fa fa-clock-o"></i> 11:15 AM - 6:00 PM
                          </span>
                          <a href="#" class="pull-right">
                            <span class="fa-stack fa-lg">
                              <i class="fa fa-stack-2x fa-circle-thin"></i>
                              <i class="fa fa-stack-1x fa-share-alt"></i>
                            </span>
                          </a>
                        </div>
                        <h2 class="post-title">
                          <a href="#">Varias clases (reveladas el 27 de julio)</a>
                        </h2>
                      </div>
                      <div class="post-body">
                        <div class="post-excerpt">
                          <p>Estén atentos para más actualizaciones.</p>
                        </div>
                      </div>
                      <div class="post-footer">
                        <span class="post-readmore">
                          <i class="fa fa-microphone"></i> Varios speakers
                        </span>
                      </div>
                    </div>
                    <!-- -->
                  </div>
                </article>
              </div>
            </div>
          </div>
        </div>
        <!-- tab2 -->
        <div id="tab-second" class="tab-pane fade">
          <div class="schedule-tabs lv2">
            <ul id="tabs-lv22"  class="nav nav-justified">
              <li class="active">
                <a href="#tab-lv22-first" data-toggle="tab">Sala 01</a>
              </li>
            </ul>
          </div>
          <div class="tab-content lv2">
            <div id="tab-lv22-first" class="tab-pane fade in active">
              <div class="timeline">
                <article class="post-wrap">
                  <div class="media">
                    <!-- -->
                    <div class="post-media pull-left">
                      <img src="assets/img/preview/avatar-v2-2.jpg" alt="" class="media-object" />
                    </div>
                    <!-- -->
                    <div class="media-body">
                      <div class="post-header">
                        <div class="post-meta">
                          <span class="post-date">
                            <i class="fa fa-clock-o"></i> 09:45 AM - 10:15 AM
                          </span>
                          <a href="#" class="pull-right">
                            <span class="fa-stack fa-lg">
                              <i class="fa fa-stack-2x fa-circle-thin"></i>
                              <i class="fa fa-stack-1x fa-share-alt"></i>
                            </span>
                          </a>
                        </div>
                        <h2 class="post-title">
                          <a href="#">Saludos y bienvenida</a>
                        </h2>
                      </div>
                      <div class="post-body">
                        <div class="post-excerpt">
                          <p>Comience su día de aprendizaje con una sesión de bienvenida con un panel inspirador de propietarios de negocios internacionales.</p>
                        </div>
                      </div>
                      <div class="post-footer">
                        <span class="post-readmore">
                          <i class="fa fa-microphone"></i> Flor Liévano / CEO at OrangeUP

                          <a href="#">
                            <i class="fa fa-facebook"></i>
                          </a>
                          <a href="#">
                            <i class="fa fa-twitter"></i>
                          </a>
                          <a href="#">
                            <i class="fa fa-linkedin"></i>
                          </a>
                          <a href="#">
                            <i class="fa fa-instagram"></i>
                          </a>
                        </span>
                      </div>
                    </div>
                    <!-- -->
                  </div>
                </article>
                <article class="post-wrap">
                  <div class="media">
                    <!-- -->
                    <div class="post-media pull-left">
                      <img src="assets/img/preview/avatar-v2-1.jpg" alt="" class="media-object" />
                    </div>
                    <!-- -->
                    <div class="media-body">
                      <div class="post-header">
                        <div class="post-meta">
                          <span class="post-date">
                            <i class="fa fa-clock-o"></i> 11:15 AM - 06:00 PM
                          </span>
                          <a href="#" class="pull-right">
                            <span class="fa-stack fa-lg">
                              <i class="fa fa-stack-2x fa-circle-thin"></i>
                              <i class="fa fa-stack-1x fa-share-alt"></i>
                            </span>
                          </a>
                        </div>
                        <h2 class="post-title">
                          <a href="#">Varias clases (reveladas el 27 de julio)</a>
                        </h2>
                      </div>
                      <div class="post-body">
                        <div class="post-excerpt">
                          <p>Estén atentos para más actualizaciones.</p>
                        </div>
                      </div>
                      <div class="post-footer">
                        <span class="post-readmore">
                          <i class="fa fa-microphone"></i>
                          <strong>John Doe</strong> / CEO at Crown.io

                          <a href="#">
                            <i class="fa fa-facebook"></i>
                          </a>
                          <a href="#">
                            <i class="fa fa-twitter"></i>
                          </a>
                          <a href="#">
                            <i class="fa fa-linkedin"></i>
                          </a>
                          <a href="#">
                            <i class="fa fa-instagram"></i>
                          </a>
                        </span>
                      </div>
                    </div>
                    <!-- -->
                  </div>
                </article>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Schedule -->
  </div>
</section>
