<head>
  <meta charset="utf-8">
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }} | {{ site.title }}</title>
  <!-- Favicons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.url }}/assets/scon/ico/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="{{ site.url }}/assets/scon/ico/favicon.ico">
  <!-- CSS Global -->
  <link href="{{ site.url }}/assets/scon/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="{{ site.url }}/assets/scon/plugins/fontawesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="{{ site.url }}/assets/scon/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet">
  <link href="{{ site.url }}/assets/scon/plugins/owlcarousel2/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="{{ site.url }}/assets/scon/plugins/owlcarousel2/assets/owl.theme.default.min.css" rel="stylesheet">
  <link href="{{ site.url }}/assets/scon/plugins/prettyphoto/css/prettyPhoto.css" rel="stylesheet">
  <link href="{{ site.url }}/assets/scon/plugins/animate/animate.min.css" rel="stylesheet">
  <link href="{{ site.url }}/assets/scon/plugins/countdown/jquery.countdown.css" rel="stylesheet">
  <link href="{{ site.url }}/assets/scon/css/theme.css" rel="stylesheet">
  <link href="{{ site.url }}/assets/scon/css/custom.css" rel="stylesheet">
  <!--[if lt IE 9]>
        <script src="{{ site.url }}/assets/scon/plugins/iesupport/html5shiv.js"></script>
        <script src="{{ site.url }}/assets/scon/plugins/iesupport/respond.min.js"></script>
        <![endif]-->
</head>
