<div class="content__inner">
	<div class="section full-height over-y-scroll" id="boxscroll-1">
		<div class="section" id="boxscroll-in-1">
			<div class="section padding-top-big">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h2 class="content__title">speakers del festival</h2>
						</div>
						<div class="col-lg-4 mt-3">
							<h3 class="content__subtitle">Te traemos la combinación perfecta de contenido y experiencia para encender tu corazón, equipar tu mente y acelerar tu habilidad.</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="section padding-top-bottom">
				<div class="container">
					<div class="row">
						<div class="offset-md-3 col-md-9">
							<h4>auditorio</h4>
							<div class="title-page-line mt-4 mb-5"></div>
						</div>
						<div class="col-md-3">
							<div class="speaker-image">
								<h6>Aplicar</h6>
								<img src="assets/img/speakers/speak-aplicar.jpg" alt="">
							</div>
						</div>
						<div class="col-md-9 mt-4 mt-md-0">
							<h5>¿Queres ser speaker?</h5>
							<p><em>La fecha límite es el 12 de enero.</em></p>
							<p class="mt-4">Seleccionar hasta sesenta (60) speakers, que de manera voluntaria y sin retribución económica alguna esté interesados en compartir sus vivencias, éxitos, fracasos, experiencias y visiones con la comunidad emprendedora (emprendedores, empresarios y líderes representantes de organizaciones de fomento al desarrollo empresarial), con el objetivo de contribuir al desarrollo empresarial del país.</p>
							<div class="social-team mt-4">
								<a href="https://bogoweek.co/speaker2020" style="background: linear-gradient(45deg, #0947db, #07d89d);padding: 7px 22px;display: block;position: absolute;border-radius: 3px;" target="_blank">Aplicación</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="section padding-bottom-big">
				<div class="container">
					<div class="row">
						<div class="offset-md-3 col-md-9">
							<h4>speakers en 2019</h4>
							<div class="title-page-line mt-4 mb-5"></div>
						</div>
						<div class="col-md-3">
							<div class="speaker-image">
								<h6>Flor L.</h6>
								<img src="assets/img/speakers/speak-lievano.jpg" alt="">
							</div>
						</div>
						<div class="col-md-9 mt-4 mt-md-0">
							<h5>Fundadora</h5>
							<p><em>OrangeUP, Bogotá, Colombia</em></p>
							<div class="social-team mt-4">
								<a href="https://linkedin.com/in/flor-lievano-11844563/" target="_blank">in</a>
							</div>
						</div>
						<div class="col-md-3 mt-5">
							<div class="speaker-image">
								<h6>Steven R.</h6>
								<img src="assets/img/speakers/speak-rodriguez.jpg" alt="">
							</div>
						</div>
						<div class="col-md-9 mt-4 mt-md-5">
							<h5>Fundador</h5>
							<p><em>Techstars, Washington D.C., Estados Unidos</em></p>
							<div class="social-team mt-4">
								<a href="https://linkedin.com/in/stevenarodriguez/" target="_blank">in</a>
							</div>
						</div>
						<div class="col-md-3 mt-5">
							<div class="speaker-image">
								<h6>Juliana D.</h6>
								<img src="assets/img/speakers/speak-diaz.png" alt="">
							</div>
						</div>
						<div class="col-md-9 mt-4 mt-md-5">
							<h5>Fundadora</h5>
							<p><em>Connect Your Brand, Bogotá, Colombia</em></p>
							<div class="social-team mt-4">
								<a href="https://www.linkedin.com/in/julianadiazalvarez/" target="_blank">in</a>
							</div>
						</div>
						<div class="col-md-3 mt-5">
							<div class="speaker-image">
								<h6>Fabrizio G.</h6>
								<img src="assets/img/speakers/speak-gonzalezf.png" alt="">
							</div>
						</div>
						<div class="col-md-9 mt-4 mt-md-5">
							<h5>Fundador</h5>
							<p><em>Tuatara, Bogotá, Colombia</em></p>
							<div class="social-team mt-4">
								<a href="https://www.linkedin.com/in/fabrizio-gonzalez-maroso/" target="_blank">in</a>
							</div>
						</div>
						<div class="col-md-3 mt-5">
							<div class="speaker-image">
								<h6>Andrea G.</h6>
								<img src="assets/img/speakers/speak-gonzalez.jpg" alt="">
							</div>
						</div>
						<div class="col-md-9 mt-4 mt-md-5">
							<h5>Fundadora</h5>
							<p><em>El Negro Esta De Moda, Bogotá, Colombia</em></p>
							<div class="social-team mt-4">
								<a href="https://www.linkedin.com/in/andrea-gonzalez-136b017a/" target="_blank">in</a>
							</div>
						</div>
						<div class="col-md-3 mt-5">
							<div class="speaker-image">
								<h6>Mathis V.</h6>
								<img src="assets/img/speakers/speak-varadi.jpg" alt="">
							</div>
						</div>
						<div class="col-md-9 mt-4 mt-md-5">
							<h5>Fundador</h5>
							<p><em>dao, Bogotá, Colombia</em></p>
							<div class="social-team mt-4">
								<a href="https://www.linkedin.com/in/mathis-varadi-72ab48143/" target="_blank">in</a>
							</div>
						</div>
						<div class="col-md-3 mt-5">
							<div class="speaker-image">
								<h6>Laura C.</h6>
								<img src="assets/img/speakers/speak-cortes.png" alt="">
							</div>
						</div>
						<div class="col-md-9 mt-4 mt-md-5">
							<h5>Fundadora</h5>
							<p><em>A Seis Grados, Bogotá, Colombia</em></p>
							<div class="social-team mt-4">
								<a href="https://www.linkedin.com/in/laura-cort%C3%A9s-b5bb97111/" target="_blank">in</a>
							</div>
						</div>
						<div class="col-md-3 mt-5">
							<div class="speaker-image">
								<h6>Julián S.</h6>
								<img src="assets/img/speakers/speak-sanchez.jpg" alt="">
							</div>
						</div>
						<div class="col-md-9 mt-4 mt-md-5">
							<h5>Fundador</h5>
							<p><em>OCICO Pet Care, Bogotá, Colombia</em></p>
							<div class="social-team mt-4"></div>
						</div>
						<div class="col-md-3 mt-5">
							<div class="speaker-image">
								<h6>Carolina M.</h6>
								<img src="assets/img/speakers/speak-medina.jpg" alt="">
							</div>
						</div>
						<div class="col-md-9 mt-4 mt-md-5">
							<h5>Fundadora</h5>
							<p><em>Consultoría Carolina Medina, Bogotá, Colombia</em></p>
							<div class="social-team mt-4">
								<a href="https://www.linkedin.com/in/caromedina/" target="_blank">in</a>
							</div>
						</div>
						<div class="col-md-3 mt-5">
							<div class="speaker-image">
								<h6>Hammand K.</h6>
								<img src="assets/img/speakers/speak-khan.png" alt="">
							</div>
						</div>
						<div class="col-md-9 mt-4 mt-md-5">
							<h5>Fundador</h5>
							<p><em>Meal 9, Bogotá, Colombia</em></p>
							<div class="social-team mt-4">
								<a href="https://www.linkedin.com/in/khan99/" target="_blank">in</a>
							</div>
						</div>
						<div class="col-md-3 mt-5">
							<div class="speaker-image">
								<h6>Claudia H.</h6>
								<img src="assets/img/speakers/speak-hernandez.jpg" alt="">
							</div>
						</div>
						<div class="col-md-9 mt-4 mt-md-5">
							<h5>Fundadora</h5>
							<p><em>Benziger Breakthrough, Bogotá, Colombia</em></p>
							<div class="social-team mt-4"></div>
						</div>
						<div class="col-md-3 mt-5">
							<div class="speaker-image">
								<h6>Ricardo A.</h6>
								<img src="assets/img/speakers/speak-aya.png" alt="">
							</div>
						</div>
						<div class="col-md-9 mt-4 mt-md-5">
							<h5>Fundador</h5>
							<p><em>Bido Music, Bogotá, Colombia</em></p>
							<div class="social-team mt-4">
								<a href="https://www.linkedin.com/in/ricardo-aya-47715520/" target="_blank">in</a>
							</div>
						</div>
						<div class="col-md-3 mt-5">
							<div class="speaker-image">
								<h6>Angélica G.</h6>
								<img src="assets/img/speakers/speak-gonzalez.png" alt="">
							</div>
						</div>
						<div class="col-md-9 mt-4 mt-md-5">
							<h5>Fundadora</h5>
							<p><em>Jelly Job, Bogotá, Colombia</em></p>
							<div class="social-team mt-4"></div>
						</div>
						<div class="col-md-3 mt-5">
							<div class="speaker-image">
								<h6>Andrés C.</h6>
								<img src="assets/img/speakers/speak-castro.png" alt="">
							</div>
						</div>
						<div class="col-md-9 mt-4 mt-md-5">
							<h5>Fundador</h5>
							<p><em>BookStar, Bogotá, Colombia</em></p>
							<div class="social-team mt-4">
								<a href="https://www.linkedin.com/in/andresxcastro/" target="_blank">in</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% include footer.html %}
		</div>
	</div>
</div>