<!-- Section Conference Schedule-->
<section class="section section-lg bg-default text-center">
	<div class="container">
		<a name="agenda"><h6>Agenda del evento</h6></a>
		<h3>Programación.</h3>
		<div class="tabs-custom tabs-horizontal tabs-corporate" id="tabs-1">
			<!--Nav tabs-->
			<ul class="nav nav-tabs">
				<li class="nav-item" role="presentation"><a class="nav-link nav-link nav-link-secondary-darker" href="#tabs-1-1" data-toggle="tab" data-triangle=".nav-link-overlay"><span class="nav-link-overlay"></span><span class="nav-link-cite">Primer Día</span><span class="nav-link-title">Viernes 28 de febrero</span></a>
				</li>
				<li class="nav-item" role="presentation"><a class="nav-link nav-link-purple-heart" href="#tabs-1-2" data-toggle="tab" data-triangle=".nav-link-overlay"><span class="nav-link-overlay"></span><span class="nav-link-cite">Segundo día</span><span class="nav-link-title">Sábado 29 de febrero</span></a>
				</li>
				<li class="nav-item" role="presentation"><a class="nav-link nav-link-primary" href="#tabs-1-3" data-toggle="tab" data-triangle=".nav-link-overlay"><span class="nav-link-overlay"></span><span class="nav-link-cite">Tercer Día</span><span class="nav-link-title">Domingo 01 de marzo</span></a>
				</li>
			</ul>
			<!--Tab panes-->
			<div class="tab-content wow fadeIn">
				<div class="tab-pane fade" id="tabs-1-1">
					<div class="card-group-custom card-group-corporate" id="accordion1" role="tablist" aria-multiselectable="false">
						<!-- Schedule Simple-->
						<div class="schedule-classic schedule-classic-simple">
							<div class="schedule-classic-content">
								<div class="schedule-classic-img">
									<svg class="svg-icon-md svg-icon-primary" role="img">
										<use xlink:href="/assets/tsw/img/svg/sprite.svg#clock"></use>
									</svg>
								</div><span class="schedule-classic-time">5:00 pm</span><span class="schedule-classic-title heading-4">Llegada y registro</span><p>Desde la 5:00 pm puedes llegar. ¿Estas listo?</p>
							</div>
							<div class="schedule-classic-content">
								<div class="schedule-classic-img">
									<svg class="svg-icon-md svg-icon-primary" role="img">
										<use xlink:href="/assets/tsw/img/svg/sprite.svg#clock"></use>
									</svg>
								</div><span class="schedule-classic-time">5:30 pm</span><span class="schedule-classic-title heading-4">Inicio y bienvenida</span><p>Durante este espacio el equipo organizador nos contará un poco de la dinámica del fin de semana.</p>
							</div>
							<div class="schedule-classic-content">
								<div class="schedule-classic-img">
									<svg class="svg-icon-md svg-icon-primary" role="img">
										<use xlink:href="/assets/tsw/img/svg/sprite.svg#clock"></use>
									</svg>
								</div><span class="schedule-classic-time">6:00 pm</span><span class="schedule-classic-title heading-4">Speaker de bienvenida</span><p>Aprovecha el conocimiento del speaker sorpresa.</p>
							</div>
							<div class="schedule-classic-content">
								<div class="schedule-classic-img">
									<svg class="svg-icon-md svg-icon-primary" role="img">
										<use xlink:href="/assets/tsw/img/svg/sprite.svg#clock"></use>
									</svg>
								</div><span class="schedule-classic-time">7:00 pm</span><span class="schedule-classic-title heading-4">Empiezan los pitch</span><p>Haz la fila para presentar tu pitch de 1 minuto. ¡Es tu momento!</p>
							</div>
							<div class="schedule-classic-content">
								<div class="schedule-classic-img">
									<svg class="svg-icon-md svg-icon-primary" role="img">
										<use xlink:href="/assets/tsw/img/svg/sprite.svg#clock"></use>
									</svg>
								</div><span class="schedule-classic-time">7:30 pm</span><span class="schedule-classic-title heading-4">Votaciones</span><p>Todos votan por las ideas que se van a trabajar durante el fin de semana.</p>
							</div>
							<div class="schedule-classic-content">
								<div class="schedule-classic-img">
									<svg class="svg-icon-md svg-icon-primary" role="img">
										<use xlink:href="/assets/tsw/img/svg/sprite.svg#clock"></use>
									</svg>
								</div><span class="schedule-classic-time">8:00 pm</span><span class="schedule-classic-title heading-4">Formen equipos</span><p>Los equipos se empiezan a conformar, procura que sean lo más diversos posible.</p>
							</div>
							<div class="schedule-classic-content">
								<div class="schedule-classic-img">
									<svg class="svg-icon-md svg-icon-primary" role="img">
										<use xlink:href="/assets/tsw/img/svg/sprite.svg#clock"></use>
									</svg>
								</div><span class="schedule-classic-time">8:20 pm</span><span class="schedule-classic-title heading-4">Empieza el trabajo</span><p>Formaliza los equipos en la plataforma y empieza a trabajar.</p>
							</div>
							<div class="schedule-classic-content">
								<div class="schedule-classic-img">
									<svg class="svg-icon-md svg-icon-primary" role="img">
										<use xlink:href="/assets/tsw/img/svg/sprite.svg#clock"></use>
									</svg>
								</div><span class="schedule-classic-time">10:00 pm</span><span class="schedule-classic-title heading-4">Terminamos por hoy</span><p>Debemos salir del edificio, pero puedes seguir trabajando desde casa.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="tabs-1-2">
					<div class="card-group-custom card-group-corporate" id="accordion2" role="tablist" aria-multiselectable="false">
						<!-- Schedule Simple-->
						<div class="schedule-classic schedule-classic-simple">
							<div class="schedule-classic-content">
								<div class="schedule-classic-img">
									<svg class="svg-icon-md svg-icon-primary" role="img">
										<use xlink:href="/assets/tsw/img/svg/sprite.svg#clock"></use>
									</svg>
								</div><span class="schedule-classic-time">9:00 am</span><span class="schedule-classic-title heading-4">Desayuno</span>
							</div>
							<div class="schedule-classic-content">
								<div class="schedule-classic-img">
									<svg class="svg-icon-md svg-icon-primary" role="img">
										<use xlink:href="/assets/tsw/img/svg/sprite.svg#clock"></use>
									</svg>
								</div><span class="schedule-classic-time">9:30 am</span><span class="schedule-classic-title heading-4">Empieza a trabajar</span><p>Los equipos formados empiezan a trabajar. Ponte cómoda.</p>
							</div>
							<div class="schedule-classic-content">
								<div class="schedule-classic-img">
									<svg class="svg-icon-md svg-icon-primary" role="img">
										<use xlink:href="/assets/tsw/img/svg/sprite.svg#clock"></use>
									</svg>
								</div><span class="schedule-classic-time">10:00 am</span><span class="schedule-classic-title heading-4">Presentaciones parciales</span><p>Durante este espacio darás a conocer ante los mentores lo que has trabajado. Ellos te darán retroalimentación.</p>
							</div>
							<div class="schedule-classic-content">
								<div class="schedule-classic-img">
									<svg class="svg-icon-md svg-icon-primary" role="img">
										<use xlink:href="/assets/tsw/img/svg/sprite.svg#clock"></use>
									</svg>
								</div><span class="schedule-classic-time">12:30 pm</span><span class="schedule-classic-title heading-4">Almuerzo</span>
							</div>
							<div class="schedule-classic-content">
								<div class="schedule-classic-img">
									<svg class="svg-icon-md svg-icon-primary" role="img">
										<use xlink:href="/assets/tsw/img/svg/sprite.svg#clock"></use>
									</svg>
								</div><span class="schedule-classic-time">4:00 pm</span><span class="schedule-classic-title heading-4">Presentaciones parciales</span><p>Nuevamente presentarás tus avances a los mentores, recibe la retroalimentación te ayudará a seguir avanzando.</p>
							</div>
							<div class="schedule-classic-content">
								<div class="schedule-classic-img">
									<svg class="svg-icon-md svg-icon-primary" role="img">
										<use xlink:href="/assets/tsw/img/svg/sprite.svg#clock"></use>
									</svg>
								</div><span class="schedule-classic-time">7:00 pm</span><span class="schedule-classic-title heading-4">Comida</span>
							</div>
							<div class="schedule-classic-content">
								<div class="schedule-classic-img">
									<svg class="svg-icon-md svg-icon-primary" role="img">
										<use xlink:href="/assets/tsw/img/svg/sprite.svg#clock"></use>
									</svg>
								</div><span class="schedule-classic-time">7:30 pm</span><span class="schedule-classic-title heading-4">Check-In</span><p>Aprovecha este espacio para hacer preguntas a los organizadores, la facilitadora y los mentores.</p>
							</div>
							<div class="schedule-classic-content">
								<div class="schedule-classic-img">
									<svg class="svg-icon-md svg-icon-primary" role="img">
										<use xlink:href="/assets/tsw/img/svg/sprite.svg#clock"></use>
									</svg>
								</div><span class="schedule-classic-time">9:00 pm</span><span class="schedule-classic-title heading-4">Fin del día</span><p>Hemos terminado por hoy, puedes seguir trabajando desde casa.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="tabs-1-3">
					<div class="card-group-custom card-group-corporate" id="accordion3" role="tablist" aria-multiselectable="false">
						<!-- Schedule Simple-->
						<div class="schedule-classic schedule-classic-simple">
							<div class="schedule-classic-content">
								<div class="schedule-classic-img">
									<svg class="svg-icon-md svg-icon-primary" role="img">
										<use xlink:href="/assets/tsw/img/svg/sprite.svg#clock"></use>
									</svg>
								</div><span class="schedule-classic-time">9:00 am</span><span class="schedule-classic-title heading-4">Desayuno</span>
							</div>
							<div class="schedule-classic-content">
								<div class="schedule-classic-img">
									<svg class="svg-icon-md svg-icon-primary" role="img">
										<use xlink:href="/assets/tsw/img/svg/sprite.svg#clock"></use>
									</svg>
								</div><span class="schedule-classic-time">9:30 am</span><span class="schedule-classic-title heading-4">Presentaciones parciales</span><p>Esta es la última oportunidad que tienes para presentar tus avances y los mentores te darán sus últimas consideraciones antes de la gran presentación.</p>
							</div>
							<div class="schedule-classic-content">
								<div class="schedule-classic-img">
									<svg class="svg-icon-md svg-icon-primary" role="img">
										<use xlink:href="/assets/tsw/img/svg/sprite.svg#clock"></use>
									</svg>
								</div><span class="schedule-classic-time">11:00 am</span><span class="schedule-classic-title heading-4">Preparación de presentaciones</span><p>Aproveche estos últimos momentos para preparar tu pitch.</p>
							</div>
							<div class="schedule-classic-content">
								<div class="schedule-classic-img">
									<svg class="svg-icon-md svg-icon-primary" role="img">
										<use xlink:href="/assets/tsw/img/svg/sprite.svg#clock"></use>
									</svg>
								</div><span class="schedule-classic-time">12:00 pm</span><span class="schedule-classic-title heading-4">Almuerzo</span>
							</div>
							<div class="schedule-classic-content">
								<div class="schedule-classic-img">
									<svg class="svg-icon-md svg-icon-primary" role="img">
										<use xlink:href="/assets/tsw/img/svg/sprite.svg#clock"></use>
									</svg>
								</div><span class="schedule-classic-time">1:00 pm</span><span class="schedule-classic-title heading-4">Presentaciones finales</span><p>¡Ahora sí! Muestra todo tu trabajo.</p>
							</div>
							<div class="schedule-classic-content">
								<div class="schedule-classic-img">
									<svg class="svg-icon-md svg-icon-primary" role="img">
										<use xlink:href="/assets/tsw/img/svg/sprite.svg#clock"></use>
									</svg>
								</div><span class="schedule-classic-time">3:00 pm</span><span class="schedule-classic-title heading-4">Deliberación y premiación</span>
							</div>
							<div class="schedule-classic-content">
								<div class="schedule-classic-img">
									<svg class="svg-icon-md svg-icon-primary" role="img">
										<use xlink:href="/assets/tsw/img/svg/sprite.svg#clock"></use>
									</svg>
								</div><span class="schedule-classic-time">3:30 pm</span><span class="schedule-classic-title heading-4">Foto final</span><p>¡Hemos terminado! Posa para la foto final y descansa. Has hecho un gran trabajo este fin de semana.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="tabs-1-4">
					<div class="card-group-custom card-group-corporate" id="accordion4" role="tablist" aria-multiselectable="false">
						<!--Bootstrap card-->
						<article class="card card-custom card-corporate">
							<div class="card-header" role="tab">
								<div class="card-title"><a class="collapsed" id="accordion4-card-head-ybgfluus" data-toggle="collapse" data-parent="#accordion4" href="#accordion4-card-body-vujqeaao" aria-controls="accordion4-card-body-vujqeaao" aria-expanded="false" role="button"><span class="schedule-classic"><span class="unit unit-spacing-md align-items-center d-block d-md-flex"><span class="unit-left"><span class="schedule-classic-img"><img src="{{ site.url }}/assets/tsw/img/schedule-01-122x122.jpg" alt="" width="122" height="122"/></span></span><span class="unit-body"><span class="schedule-classic-content"><span class="schedule-classic-time">9:00 am to 10:00 am</span><span class="schedule-classic-title heading-4">Digital Conference 2019 Introduction</span><span class="schedule-classic-author">by <span class="schedule-classic-author-name">Jessica Brown</span> -  Co Founder</span></span></span></span></span></a>
								</div>
							</div>
							<div class="collapse" id="accordion4-card-body-vujqeaao" aria-labelledby="accordion4-card-head-ybgfluus" data-parent="#accordion4" role="tabpanel">
								<div class="card-body">
									<p>Ubi est nobilis cobaltum? Domesticus capios ducunt ad demissio. Torquiss favere, tanquam bassus glos. Vae, hippotoxota! Superbus, mirabilis poetas vix aperto de teres, germanus amicitia. Vae. Fortis nixs ducunt ad acipenser. A falsis, musa nobilis gabalium. Cum decor ire, omnes fraticinidaes.</p>
									<div class="unit unit-spacing-xxs">
										<div class="unit-left">
											<svg class="svg-icon-sm svg-icon-primary" role="img">
												<use xlink:href="/assets/tsw/img/svg/sprite.svg#earth-globe"></use>
											</svg>
										</div>
										<div class="unit-body">
											<h5>Where</h5>
											<p class="font-secondary">Hall 22, Building 2, New York, United States of America</p>
										</div>
									</div>
								</div>
							</div>
						</article>
						<!--Bootstrap card-->
						<article class="card card-custom card-corporate">
							<div class="card-header" role="tab">
								<div class="card-title"><a class="collapsed" id="accordion4-card-head-kkanjswy" data-toggle="collapse" data-parent="#accordion4" href="#accordion4-card-body-luhibwcd" aria-controls="accordion4-card-body-luhibwcd" aria-expanded="false" role="button"><span class="schedule-classic"><span class="unit unit-spacing-md align-items-center d-block d-md-flex"><span class="unit-left"><span class="schedule-classic-img"><img src="{{ site.url }}/assets/tsw/img/schedule-03-122x122.jpg" alt="" width="122" height="122"/></span></span><span class="unit-body"><span class="schedule-classic-content"><span class="schedule-classic-time">11:00 am to 12:00 pm</span><span class="schedule-classic-title heading-4">Evolution of user interface in 2019</span><span class="schedule-classic-author">by <span class="schedule-classic-author-name">Manager</span> -  Co Founder</span></span></span></span></span></a>
								</div>
							</div>
							<div class="collapse" id="accordion4-card-body-luhibwcd" aria-labelledby="accordion4-card-head-kkanjswy" data-parent="#accordion4" role="tabpanel">
								<div class="card-body">
									<p>There are many variations of passages of lorem ipsum available, but the majority have suffered alteration in some form, by injected humour or randomised words which don't look even slightly believable. If you are going to use a passage randomised words which don't look even slightly believable.</p>
									<div class="unit unit-spacing-xxs">
										<div class="unit-left">
											<svg class="svg-icon-sm svg-icon-primary" role="img">
												<use xlink:href="/assets/tsw/img/svg/sprite.svg#earth-globe"></use>
											</svg>
										</div>
										<div class="unit-body">
											<h5>Where</h5>
											<p class="font-secondary">Hall 22, Building 2, New York, United States of America</p>
										</div>
									</div>
								</div>
							</div>
						</article>
						<!--Bootstrap card-->
						<article class="card card-custom card-corporate">
							<div class="card-header" role="tab">
								<div class="card-title"><a class="collapsed" id="accordion4-card-head-icjoexwh" data-toggle="collapse" data-parent="#accordion4" href="#accordion4-card-body-bjyiygqy" aria-controls="accordion4-card-body-bjyiygqy" aria-expanded="false" role="button"><span class="schedule-classic"><span class="unit unit-spacing-md align-items-center d-block d-md-flex"><span class="unit-left"><span class="schedule-classic-img"><img src="{{ site.url }}/assets/tsw/img/schedule-02-122x122.jpg" alt="" width="122" height="122"/></span></span><span class="unit-body"><span class="schedule-classic-content"><span class="schedule-classic-time">10:00 am to 11:00 am</span><span class="schedule-classic-title heading-4">Wordpress developement stages</span><span class="schedule-classic-author">by <span class="schedule-classic-author-name">Mike Hardson</span> -  Lead Developer</span></span></span></span></span></a>
								</div>
							</div>
							<div class="collapse" id="accordion4-card-body-bjyiygqy" aria-labelledby="accordion4-card-head-icjoexwh" data-parent="#accordion4" role="tabpanel">
								<div class="card-body">
									<p>Est emeritis epos, cesaris. Competition de brevis zelus, imperium solem! Byssus prareres, tanquam dexter glos. Eheu, habena! Lotus monss ducunt ad idoleum. Castus fluctuss ducunt ad mineralis. A falsis, magister castus ignigena. Demolitiones cadunt in fortis avenio! Audax, raptus exsuls superbe.</p>
									<div class="unit unit-spacing-xxs">
										<div class="unit-left">
											<svg class="svg-icon-sm svg-icon-primary" role="img">
												<use xlink:href="/assets/tsw/img/svg/sprite.svg#earth-globe"></use>
											</svg>
										</div>
										<div class="unit-body">
											<h5>Where</h5>
											<p class="font-secondary">Hall 22, Building 2, New York, United States of America</p>
										</div>
									</div>
								</div>
							</div>
						</article>
						<!-- Schedule Simple-->
						<div class="schedule-classic schedule-classic-simple">
							<div class="schedule-classic-content">
								<div class="schedule-classic-img">
									<svg class="svg-icon-md svg-icon-primary" role="img">
										<use xlink:href="/assets/tsw/img/svg/sprite.svg#clock"></use>
									</svg>
								</div><span class="schedule-classic-time">11:00 am to 12:00 pm</span><span class="schedule-classic-title heading-4">Enjoy the coffee break</span>
							</div>
						</div>
						<!--Bootstrap card-->
						<article class="card card-custom card-corporate">
							<div class="card-header" role="tab">
								<div class="card-title"><a class="collapsed" id="accordion4-card-head-fccgfuhi" data-toggle="collapse" data-parent="#accordion4" href="#accordion4-card-body-utqsdqvx" aria-controls="accordion4-card-body-utqsdqvx" aria-expanded="false" role="button"><span class="schedule-classic"><span class="unit unit-spacing-md align-items-center d-block d-md-flex"><span class="unit-left"><span class="schedule-classic-img"><img src="{{ site.url }}/assets/tsw/img/schedule-04-58x58.jpg" alt="" width="58" height="58"/></span><span class="schedule-classic-img"><img src="{{ site.url }}/assets/tsw/img/schedule-05-58x58.jpg" alt="" width="58" height="58"/></span></span><span class="unit-body"><span class="schedule-classic-content"><span class="schedule-classic-time">11:00 am to 12:00 pm</span><span class="schedule-classic-title heading-4">Digital Conference 2019 Introduction</span><span class="schedule-classic-author">by <span class="schedule-classic-author-name">Kevin Martin</span> 
                            - Supporter&nbsp;&nbsp;
                            .&nbsp;&nbsp; <span class="schedule-classic-author-name">Sarah Rose</span> -  Designer</span></span></span></span></span></a>
								</div>
							</div>
							<div class="collapse" id="accordion4-card-body-utqsdqvx" aria-labelledby="accordion4-card-head-fccgfuhi" data-parent="#accordion4" role="tabpanel">
								<div class="card-body">
									<p>Fiscina domesticus lixa est. Cur vita mori? Triticum, heuretes, et nixus. Clabulare superbus abaculus est. Est lotus gemna, cesaris. Equisos mori! Uria moris, tanquam dexter cedrium. Hydras ridetis, tanquam bi-color saga. Pol, a bene tumultumque, castus nuptia! Noster, neuter stellas diligenter.</p>
									<div class="unit unit-spacing-xxs">
										<div class="unit-left">
											<svg class="svg-icon-sm svg-icon-primary" role="img">
												<use xlink:href="/assets/tsw/img/svg/sprite.svg#earth-globe"></use>
											</svg>
										</div>
										<div class="unit-body">
											<h5>Where</h5>
											<p class="font-secondary">Hall 22, Building 2, New York, United States of America</p>
										</div>
									</div>
								</div>
							</div>
						</article>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>