<!-- Section Official Sponsors-->
<section class="parallax-container section" data-parallax-img="{{ site.url }}/assets/tsw/img/bg-parallax-04-1894x1170.jpg">
	<div class="parallax-content section-lg context-dark text-center">
		<div class="container">
			<a name="sponsors"><h6>Nuestros</h6></a>
			<h3>Patrocinadores + Aliados.</h3>
			<div class="row row-30 row-lg-50 justify-content-center">
				<div class="col-sm-5 col-lg-3">
					<div class="wow">
						<div>
							<!-- Sponsor-->
							<a class="sponsor" href="https://www.techstars.com/?utm_source=bogotastartupweek.com" data-triangle=".sponsor-overlay" target="_blank">
								<div class="sponsor-overlay"></div>
								<div class="sponsor-img">
									<img src="{{ site.url }}/assets/img/gallery/techstars.png" alt="techstars" width="350" />
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="col-sm-5 col-lg-3">
					<div class="wow">
						<div>
							<!-- Sponsor-->
							<a class="sponsor" href="https://www.differential.vc/?utm_source=bogotastartupweek.com" data-triangle=".sponsor-overlay" target="_blank">
								<div class="sponsor-overlay"></div>
								<div class="sponsor-img">
									<img src="{{ site.url }}/assets/img/gallery/differentialVentures.png" alt="differential ventures" width="350" />
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="col-sm-5 col-lg-3">
					<div class="wow">
						<div>
							<!-- Sponsor-->
							<a class="sponsor" href="https://orangeup.org/?utm_source=bogotastartupweek.com" data-triangle=".sponsor-overlay" target="_blank">
								<div class="sponsor-overlay"></div>
								<div class="sponsor-img">
									<img src="{{ site.url }}/assets/img/gallery/orangeup.png" alt="Orange UP" width="350" />
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="col-sm-5 col-lg-3">
					<div class="wow">
						<div>
							<!-- Sponsor-->
							<a class="sponsor" href="https://suego.co/?lang=es&utm_source=bogotastartupweek.com" data-triangle=".sponsor-overlay" target="_blank">
								<div class="sponsor-overlay"></div>
								<div class="sponsor-img">
									<img src="{{ site.url }}/assets/img/gallery/suego.png" alt="SUEGO" width="350" />
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="col-sm-5 col-lg-3">
					<div class="wow">
						<div>
							<!-- Sponsor-->
							<a class="sponsor" href="https://www.bloomshift.com/?lang-es&utm_source=bogotastartupweek.com" data-triangle=".sponsor-overlay" target="_blank">
								<div class="sponsor-overlay"></div>
								<div class="sponsor-img">
									<img src="{{ site.url }}/assets/img/gallery/bloomshift.png" alt="BloomShift" width="350" />
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="col-sm-5 col-lg-3">
					<div class="wow">
						<div>
							<!-- Sponsor-->
							<a class="sponsor" href="https://www.innovatecoalition.com/?utm_source=bogotastartupweek.com" data-triangle=".sponsor-overlay" target="_blank">
								<div class="sponsor-overlay"></div>
								<div class="sponsor-img">
									<img src="{{ site.url }}/assets/img/gallery/inco.png" alt="innovate coalition" width="350" />
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="col-sm-5 col-lg-3">
					<div class="wow">
						<div>
							<!-- Sponsor-->
							<a class="sponsor" href="https://pionerasdev.co/?utm_source=bogotastartupweek.com" data-triangle=".sponsor-overlay" target="_blank">
								<div class="sponsor-overlay"></div>
								<div class="sponsor-img">
									<img src="{{ site.url }}/assets/img/gallery/pionerasDev.png" alt="sikuani" width="350" />
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="col-sm-5 col-lg-3">
					<div class="wow">
						<div>
							<!-- Sponsor-->
							<a class="sponsor" href="https://www.sikuani.net/?utm_source=bogotastartupweek.com" data-triangle=".sponsor-overlay" target="_blank">
								<div class="sponsor-overlay"></div>
								<div class="sponsor-img">
									<img src="{{ site.url }}/assets/img/gallery/sikuani.png" alt="sikuani" width="350" />
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="col-sm-5 col-lg-3">
					<div class="wow">
						<div>
							<!-- Sponsor-->
							<a class="sponsor" href="https://startup.google.com/?utm_source=bogotastartupweek.com" data-triangle=".sponsor-overlay" target="_balnk">
								<div class="sponsor-overlay"></div>
								<div class="sponsor-img">
									<img src="{{ site.url }}/assets/img/logos/googlestartups.png" alt="Google for Startups" width="350" />
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="col-sm-5 col-lg-3">
					<div class="wow">
						<div>
							<!-- Sponsor-->
							<a class="sponsor" href="https://www.startupweekend.neustar/?utm_source=bogotastartupweek.com" data-triangle=".sponsor-overlay" target="_blank">
								<div class="sponsor-overlay"></div>
								<div class="sponsor-img">
									<img src="{{ site.url }}/assets/img/logos/neustar.png" alt="dot CO" width="350" />
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="col-sm-5 col-lg-3">
					<div class="wow">
						<div>
							<!-- Sponsor-->
							<a class="sponsor" href="https://upwork.com/?utm_source=bogotastartupweek.com" data-triangle=".sponsor-overlay" target="_blank">
								<div class="sponsor-overlay"></div>
								<div class="sponsor-img">
									<img src="{{ site.url }}/assets/img/gallery/upwork.png" alt="upwork" width="350" />
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="col-sm-5 col-lg-3">
					<div class="wow">
						<div>
							<!-- Sponsor-->
							<a class="sponsor" href="https://corporativo.compensar.com/?utm_source=bogotastartupweek.com" data-triangle=".sponsor-overlay" target="_blank">
								<div class="sponsor-overlay"></div>
								<div class="sponsor-img">
									<img src="{{ site.url }}/assets/img/gallery/compensar.png" alt="compensar" width="350" />
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="col-sm-5 col-lg-3">
					<div class="wow">
						<div>
							<!-- Sponsor-->
							<a class="sponsor" href="https://www.innpulsa.com/?utm_source=bogotastartupweek.com" data-triangle=".sponsor-overlay" target="_blank">
								<div class="sponsor-overlay"></div>
								<div class="sponsor-img">
									<img src="{{ site.url }}/assets/img/gallery/innpulsa.png" alt="innpulsa colombia" width="350" />
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="col-sm-5 col-lg-3">
					<div class="wow">
						<div>
							<!-- Sponsor-->
							<a class="sponsor" href="https://www.unisabana.edu.co/empresaysociedad/unisabana-hub/ceis/inicio/?utm_source=bogotastartupweek.com" data-triangle=".sponsor-overlay" target="_blank">
								<div class="sponsor-overlay"></div>
								<div class="sponsor-img">
									<img src="{{ site.url }}/assets/img/gallery/uSabanaCEIS.png" alt="Centro de Emprendimiento e Innovación" width="350" />
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="col-sm-5 col-lg-3">
					<div class="wow">
						<div>
							<!-- Sponsor-->
							<a class="sponsor" href="https://unisabana.edu.co/?utm_source=bogotastartupweek.com" data-triangle=".sponsor-overlay" target="_blank">
								<div class="sponsor-overlay"></div>
								<div class="sponsor-img">
									<img src="{{ site.url }}/assets/img/gallery/uSabana.png" alt="Universidad de la Sabana" width="350" />
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="col-sm-5 col-lg-3">
					<div class="wow">
						<div>
							<!-- Sponsor-->
							<a class="sponsor" href="" data-triangle=".sponsor-overlay" target="_blank">
								<div class="sponsor-overlay"></div>
								<div class="sponsor-img">
									<img src="{{ site.url }}/assets/img/gallery/startupHuddle.png" alt="startup huddle bogotá" width="350" />
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="col-sm-5 col-lg-3">
					<div class="wow">
						<div>
							<!-- Sponsor-->
							<a class="sponsor" href="https://startupdigest.com/digests/bogota?utm_source=bogotastartupweek.com" data-triangle=".sponsor-overlay" target="_blank">
								<div class="sponsor-overlay"></div>
								<div class="sponsor-img">
									<img src="{{ site.url }}/assets/img/gallery/startupDigest.png" alt="startup digest bogotá" width="350" />
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="col-sm-5 col-lg-3">
					<div class="wow">
						<div>
							<!-- Sponsor-->
							<a class="sponsor" href="" data-triangle=".sponsor-overlay" target="_blank">
								<div class="sponsor-overlay"></div>
								<div class="sponsor-img">
									<img src="{{ site.url }}/assets/img/gallery/wiley.png" alt="wiley" width="350" />
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="col-sm-5 col-lg-3">
					<div class="wow">
						<div>
							<!-- Sponsor-->
							<a class="sponsor" href="" data-triangle=".sponsor-overlay" target="_blank">
								<div class="sponsor-overlay"></div>
								<div class="sponsor-img">
									<img src="{{ site.url }}/assets/img/gallery/adobeSpark.png" alt="wiley" width="350" />
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="col-sm-5 col-lg-3">
					<div class="wow">
						<div>
							<!-- Sponsor-->
							<a class="sponsor" href="" data-triangle=".sponsor-overlay" target="_blank">
								<div class="sponsor-overlay"></div>
								<div class="sponsor-img">
									<img src="{{ site.url }}/assets/img/gallery/svb.png" alt="silicon valley bank" width="350" />
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="col-sm-5 col-lg-3">
					<div class="wow">
						<div>
							<!-- Sponsor-->
							<a class="sponsor" href="" data-triangle=".sponsor-overlay" target="_blank">
								<div class="sponsor-overlay"></div>
								<div class="sponsor-img">
									<img src="{{ site.url }}/assets/img/gallery/impactHub.png" alt="impact hub" width="350" />
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="col-sm-5 col-lg-3">
					<div class="wow">
						<div>
							<!-- Sponsor-->
							<a class="sponsor" href="" data-triangle=".sponsor-overlay" target="_blank">
								<div class="sponsor-overlay"></div>
								<div class="sponsor-img">
									<img src="{{ site.url }}/assets/img/gallery/hubspotStartups.png" alt="hubspot startups" width="350" />
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="col-sm-5 col-lg-3">
					<div class="wow">
						<div>
							<!-- Sponsor-->
							<a class="sponsor" href="" data-triangle=".sponsor-overlay" target="_blank">
								<div class="sponsor-overlay"></div>
								<div class="sponsor-img">
									<img src="{{ site.url }}/assets/img/gallery/siliconFoundry.png" alt="silicon foundry" width="350" />
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="col-sm-5 col-lg-3">
					<div class="wow">
						<div>
							<!-- Sponsor-->
							<a class="sponsor" href="" data-triangle=".sponsor-overlay" target="_blank">
								<div class="sponsor-overlay"></div>
								<div class="sponsor-img">
									<img src="{{ site.url }}/assets/img/gallery/cooley.png" alt="cooley" width="350" />
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="col-sm-5 col-lg-3">
					<div class="wow">
						<div>
							<!-- Sponsor-->
							<a class="sponsor" href="" data-triangle=".sponsor-overlay" target="_blank">
								<div class="sponsor-overlay"></div>
								<div class="sponsor-img">
									<img src="{{ site.url }}/assets/img/gallery/foundryGroup.png" alt="foundry group" width="350" />
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="col-sm-5 col-lg-3">
					<div class="wow">
						<div>
							<!-- Sponsor-->
							<a class="sponsor" href="" data-triangle=".sponsor-overlay" target="_blank">
								<div class="sponsor-overlay"></div>
								<div class="sponsor-img">
									<img src="{{ site.url }}/assets/img/gallery/gsvLabs.png" alt="gsv labs" width="350" />
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="col-sm-5 col-lg-3">
					<div class="wow">
						<div>
							<!-- Sponsor-->
							<a class="sponsor" href="" data-triangle=".sponsor-overlay" target="_blank">
								<div class="sponsor-overlay"></div>
								<div class="sponsor-img">
									<img src="{{ site.url }}/assets/img/gallery/msStartups.png" alt="wiley" width="350" />
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="col-xl-12">
					<p class="font-weight-sbold font-secondary"><span class="wow" data-splitting>Contáctenos para mayor infórmacion.</span>  <a class="link-inline wow fadeScale" href="mailto:flor@bogotastartupweek.com">¿Interesado en patrocinar?</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
