<body>
	<div class="ie-panel">
		<a href="http://windows.microsoft.com/en-US/internet-explorer/">
			<img src="assets/tsw/img/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today.">
		</a>
	</div>
	<div class="preloader">
		<div class="preloader-body">
			<div class="cssload-container">
				<div class="cssload-speeding-wheel"></div>
			</div>
			<p>Loading...</p>
		</div>
	</div>
	<div class="page">
		{% include tsw_header.html %}
		{% include tsw_slider1.html %}
		{% include tsw_booking.html %}
		{% include tsw_details.html %}
		{% include tsw_agenda.html %}
		{% include tsw_testimonios.html %}
		{% include tsw_sponsors.html %}
		{% include tsw_promo1.html %}
		{% include tsw_newsletter.html %}
		{% include tsw_prefooter.html %}
		<!-- Divider-->
		<div class="divider divider-gray-900 text-center"></div>
		{% include tsw_footer.html %}
	</div>
	<div class="snackbars" id="form-output-global"></div>
	<div class="block-with-svg-gradients">
		<svg xmlns="http://www.w3.org/2000/svg">
			<defs>
				<lineargradient id="svg-gradient-primary" x1="0%" y1="100%" x2="100%" y2="0%">
					<stop offset="0%" style="stop-color:rgb(130,46,168);stop-opacity:1"></stop>
					<stop offset="100%" style="stop-color:rgb(217,14,144);stop-opacity:1"></stop>
				</lineargradient>
			</defs>
		</svg>
	</div>
	<script src="assets/tsw/js/core.min.js"></script>
	<script src="assets/tsw/js/script.js"></script>
</body>