<!-- Section Official Sponsors-->
<section class="parallax-container section" data-parallax-img="assets/tsw/img/bg-parallax-04-1894x1170.jpg">
	<div class="parallax-content section-lg context-dark text-center">
		<div class="container">
			<h6>Nuestros</h6>
			<h3>Patrocinadores.</h3>
			<div class="row row-30 row-lg-50 justify-content-center">
				<div class="col-sm-5 col-lg-3">
					<div class="wow">
						<div>
							<!-- Sponsor-->
							<a class="sponsor" href="https://startup.google.com/?utm_source=bogotastartupweek.co" data-triangle=".sponsor-overlay" target="_balnk">
								<div class="sponsor-overlay"></div>
								<div class="sponsor-img">
									<img src="assets/img/logos/googlestartups.png" alt="" width="350" />
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="col-sm-5 col-lg-3">
					<div class="wow">
						<div>
							<!-- Sponsor-->
							<a class="sponsor" href="https://www.go.co/startupweekend/?utm_source=bogotastartupweek.co" data-triangle=".sponsor-overlay" target="_blank">
								<div class="sponsor-overlay"></div>
								<div class="sponsor-img">
									<img src="assets/img/logos/dotco.png" alt="" width="350" />
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="col-sm-5 col-lg-3">
					<div class="wow">
						<div>
							<!-- Sponsor-->
							<a class="sponsor" href="https://orangeup.org/?utm_source=bogotastartupweek.co" data-triangle=".sponsor-overlay" target="_blank">
								<div class="sponsor-overlay"></div>
								<div class="sponsor-img">
									<img src="assets/img/gallery/orangeup.png" alt="" width="350" />
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="col-sm-5 col-lg-3">
					<div class="wow">
						<div>
							<!-- Sponsor-->
							<a class="sponsor" href="https://suego.co/?utm_source=bogotastartupweek.co" data-triangle=".sponsor-overlay" target="_blank">
								<div class="sponsor-overlay"></div>
								<div class="sponsor-img">
									<img src="assets/img/gallery/suego.png" alt="" width="350" />
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="col-xl-12">
					<p class="font-weight-sbold font-secondary"><span class="wow" data-splitting>Contáctenos para mayor infórmacion.</span>  <a class="link-inline wow fadeScale" href="mailto:flor@bogotastartupweek.com">¿Interesado a patrocinar?</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</section>