<!-- News & Articles.-->
<section class="section section-lg bg-default text-center">
	<div class="container">
		<h6>Nuestras</h6>
		<h3>Noticias.</h3>
		<div class="row row-30">
			<div class="col-md-4">
				<div class="news">
					<div class="news-img"><a href="single-news.html" data-triangle=".news-img-overlay"><span class="news-img-overlay"></span><img src="assets/tsw/img/news-01-370x284.jpg" alt="" width="370" height="284"/></a>
					</div>
					<p class="news-meta">by <a class="news-author" href="single-news.html">Dan Fisher</a>  <span>-</span> 
						<a class="news-time" href="single-news.html">
							<time datetime="2019-01-18">18 Jan, 2019</time>
						</a>
					</p>
					<h4 class="news-title"><a href="single-news.html">Many Important Brands Have Given us Their Trust.</a></h4>
					<p class="news-text">Sed quia conse quuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p><a class="news-link" href="single-news.html">Read More</a>
				</div>
			</div>
			<div class="col-md-4">
				<div class="news">
					<div class="news-img"><a href="single-news.html" data-triangle=".news-img-overlay"><span class="news-img-overlay"></span><img src="assets/tsw/img/news-02-370x284.jpg" alt="" width="370" height="284"/></a>
					</div>
					<p class="news-meta">by <a class="news-author" href="single-news.html">Dan Fisher</a>  <span>-</span> 
						<a class="news-time" href="single-news.html">
							<time datetime="2019-01-16">16 Jan, 2019</time>
						</a>
					</p>
					<h4 class="news-title"><a href="single-news.html">BUILDING A ROOM DETECTOR FOR HOT DeVICES.</a></h4>
					<p class="news-text">Magnum hippotoxotas ducunt ad triticum. Mori etiam ducunt ad rusticus ratione.</p><a class="news-link" href="single-news.html">Read More</a>
				</div>
			</div>
			<div class="col-md-4">
				<div class="news">
					<div class="news-img"><a href="single-news.html" data-triangle=".news-img-overlay"><span class="news-img-overlay"></span><img src="assets/tsw/img/news-03-370x284.jpg" alt="" width="370" height="284"/></a>
					</div>
					<p class="news-meta">by <a class="news-author" href="single-news.html">Dan Fisher</a>  <span>-</span> 
						<a class="news-time" href="single-news.html">
							<time datetime="2019-01-12">12 Jan, 2019</time>
						</a>
					</p>
					<h4 class="news-title"><a href="single-news.html">Let’s become the best sale marketer of the next year.</a></h4>
					<p class="news-text">Albus, lotus cedriums virtualiter pugna de barbatus, regius burgus. Historia regius.</p><a class="news-link" href="single-news.html">Read More</a>
				</div>
			</div>
		</div>
	</div>
</section>