<!-- Section Newsletter Sign Up-->
<section class="section section-lg bg-default text-center">
	<div class="container">
		<div class="row justify-content-center row-30">
			<div class="col-md-10 col-lg-8">
				<h6>Inscribite en nuestro</h6>
				<h3>Newsletter.</h3>
				<form class="rd-form rd-mailform rd-form-inline" method="post" action="https://bogotastartupweek.us4.list-manage.com/subscribe/post?u=36b178042ea58896538dcf43f&amp;id=617a11a969" target="_blank" novalidate>
					<div class="form-wrap">
						<input class="form-input" placeholder="Correo electrónico" id="mce-EMAIL" type="email" name="EMAIL">
					</div>
					<div class="form-button">
						<button class="button button-primary" type="submit" id="mc-embedded-subscribe" data-triangle=".button-overlay"><span>Inscribete ahora</span><span class="button-overlay"></span>
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>