<!-- Section Who Is Speaking-->
<section class="parallax-container section" data-parallax-img="assets/tsw/img/bg-parallax-02-1894x1950.jpg">
	<div class="parallax-content section-lg context-dark text-center">
		<div class="container">
			<h6 class="text-secondary">Nuestros mentores</h6>
			<h3>Quienes nos guian.</h3>
			<div class="row row-30">
				<div class="col-md-6 col-lg-4">
					<div>
						<!-- Speaker-->
						<div class="speaker">
							<div class="speaker-img" data-triangle=".speaker-overlay">
								<div class="speaker-overlay"></div>
								<a href="#">
									<img src="assets/tsw/img/speaker-01-330x354.jpg" alt="" width="330" height="354" />
								</a>
								<ul class="speaker-social-list">
									<li>
										<a class="icon icon-xs fa-facebook-f" href="#"></a>
									</li>
									<li>
										<a class="icon icon-xs fa-twitter" href="#"></a>
									</li>
									<li>
										<a class="icon icon-xs fa-youtube-play" href="#"></a>
									</li>
								</ul>
							</div>
							<h5 class="speaker-title"><a href="#">Jesscia brown</a></h5>
							<p class="speaker-position">Co Founder</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div>
						<!-- Speaker-->
						<div class="speaker">
							<div class="speaker-img" data-triangle=".speaker-overlay">
								<div class="speaker-overlay"></div>
								<a href="#">
									<img src="assets/tsw/img/speaker-02-330x354.jpg" alt="" width="330" height="354" />
								</a>
								<ul class="speaker-social-list">
									<li>
										<a class="icon icon-xs fa-facebook-f" href="#"></a>
									</li>
									<li>
										<a class="icon icon-xs fa-twitter" href="#"></a>
									</li>
									<li>
										<a class="icon icon-xs fa-youtube-play" href="#"></a>
									</li>
								</ul>
							</div>
							<h5 class="speaker-title"><a href="#">Mike hardons</a></h5>
							<p class="speaker-position">Lead Developer</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div>
						<!-- Speaker-->
						<div class="speaker">
							<div class="speaker-img" data-triangle=".speaker-overlay">
								<div class="speaker-overlay"></div>
								<a href="#">
									<img src="assets/tsw/img/speaker-03-330x354.jpg" alt="" width="330" height="354" />
								</a>
								<ul class="speaker-social-list">
									<li>
										<a class="icon icon-xs fa-facebook-f" href="#"></a>
									</li>
									<li>
										<a class="icon icon-xs fa-twitter" href="#"></a>
									</li>
									<li>
										<a class="icon icon-xs fa-youtube-play" href="#"></a>
									</li>
								</ul>
							</div>
							<h5 class="speaker-title"><a href="#">Chritine Eve</a></h5>
							<p class="speaker-position">Manager</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div>
						<!-- Speaker-->
						<div class="speaker">
							<div class="speaker-img" data-triangle=".speaker-overlay">
								<div class="speaker-overlay"></div>
								<a href="#">
									<img src="assets/tsw/img/speaker-04-330x354.jpg" alt="" width="330" height="354" />
								</a>
								<ul class="speaker-social-list">
									<li>
										<a class="icon icon-xs fa-facebook-f" href="#"></a>
									</li>
									<li>
										<a class="icon icon-xs fa-twitter" href="#"></a>
									</li>
									<li>
										<a class="icon icon-xs fa-youtube-play" href="#"></a>
									</li>
								</ul>
							</div>
							<h5 class="speaker-title"><a href="#">Kevin Martin</a></h5>
							<p class="speaker-position">Supporter</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div>
						<!-- Speaker-->
						<div class="speaker">
							<div class="speaker-img" data-triangle=".speaker-overlay">
								<div class="speaker-overlay"></div>
								<a href="#">
									<img src="assets/tsw/img/speaker-05-330x354.jpg" alt="" width="330" height="354" />
								</a>
								<ul class="speaker-social-list">
									<li>
										<a class="icon icon-xs fa-facebook-f" href="#"></a>
									</li>
									<li>
										<a class="icon icon-xs fa-twitter" href="#"></a>
									</li>
									<li>
										<a class="icon icon-xs fa-youtube-play" href="#"></a>
									</li>
								</ul>
							</div>
							<h5 class="speaker-title"><a href="#">Sarah Rose</a></h5>
							<p class="speaker-position">Designer</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div>
						<!-- Speaker-->
						<div class="speaker">
							<div class="speaker-img" data-triangle=".speaker-overlay">
								<div class="speaker-overlay"></div>
								<a href="#">
									<img src="assets/tsw/img/speaker-06-330x354.jpg" alt="" width="330" height="354" />
								</a>
								<ul class="speaker-social-list">
									<li>
										<a class="icon icon-xs fa-facebook-f" href="#"></a>
									</li>
									<li>
										<a class="icon icon-xs fa-twitter" href="#"></a>
									</li>
									<li>
										<a class="icon icon-xs fa-youtube-play" href="#"></a>
									</li>
								</ul>
							</div>
							<h5 class="speaker-title"><a href="#">John Smith</a></h5>
							<p class="speaker-position">Assistant</p>
						</div>
					</div>
				</div>
			</div><a class="button button-secondary box-with-triangle-right wow fadeScale" href="speakers.html" data-triangle=".button-overlay"><span>Ver todos los mentores</span><span class="button-overlay"></span></a>
		</div>
	</div>
</section>