<!-- Section Event Details-->
<section class="section section-lg bg-default wow fadeIn">
	<div class="container">
		<div class="row row-30 justify-content-center">
			<div class="col-md-10 col-lg-6 col-xl-5">
				<h6>Acerca del evento</h6>
				<h3 class="heading-lg-postfix-15">¿Tienes una idea en la cabeza desde hace meses y quieres llevarla a cabo?</h3>
				<p>Un Techstars Startup Weekend virtual aprovecha lo mejor de nuestra experiencia en persona y la amplifica con el alcance y el alcance de las mejores herramientas digitales disponibles.</p>
				<p>El Startup Weekend para unir y luchar contra COVID-19:</p>
				<br/>
				<ul>
					<li><span style="color:#f09922;">//</span> Le permite concentrarse en desarrollar soluciones relacionadas con Covid-19 exclusivas de cada país,</li>
					<li><span style="color:#f09922;">//</span> Reunirá a cientos, incluso miles de participantes para trabajar en prototipos de productos y servicios durante tres días. La geografía ya no es una limitación,</li>
					<li><span style="color:#f09922;">//</span> Es una oportunidad sin precedentes para todos los interesados en el tema para inspirar e inspirarse a trabajar juntos y desarrollar soluciones inclusivas,</li>
					<li><span style="color:#f09922;">//</span> Es una oportunidad sin precedentes para todos los interesados en el tema para inspirar e inspirarse a trabajar juntos y desarrollar soluciones inclusivas,</li>
				</ul>
				<p>Únase a nosotros, marque la diferencia y experimente la emoción de ver que su idea se hace realidad.</p>
				<a class="button button-primary" href="https://bogoweek.co/tsw16181x11" data-triangle=".button-overlay" target="_blank"><span>Más Detalles</span><span class="button-overlay"></span></a>
				<hr>
				<!-- List Inline-->
				<ul class="list-inline list-inline-xl">
					<li>
						<div class="unit">
							<div class="unit-left">
								<svg class="svg-icon-sm svg-icon-primary" role="img">
									<use xlink:href="{{ site.url }}/assets/tsw/img/svg/sprite.svg#earth-globe"></use>
								</svg>
							</div>
							<div class="unit-body">
								<h5>Dónde y costo?</h5>
								<p>Virtual + Gratis</p>
							</div>
						</div>
					</li>
					<li>
						<div class="unit">
							<div class="unit-left">
								<svg class="svg-icon-sm svg-icon-primary" role="img">
									<use xlink:href="{{ site.url }}/assets/tsw/img/svg/sprite.svg#small-calendar"></use>
								</svg>
							</div>
							<div class="unit-body">
								<h5>Cuándo</h5>
								<p>
									<time datetime="2019-01-05">Del 24 al 26 de abril del 2020</time>
								</p>
							</div>
						</div>
					</li>
				</ul>
				<br/>
			</div>
			<div class="col-md-10 col-lg-6 col-xl-7 text-md-right">
				<!-- Image Box-->
				<div class="images-box">
					<div class="images-box-item images-box-item-right">
						<div class="wow fadeScale">
							<img src="{{ site.url }}/assets/tsw/img/home-1-01-470x590.jpg" alt="" width="470" height="590" />
						</div>
					</div>
					<div class="images-box-item images-box-item-left">
						<div class="wow fadeScale">
							<img src="{{ site.url }}/assets/tsw/img/home-1-02-270x257.jpg" alt="" width="270" height="257" />
						</div>
					</div>
				</div>
				<br/>
				<br/>
				<div class="text-md-left">
					<center><h4>#COVID19StartupWeekend</h4></center>
          <div class="iframe-container">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/zas8UnUfK5c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
				</div>
			</div>
		</div>
	</div>
</section>
