<section class="section section-lg bg-gray-100 text-center">
	<div class="container">
		<h6>Para nuestros</h6>
		<h3>Participantes.</h3>
		<div class="row row-30">
			<div class="col-sm-6 col-lg-4">
				<div class="pricing">
					<div class="pricing-header">
						<h6 class="pricing-title">Tu</h6>
						<p class="pricing-price heading-3">Tíquete
                  </p>
						<p class="pricing-description">incluye</p>
					</div>
					<div class="pricing-body">
						<ul class="pricing-list">
							<li>Asesoría impresionante por parte de los mentores.</li>
							<hr>
							<li>Una red de nuevos desarrolladores, diseñadores y emprendedores que también están entusiasmados por ser agentes de cambio en el país.</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-lg-4">
				<div class="pricing">
					<div class="pricing-header">
						<h6 class="pricing-title">Tendrán acceso a</h6>
						<p class="pricing-price heading-3">Beneficios
                  </p>
						<p class="pricing-description">por asistir</p>
					</div>
					<div class="pricing-body">
						<ul class="pricing-list">
							<li>Un dominio <strong>.CO</strong> o <strong>.BIZ</strong> o <strong>.US</strong> totalmente gratis.</li>
							<hr>
							<li>$300 en crédito de <strong>Google Cloud</strong>.</li>
							<hr>
							<li>Acceso a <strong>Adobe Spark</strong> por 14 días.</li>
							<hr>
							<li>1 mes del plan Pro en <strong>Upwork</strong>.</li>
							<hr>
							<li>Recursos gratis para COVID-19 en <strong>WILEY</strong>.</li>
							<hr>
							<li>Tu perfil en la plataforma de tech y innovación mundial <strong>F6S</strong>.</li>
							<hr>
							<li>Un mes gratis de asesoría con <strong>OrangeUP</strong> y <strong>SUEGO</strong>.</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-lg-4">
				<div class="pricing">
					<div class="pricing-header">
						<h6 class="pricing-title">Premios valorizados por</h6>
						<p class="pricing-price heading-3">$340.000.000
                  </p>
						<p class="pricing-description">para 20 equipos</p>
					</div>
					<div class="pricing-body">
						<ul class="pricing-list">
							<li>Los 20 mejores equipos de todo el mundo participarán en un Techstars Innovation Bootcamp, un ejercicio intensivo de tres días para validar rápidamente soluciones y construir empresas.</li>
							<hr>
							<li>5 de los 20 equipos que terminan el Techstars Innovation Bootcamp recibiran $10,000 USD patrocinado por <a href="https://www.techstars.com/newsroom/techstars-and-differential-ventures-unite-to-fight-covid-19" target="_blank">Differential Ventures</a>.</li>
							<hr>
							<li>Membresia por una semana al SUEGO Elite para los tres primeros equipos en Colombia.</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<a class="button button-primary" href="http://www.eventbrite.com/event/102093897596?aff=bloomshift" data-triangle=".button-overlay" target="_blank"><span>Participa ahora</span><span class="button-overlay"></span></a>
	</div>
</section>
