<!-- Section Payment Details-->
<section class="section section-lg bg-default wow fadeIn text-center">
	<div class="container">
		<div class="row row-30 justify-content-center">
			<div class="col-xs-12">
				<a name="pagar"><h6>¿Qué medios de pago</h6></a>
				<h3>te ofrecemos?</h3>
			</div>
			<div class="col-xs-12 text-center">
				<img alt="payu" src="{{ site.url }}/assets/tsw/img/payu/payu-co.jpg" width="150" />
			</div>
			<!-- Jssor Slider Begin -->
			<div id="slider1_container" style=" ">
				<div class="inner_carousal" data-u="slides" style="">
					<div><img alt="mastercard debit" style="border-radius:3px;" src="{{ site.url }}/assets/tsw/img/payu/mc-debit.jpg" width="160" /></div>
					<div><img alt="visa debit" style="border-radius:3px;" src="{{ site.url }}/assets/tsw/img/payu/visa-debit.jpg" width="160" /></div>
					<div><img alt="pse" style="border-radius:3px;" src="{{ site.url }}/assets/tsw/img/payu/PSE.jpg" width="160" /></div>
					<div><img alt="visa" style="border-radius:3px;" src="{{ site.url }}/assets/tsw/img/payu/visa.jpg" width="160" /></div>
					<div><img alt="davivienda" style="border-radius:3px;" src="{{ site.url }}/assets/tsw/img/payu/davivienda.jpg" width="160" /></div>
					<div><img alt="sured" style="border-radius:3px;" src="{{ site.url }}/assets/tsw/img/payu/su_red.jpg" width="160" /></div>
					<div><img alt="banco de bogota" style="border-radius:3px;" src="{{ site.url }}/assets/tsw/img/payu/bancobog-aval.jpg" width="160" /></div>
					<div><img alt="codensa" style="border-radius:3px;" src="{{ site.url }}/assets/tsw/img/payu/codensa.jpg" width="160" /></div>
					<div><img alt="mastercard" style="border-radius:3px;" src="{{ site.url }}/assets/tsw/img/payu/mastercard.jpg" width="160" /></div>
					<div><img alt="american express" style="border-radius:3px;" src="{{ site.url }}/assets/tsw/img/payu/american_express.jpg" width="160" /></div>
					<div><img alt="diners club international" style="border-radius:3px;" src="{{ site.url }}/assets/tsw/img/payu/dinersclub.jpg" width="160" /></div>
					<div><img alt="efecty" style="border-radius:3px;" src="{{ site.url }}/assets/tsw/img/payu/efe.jpg" width="160" /></div>
					<div><img alt="via baloto" style="border-radius:3px;" src="{{ site.url }}/assets/tsw/img/payu/baloto.jpg" width="160" /></div>
					<div><img alt="bancolombia" style="border-radius:3px;" src="{{ site.url }}/assets/tsw/img/payu/bancolombia.jpg" width="160" /></div>
				</div>
			</div>
			<!-- Jssor Slider End -->
			<div class="col-xs-12 text-center" style="padding-top:20px;">
				<span class="testimonial-cite"><em>Todas las transacciones son seguras y están cifradas.</em></span>
			</div>
			<div class="col-xs-12 text-center" style="padding-top:20px;">
				<a class="button button-primary" href="#" data-triangle=".button-overlay" target="_blank"><span>Comprar tiquetes</span><span class="button-overlay"></span></a>
			</div>
		</div>
	</div>
</section>