<!-- Section Who Is Speaking-->
<section class="parallax-container section" data-parallax-img="{{ site.url }}/assets/tsw/img/bg-parallax-02-1894x1950.jpg">
	<div class="parallax-content section-lg context-dark text-center">
		<div class="container">
			<a name="speakers"><h6 class="text-secondary">Nuestros mentores</h6></a>
			<h3>Quienes nos guian.</h3>
			<div class="row row-30">
				<div class="col-md-6 col-lg-4">
					<div>
						<!-- Speaker-->
						<div class="speaker">
							<div class="speaker-img" data-triangle=".speaker-overlay">
								<div class="speaker-overlay"></div>
									<img src="{{ site.url }}/assets/tsw/img/tsw-speaker-lievano.png" alt="foto de flor lievano" width="330" />
								<ul class="speaker-social-list">
									<li>
										<a class="icon icon-xs fa-twitter" href="https://twitter.com/orangeuphq" target="_blank" target="_blank"></a>
									</li>
									<li>
										<a class="icon icon-xs fa-linkedin" href="https://www.linkedin.com/in/flor-lievano-11844563/" target="_blank"></a>
									</li>
								</ul>
							</div>
							<h5 class="speaker-title">Flor Liévano</h5>
							<p class="speaker-position">Fundadora, OrangeUP</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div>
						<!-- Speaker-->
						<div class="speaker">
							<div class="speaker-img" data-triangle=".speaker-overlay">
								<div class="speaker-overlay"></div>
									<img src="{{ site.url }}/assets/tsw/img/tsw-speaker-rodriguez.png" alt="foto de steven rodriguez" width="330" />
								<ul class="speaker-social-list">
									<li>
										<a class="icon icon-xs fa-facebook-f" href="https://www.facebook.com/stvnrco" target="_blank"></a>
									</li>
									<li>
										<a class="icon icon-xs fa-twitter" href="https://www.twitter.com/steverodrigz" target="_blank"></a>
									</li>
									<li>
										<a class="icon icon-xs fa-linkedin" href="https://www.linkedin.com/in/stevenarodriguez" target="_blank"></a>
									</li>
								</ul>
							</div>
							<h5 class="speaker-title"><a href="https://stvnr.co" target="_blank">Steven A. Rodriguez</a></h5>
							<p class="speaker-position">Gerente Regional de Startup Programs en US/Canada, Techstars</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div>
						<!-- Speaker-->
						<div class="speaker">
							<div class="speaker-img" data-triangle=".speaker-overlay">
								<div class="speaker-overlay"></div>
									<img src="{{ site.url }}/assets/tsw/img/16181/elkin-garavito.jpg" alt="foto de elkin garavito" width="330" />
								<ul class="speaker-social-list">
									<li>
										<a class="icon icon-xs fa-linkedin" href="https://www.linkedin.com/in/elkingaravitobeltran/" target="_blank"></a>
									</li>
								</ul>
							</div>
							<h5 class="speaker-title"><a href="https://stvnr.co" target="_blank">Elkin Garavito</a></h5>
							<p class="speaker-position">Fundador, Sikuani.net</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div>
						<!-- Speaker-->
						<div class="speaker">
							<div class="speaker-img" data-triangle=".speaker-overlay">
								<div class="speaker-overlay"></div>
									<img src="{{ site.url }}/assets/tsw/img/16181/marian-villa.jpg" alt="foto de marian villa" width="330" />
								<ul class="speaker-social-list">
									<li>
										<a class="icon icon-xs fa-linkedin" href="https://www.linkedin.com/in/marianvilla/" target="_blank"></a>
									</li>
								</ul>
							</div>
							<h5 class="speaker-title"><a href="https://stvnr.co" target="_blank">Marian Villa</a></h5>
							<p class="speaker-position">Mentora, Eversocial I Pioneras</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div>
						<!-- Speaker-->
						<div class="speaker">
							<div class="speaker-img" data-triangle=".speaker-overlay">
								<div class="speaker-overlay"></div>
									<img src="{{ site.url }}/assets/tsw/img/tsw-speaker-arango.png" alt="foto de julían arango" width="330" />
								<ul class="speaker-social-list">
									<li>
										<a class="icon icon-xs fa-linkedin" href="https://www.linkedin.com/in/arangueta/" target="_blank"></a>
									</li>
								</ul>
							</div>
							<h5 class="speaker-title">Julían Arango</h5>
							<p class="speaker-position">Fundador, Workia</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div>
						<!-- Speaker-->
						<div class="speaker">
							<div class="speaker-img" data-triangle=".speaker-overlay">
								<div class="speaker-overlay"></div>
									<img src="{{ site.url }}/assets/tsw/img/16181/alexander-ricardo.jpg" alt="foto de alexander ricardo" width="330" />
								<ul class="speaker-social-list">
									<li>
										<a class="icon icon-xs fa-linkedin" href="https://www.linkedin.com/in/alexricand" target="_blank"></a>
									</li>
								</ul>
							</div>
							<h5 class="speaker-title">Alexander Ricardo</h5>
							<p class="speaker-position">Entusiasta Digital, alexricand</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div>
						<!-- Speaker-->
						<div class="speaker">
							<div class="speaker-img" data-triangle=".speaker-overlay">
								<div class="speaker-overlay"></div>
									<img src="{{ site.url }}/assets/tsw/img/16181/felipe-garzon.jpg" alt="foto de felipe garzon" width="330" />
								<ul class="speaker-social-list">
									<li>
										<a class="icon icon-xs fa-linkedin" href="https://www.linkedin.com/in/felipegarzonc/" target="_blank"></a>
									</li>
								</ul>
							</div>
							<h5 class="speaker-title">Felipe Garzón</h5>
							<p class="speaker-position">Medellín City Coordinator, Acámica</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div>
						<!-- Speaker-->
						<div class="speaker">
							<div class="speaker-img" data-triangle=".speaker-overlay">
								<div class="speaker-overlay"></div>
									<img src="{{ site.url }}/assets/tsw/img/16181/jonnatan-bustos.jpg" alt="foto de felipe garzon" width="330" />
								<ul class="speaker-social-list">
									<li>
										<a class="icon icon-xs fa-linkedin" href="https://www.linkedin.com/mwlite/in/jonnatanbustos/" target="_blank"></a>
									</li>
								</ul>
							</div>
							<h5 class="speaker-title">Jonnatan Bustos</h5>
							<p class="speaker-position">TechEnthusiast COO, SunDevs</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div>
						<!-- Speaker-->
						<div class="speaker">
							<div class="speaker-img" data-triangle=".speaker-overlay">
								<div class="speaker-overlay"></div>
									<img src="{{ site.url }}/assets/tsw/img/16181/edwin-holguin.jpg" alt="foto de edwin hoguin" width="330" />
								<ul class="speaker-social-list">
									<li>
										<a class="icon icon-xs fa-linkedin" href="http://www.linkedin.com/in/edwinbernal/" target="_blank"></a>
									</li>
								</ul>
							</div>
							<h5 class="speaker-title">Edwin Bernal Holguin</h5>
							<p class="speaker-position">Hackoi Lab</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div>
						<!-- Speaker-->
						<div class="speaker">
							<div class="speaker-img" data-triangle=".speaker-overlay">
								<div class="speaker-overlay"></div>
									<img src="{{ site.url }}/assets/tsw/img/16181/liz-parody.jpg" alt="foto de liz parody" width="330" />
								<ul class="speaker-social-list">
									<li>
										<a class="icon icon-xs fa-linkedin" href="https://www.linkedin.com/in/lizparody/" target="_blank"></a>
									</li>
								</ul>
							</div>
							<h5 class="speaker-title">Liz Parody</h5>
							<p class="speaker-position">Head of Developer Relations, NodeSource</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div>
						<!-- Speaker-->
						<div class="speaker">
							<div class="speaker-img" data-triangle=".speaker-overlay">
								<div class="speaker-overlay"></div>
									<img src="{{ site.url }}/assets/tsw/img/16181/jessica-mercedes.jpg" alt="foto de " width="330" />
								<ul class="speaker-social-list">
									<li>
										<a class="icon icon-xs fa-linkedin" href="https://www.linkedin.com/in/jessicamercedes" target="_blank"></a>
									</li>
								</ul>
							</div>
							<h5 class="speaker-title">Jessica Mercedes</h5>
							<p class="speaker-position">Directora, Fundación Coderise / Holberton Colombia</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div>
						<!-- Speaker-->
						<div class="speaker">
							<div class="speaker-img" data-triangle=".speaker-overlay">
								<div class="speaker-overlay"></div>
									<img src="{{ site.url }}/assets/tsw/img/16181/nelson-irias.jpg" alt="foto de nelson irias" width="330" />
								<ul class="speaker-social-list">
									<li>
										<a class="icon icon-xs fa-linkedin" href="https://www.linkedin.com/in/nelson-ir%C3%ADas-n-69705b60/" target="_blank"></a>
									</li>
								</ul>
							</div>
							<h5 class="speaker-title">Nelson Irias</h5>
							<p class="speaker-position">Co Dorector, Founder Institute Medellín</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div>
						<!-- Speaker-->
						<div class="speaker">
							<div class="speaker-img" data-triangle=".speaker-overlay">
								<div class="speaker-overlay"></div>
									<img src="{{ site.url }}/assets/tsw/img/16181/oscar-barajas.jpg" alt="foto de oscar barajas" width="330" />
								<ul class="speaker-social-list">
									<li>
										<a class="icon icon-xs fa-linkedin" href="https://www.linkedin.com/in/oscarbarajas/" target="_blank"></a>
									</li>
								</ul>
							</div>
							<h5 class="speaker-title">Oscar Barajas</h5>
							<p class="speaker-position">Foundation Layer, Platzi</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div>
						<!-- Speaker-->
						<div class="speaker">
							<div class="speaker-img" data-triangle=".speaker-overlay">
								<div class="speaker-overlay"></div>
									<img src="{{ site.url }}/assets/tsw/img/16181/sebastian-romero.jpg" alt="foto de sebastián romero" width="330" />
								<ul class="speaker-social-list">
									<li>
										<a class="icon icon-xs fa-facebook" href="https://www.facebook.com/bipsa/" target="_blank"></a>
									</li>
								</ul>
							</div>
							<h5 class="speaker-title">Sebastián Romero</h5>
							<p class="speaker-position">Desarrollador, W6c</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div>
						<!-- Speaker-->
						<div class="speaker">
							<div class="speaker-img" data-triangle=".speaker-overlay">
								<div class="speaker-overlay"></div>
									<img src="{{ site.url }}/assets/tsw/img/16181/daniel-marulanda.jpg" alt="foto de daniel marulanda" width="330" />
								<ul class="speaker-social-list">
									<li>
										<a class="icon icon-xs fa-linkedin" href="https://linkedin.com/in/dfmarulanda/" target="_blank"></a>
									</li>
								</ul>
							</div>
							<h5 class="speaker-title">Daniel Marulanda</h5>
							<p class="speaker-position">CTO, Crowdswap</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div>
						<!-- Speaker-->
						<div class="speaker">
							<div class="speaker-img" data-triangle=".speaker-overlay">
								<div class="speaker-overlay"></div>
									<img src="{{ site.url }}/assets/tsw/img/16181/hernan-aracena.jpg" alt="foto de hernan aracena" width="330" />
								<ul class="speaker-social-list">
									<li>
										<a class="icon icon-xs fa-twitter" href="https://twitter.com/aracena" target="_blank"></a>
									</li>
								</ul>
							</div>
							<h5 class="speaker-title">Hernan Aracena</h5>
							<p class="speaker-position">Producto, Aracena</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div>
						<!-- Speaker-->
						<div class="speaker">
							<div class="speaker-img" data-triangle=".speaker-overlay">
								<div class="speaker-overlay"></div>
									<img src="{{ site.url }}/assets/tsw/img/16181/johan-hernandez.jpg" alt="foto de johan hernandez" width="330" />
								<ul class="speaker-social-list">
									<li>
										<a class="icon icon-xs fa-linkedin" href="https://www.linkedin.com/in/bithavoc/" target="_blank"></a>
									</li>
								</ul>
							</div>
							<h5 class="speaker-title">Johan Hernandez</h5>
							<p class="speaker-position">Co-Founder and CTO, Widemesh</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div>
						<!-- Speaker-->
						<div class="speaker">
							<div class="speaker-img" data-triangle=".speaker-overlay">
								<div class="speaker-overlay"></div>
									<img src="{{ site.url }}/assets/tsw/img/16181/camilo-quimbayo.jpg" alt="foto de camilo quimbayo" width="330" />
								<ul class="speaker-social-list">
									<li>
										<a class="icon icon-xs fa-linkedin" href="https://www.linkedin.com/in/camiloqs/" target="_blank"></a>
									</li>
								</ul>
							</div>
							<h5 class="speaker-title">Camilo Quimbayo</h5>
							<p class="speaker-position">Sr Software Enginner, Univision</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div>
						<!-- Speaker-->
						<div class="speaker">
							<div class="speaker-img" data-triangle=".speaker-overlay">
								<div class="speaker-overlay"></div>
									<img src="{{ site.url }}/assets/tsw/img/16181/sebastian-saaibi.jpg" alt="foto de sebastian saaibi" width="330" />
								<ul class="speaker-social-list">
									<li>
										<a class="icon icon-xs fa-linkedin" href="https://www.linkedin.com/in/spsaaibi/" target="_blank"></a>
									</li>
								</ul>
							</div>
							<h5 class="speaker-title">Sebastian Perez Saaibi</h5>
							<p class="speaker-position">Director of Data Science and ML, Baisano Labs</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div>
						<!-- Speaker-->
						<div class="speaker">
							<div class="speaker-img" data-triangle=".speaker-overlay">
								<div class="speaker-overlay"></div>
									<img src="{{ site.url }}/assets/tsw/img/16181/david-silva.jpg" alt="foto de david silva" width="330" />
								<ul class="speaker-social-list">
									<li>
										<a class="icon icon-xs fa-linkedin" href="https://linkedin.com/in/dvidsilva" target="_blank"></a>
									</li>
								</ul>
							</div>
							<h5 class="speaker-title">David Silva</h5>
							<p class="speaker-position">Fundador y Desarollador, Techqueria</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div>
						<!-- Speaker-->
						<div class="speaker">
							<div class="speaker-img" data-triangle=".speaker-overlay">
								<div class="speaker-overlay"></div>
									<img src="{{ site.url }}/assets/tsw/img/16181/felipe-montota.jpg" alt="foto de felipe montota" width="330" />
								<ul class="speaker-social-list"></ul>
							</div>
							<h5 class="speaker-title">Felipe Montota</h5>
							<p class="speaker-position">Consultor, KIBBU GROUP</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div>
						<!-- Speaker-->
						<div class="speaker">
							<div class="speaker-img" data-triangle=".speaker-overlay">
								<div class="speaker-overlay"></div>
									<img src="{{ site.url }}/assets/tsw/img/16181/juliana-kairuz.jpg" alt="foto de juliana-kairuz" width="330" />
								<ul class="speaker-social-list">
									<li>
										<a class="icon icon-xs fa-linkedin" href="https://www.linkedin.com/in/juliana-kairuz-9026a211a/" target="_blank"></a>
									</li>
								</ul>
							</div>
							<h5 class="speaker-title">Juliana Kairuz</h5>
							<p class="speaker-position">Presidente y Fundador, Generando</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div>
						<!-- Speaker-->
						<div class="speaker">
							<div class="speaker-img" data-triangle=".speaker-overlay">
								<div class="speaker-overlay"></div>
									<img src="{{ site.url }}/assets/tsw/img/16181/santiago-bernal.jpg" alt="foto de santiago bernal" width="330" />
								<ul class="speaker-social-list">
									<li>
										<a class="icon icon-xs fa-linkedin" href="https://linkedin.com/in/santiaguf/" target="_blank"></a>
									</li>
								</ul>
							</div>
							<h5 class="speaker-title">Santiago Bernal</h5>
							<p class="speaker-position">Software Engineer, Aumentada</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div>
						<!-- Speaker-->
						<div class="speaker">
							<div class="speaker-img" data-triangle=".speaker-overlay">
								<div class="speaker-overlay"></div>
									<img src="{{ site.url }}/assets/tsw/img/16181/paola-zarate.jpg" alt="foto de paola zarate" width="330" />
								<ul class="speaker-social-list">
									<li>
										<a class="icon icon-xs fa-linkedin" href="https://www.linkedin.com/in/paolazaratem/" target="_blank"></a>
									</li>
								</ul>
							</div>
							<h5 class="speaker-title">Paola Zarate</h5>
							<p class="speaker-position">Web UI Developer, Globant</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div>
						<!-- Speaker-->
						<div class="speaker">
							<div class="speaker-img" data-triangle=".speaker-overlay">
								<div class="speaker-overlay"></div>
									<img src="{{ site.url }}/assets/tsw/img/16181/pablo-villanueva.jpg" alt="foto de pablo villanueva" width="330" />
								<ul class="speaker-social-list">
									<li>
										<a class="icon icon-xs fa-linkedin" href="https://mx.linkedin.com/in/pablovilla83/" target="_blank"></a>
									</li>
								</ul>
							</div>
							<h5 class="speaker-title">Perez Villanueva</h5>
							<p class="speaker-position">Customer Engineer, Google</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div>
						<!-- Speaker-->
						<div class="speaker">
							<div class="speaker-img" data-triangle=".speaker-overlay">
								<div class="speaker-overlay"></div>
									<img src="{{ site.url }}/assets/tsw/img/16181/andres-barreto.jpg" alt="foto de andres abrreto" width="330" />
								<ul class="speaker-social-list">
									<li>
										<a class="icon icon-xs fa-linkedin" href="http://linkedin.com/in/andreshb/" target="_blank"></a>
									</li>
								</ul>
							</div>
							<h5 class="speaker-title">Andres Barreto</h5>
							<p class="speaker-position">Inversionista, Socialatom Group</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div>
						<!-- Speaker-->
						<div class="speaker">
							<div class="speaker-img" data-triangle=".speaker-overlay">
								<div class="speaker-overlay"></div>
									<img src="{{ site.url }}/assets/tsw/img/16181/leon-hernandez.jpg" alt="foto de leon hernandez" width="330" />
								<ul class="speaker-social-list">
									<li>
										<a class="icon icon-xs fa-linkedin" href="https://linkedin.com/in/leonfhl/" target="_blank"></a>
									</li>
								</ul>
							</div>
							<h5 class="speaker-title">Leon Hernandez</h5>
							<p class="speaker-position">Skill Hacker, Bancolombia</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div>
						<!-- Speaker-->
						<div class="speaker">
							<div class="speaker-img" data-triangle=".speaker-overlay">
								<div class="speaker-overlay"></div>
									<img src="{{ site.url }}/assets/tsw/img/16181/ana-martinez.jpg" alt="foto de ana maria martinez" width="330" />
								<ul class="speaker-social-list">
									<li>
										<a class="icon icon-xs fa-linkedin" href="https://www.linkedin.com/in/ana-maria-martinez-franklin-22aa7030/" target="_blank"></a>
									</li>
								</ul>
							</div>
							<h5 class="speaker-title">Ana Maria Martinez</h5>
							<p class="speaker-position">Partner &amp; CMO, Laboratoria</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div>
						<!-- Speaker-->
						<div class="speaker">
							<div class="speaker-img" data-triangle=".speaker-overlay">
								<div class="speaker-overlay"></div>
									<img src="{{ site.url }}/assets/tsw/img/16181/cristian-forestieri.jpg" alt="foto de cristian forestieri" width="330" />
								<ul class="speaker-social-list">
									<li>
										<a class="icon icon-xs fa-linkedin" href="https://www.linkedin.com/in/cristian-forestieri/" target="_blank"></a>
									</li>
								</ul>
							</div>
							<h5 class="speaker-title">Cristian Forestieri</h5>
							<p class="speaker-position">Director Ejecutivo, Parquesoft Bogota</p>
						</div>
					</div>
				</div>
			</div><!--<a class="button button-secondary box-with-triangle-right wow fadeScale" href="speakers.html" data-triangle=".button-overlay"><span>Ver todos los mentores</span><span class="button-overlay"></span></a>-->
		</div>
	</div>
</section>
