<!-- Section Pre Footer-->
<section class="section section-lg bg-gray-900">
	<div class="container">
		<div class="row row-30">
			<div class="col-xs-10 col-lg-4 align-self-center">
				<a class="brand" href="https://bogotastartupweek.com/tsw">
					<img class="brand-logo-light" src="assets/tsw/img/tsw-logo-bogota-w-h.png" srcset="assets/tsw/img/tsw-logo-bogota-w-h.png 2x" alt="Voelas">
				</a>
			</div>
			<div class="col-xs-10 col-sm-6 col-lg-4">
				<h5><span class="big font-weight-sbold">Detalles del evento</span></h5>
				<div class="event-detail">
					<p class="event-detail-time big">
						<time data-splitting datetime="2019-01-05">Del 28 de febrero al 1 de marzo del 2020</time>
					</p>
					<p class="event-detail-address big" data-splitting>Bogotá, Colombia.</p><a class="event-detail-link" href="#">Ver mapa de locación</a>
				</div>
			</div>
			<div class="col-xs-10 col-sm-6 col-lg-4">
				<h5><span class="big font-weight-sbold">Nuestras redes sociales</span></h5>
				<div class="event-detail">
					<p class="big">Conoce más de nuestro evento aquí.
						<br class="d-none d-xl-block"></p>
					<ul class="list-inline list-inline-xs">
						<li data-wow-delay=".2s">
							<a class="icon icon-rect icon-xs icon-white fa-facebook" href="https://facebook.com/bogoweek" data-triangle=".icon-rect-overlay">
								<div class="icon-rect-overlay"></div>
							</a>
						</li>
						<li data-wow-delay=".35s">
							<a class="icon icon-rect icon-xs icon-white fa-twitter" href="https://twitter.com/bogoweek" data-triangle=".icon-rect-overlay">
								<div class="icon-rect-overlay"></div>
							</a>
						</li>
						<li data-wow-delay=".5s">
							<a class="icon icon-rect icon-xs icon-white fa-instagram" href="https://instagram.com/bogoweek" data-triangle=".icon-rect-overlay">
								<div class="icon-rect-overlay"></div>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>