<!-- Section Who Is Speaking-->
<section class="parallax-container section" data-parallax-img="assets/tsw/img/bg-parallax-02-1894x1950.jpg">
	<div class="parallax-content section-lg context-dark text-center">
		<div class="container">
			<a name="speakers"><h6 class="text-secondary">Nuestros mentores</h6></a>
			<h3>Quienes nos guian.</h3>
			<div class="row row-30">
				<div class="col-md-6 col-lg-4">
					<div>
						<!-- Speaker-->
						<div class="speaker">
							<div class="speaker-img" data-triangle=".speaker-overlay">
								<div class="speaker-overlay"></div>
									<img src="assets/tsw/img/tsw-speaker-lievano.png" alt="foto de flor lievano" width="330" />
								<ul class="speaker-social-list">
									<li>
										<a class="icon icon-xs fa-twitter" href="https://twitter.com/orangeuphq" target="_blank" target="_blank"></a>
									</li>
									<li>
										<a class="icon icon-xs fa-linkedin" href="https://www.linkedin.com/in/flor-lievano-11844563/" target="_blank"></a>
									</li>
								</ul>
							</div>
							<h5 class="speaker-title">Flor Liévano</h5>
							<p class="speaker-position">Fundadora, OrangeUP</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div>
						<!-- Speaker-->
						<div class="speaker">
							<div class="speaker-img" data-triangle=".speaker-overlay">
								<div class="speaker-overlay"></div>
									<img src="assets/tsw/img/tsw-speaker-rodriguez.png" alt="foto de steven rodriguez" width="330" />
								<ul class="speaker-social-list">
									<li>
										<a class="icon icon-xs fa-facebook-f" href="https://www.facebook.com/stvnrco" target="_blank"></a>
									</li>
									<li>
										<a class="icon icon-xs fa-twitter" href="https://www.twitter.com/steverodrigz" target="_blank"></a>
									</li>
									<li>
										<a class="icon icon-xs fa-linkedin" href="https://www.linkedin.com/in/stevenarodriguez" target="_blank"></a>
									</li>
								</ul>
							</div>
							<h5 class="speaker-title"><a href="https://stvnr.co" target="_blank">Steven A. Rodriguez</a></h5>
							<p class="speaker-position">Gerente Regional de Startup Programs en US/Canada, Techstars</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div>
						<!-- Speaker-->
						<div class="speaker">
							<div class="speaker-img" data-triangle=".speaker-overlay">
								<div class="speaker-overlay"></div>
									<img src="assets/tsw/img/tsw-speaker-barreto.png" alt="foto de andres barreto" width="330" />
								<ul class="speaker-social-list">
									<li>
										<a class="icon icon-xs fa-linkedin" href="https://www.linkedin.com/in/andreshb/" target="_blank"></a>
									</li>
								</ul>
							</div>
							<h5 class="speaker-title">Andres Barreto</h5>
							<p class="speaker-position">Inversionista y Socio, Socialatom Group y Firstrock Capital</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div>
						<!-- Speaker-->
						<div class="speaker">
							<div class="speaker-img" data-triangle=".speaker-overlay">
								<div class="speaker-overlay"></div>
									<img src="assets/tsw/img/tsw-speaker-ximenez.png" alt="" width="330" />
								<ul class="speaker-social-list">
									<li>
										<a class="icon icon-xs fa-twitter" href="https://twitter.com/aleximenez" target="_blank"></a>
									</li>
								</ul>
							</div>
							<h5 class="speaker-title">Alejandra Ximenez</h5>
							<p class="speaker-position">Freelance</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div>
						<!-- Speaker-->
						<div class="speaker">
							<div class="speaker-img" data-triangle=".speaker-overlay">
								<div class="speaker-overlay"></div>
									<img src="assets/tsw/img/tsw-speaker-hurtado.png" alt="" width="330" />
								<ul class="speaker-social-list">
									<li>
										<a class="icon icon-xs fa-linkedin" href="https://www.linkedin.com/in/andreshurtadorangel/" target="_blank"></a>
									</li>
								</ul>
							</div>
							<h5 class="speaker-title">Andres Hurtado</h5>
							<p class="speaker-position">Fundador, SynerTechCloud.com</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div>
						<!-- Speaker-->
						<div class="speaker">
							<div class="speaker-img" data-triangle=".speaker-overlay">
								<div class="speaker-overlay"></div>
									<img src="assets/tsw/img/tsw-speaker-gonzalez.png" alt="" width="330" />
								<ul class="speaker-social-list">
									<li>
										<a class="icon icon-xs fa-linkedin" href="https://www.linkedin.com/in/fabrizio-gonzalez-maroso/" target="_blank"></a>
									</li>
								</ul>
							</div>
							<h5 class="speaker-title">Fabrizio González</h5>
							<p class="speaker-position">Fundador, Tuatara y El Nido Coworking</p>
						</div>
					</div>
				</div>
			</div><!--<a class="button button-secondary box-with-triangle-right wow fadeScale" href="speakers.html" data-triangle=".button-overlay"><span>Ver todos los mentores</span><span class="button-overlay"></span></a>-->
		</div>
	</div>
</section>