<!-- Section Who Is Speaking-->
<section class="parallax-container section" data-parallax-img="{{ site.url }}/assets/tsw/img/bg-parallax-02-1894x1950.jpg">
	<div class="parallax-content section-lg context-dark text-center">
		<div class="container">
			<a name="speakers"><h6 class="text-secondary">Nuestros mentores</h6></a>
			<h3>Quienes nos guian.</h3>
			<div class="row row-30">
				<div class="col-md-6 col-lg-4">
					<div>
						<!-- Speaker-->
						<div class="speaker">
							<div class="speaker-img" data-triangle=".speaker-overlay">
								<div class="speaker-overlay"></div>
									<img src="{{ site.url }}/assets/tsw/img/tsw-speaker-lievano.png" alt="foto de flor lievano" width="330" />
								<ul class="speaker-social-list">
									<li>
										<a class="icon icon-xs fa-twitter" href="https://twitter.com/orangeuphq" target="_blank" target="_blank"></a>
									</li>
									<li>
										<a class="icon icon-xs fa-linkedin" href="https://www.linkedin.com/in/flor-lievano-11844563/" target="_blank"></a>
									</li>
								</ul>
							</div>
							<h5 class="speaker-title">Flor Liévano</h5>
							<p class="speaker-position">Fundadora, OrangeUP</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div>
						<!-- Speaker-->
						<div class="speaker">
							<div class="speaker-img" data-triangle=".speaker-overlay">
								<div class="speaker-overlay"></div>
									<img src="{{ site.url }}/assets/tsw/img/tsw-speaker-rodriguez.png" alt="foto de steven rodriguez" width="330" />
								<ul class="speaker-social-list">
									<li>
										<a class="icon icon-xs fa-facebook-f" href="https://www.facebook.com/stvnrco" target="_blank"></a>
									</li>
									<li>
										<a class="icon icon-xs fa-twitter" href="https://www.twitter.com/steverodrigz" target="_blank"></a>
									</li>
									<li>
										<a class="icon icon-xs fa-linkedin" href="https://www.linkedin.com/in/stevenarodriguez" target="_blank"></a>
									</li>
								</ul>
							</div>
							<h5 class="speaker-title"><a href="https://stvnr.co" target="_blank">Steven A. Rodriguez</a></h5>
							<p class="speaker-position">Gerente Regional de Startup Programs en US/Canada, Techstars</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div>
						<!-- Speaker-->
						<div class="speaker">
							<div class="speaker-img" data-triangle=".speaker-overlay">
								<div class="speaker-overlay"></div>
									<img src="{{ site.url }}/assets/tsw/img/tsw-speaker-arango.png" alt="foto de julían arango" width="330" />
								<ul class="speaker-social-list">
									<li>
										<a class="icon icon-xs fa-linkedin" href="https://www.linkedin.com/in/arangueta/" target="_blank"></a>
									</li>
								</ul>
							</div>
							<h5 class="speaker-title">Julían Arango</h5>
							<p class="speaker-position">Fundador, Workia</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div>
						<!-- Speaker-->
						<div class="speaker">
							<div class="speaker-img" data-triangle=".speaker-overlay">
								<div class="speaker-overlay"></div>
									<img src="{{ site.url }}/assets/tsw/img/tsw-speaker-bolivar.png" alt="foto de mateo bolivar" width="330" />
								<ul class="speaker-social-list">
									<li>
										<a class="icon icon-xs fa-linkedin" href="https://www.linkedin.com/in/mateo-bol%C3%ADvar-sierra-7a791616b/" target="_blank"></a>
									</li>
								</ul>
							</div>
							<h5 class="speaker-title">Mateo Bolivar</h5>
							<p class="speaker-position">Fundador, easy line</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div>
						<!-- Speaker-->
						<div class="speaker">
							<div class="speaker-img" data-triangle=".speaker-overlay">
								<div class="speaker-overlay"></div>
									<img src="{{ site.url }}/assets/tsw/img/tsw-speaker-carrascal.png" alt="foto de maria isabel carrascal" width="330" />
								<ul class="speaker-social-list">
									<li>
										<a class="icon icon-xs fa-linkedin" href="https://www.linkedin.com/in/maria-isabel-carrascal-a703281/" target="_blank"></a>
									</li>
								</ul>
							</div>
							<h5 class="speaker-title">Maria Isabel Carrascal</h5>
							<p class="speaker-position">Gerente Agencia de Empleo y Emprendimiento, Compensar</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div>
						<!-- Speaker-->
						<div class="speaker">
							<div class="speaker-img" data-triangle=".speaker-overlay">
								<div class="speaker-overlay"></div>
									<img src="{{ site.url }}/assets/tsw/img/tsw-speaker-sanchez.png" alt="foto de adriana sanchez" width="330" />
								<ul class="speaker-social-list">
									<li>
										<a class="icon icon-xs fa-instagram" href="https://www.instagram.com/keplego/" target="_blank"></a>
									</li>
								</ul>
							</div>
							<h5 class="speaker-title">Adriana Sánchez</h5>
							<p class="speaker-position">Co-fundadora, KEPLEGO</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div>
						<!-- Speaker-->
						<div class="speaker">
							<div class="speaker-img" data-triangle=".speaker-overlay">
								<div class="speaker-overlay"></div>
									<img src="{{ site.url }}/assets/tsw/img/tsw-speaker-chaparro.png" alt="foto de manuel chaparro" width="330" />
								<ul class="speaker-social-list">
									<li>
										<a class="icon icon-xs fa-linkedin" href="https://www.linkedin.com/in/arqmanuelalajandrochaparro/" target="_blank"></a>
									</li>
								</ul>
							</div>
							<h5 class="speaker-title">Manuiel Chaparro</h5>
							<p class="speaker-position">Co-fundador, KEPLEGO</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div>
						<!-- Speaker-->
						<div class="speaker">
							<div class="speaker-img" data-triangle=".speaker-overlay">
								<div class="speaker-overlay"></div>
									<img src="{{ site.url }}/assets/tsw/img/tsw-speaker-pena.png" alt="" width="330" />
								<ul class="speaker-social-list">
									<li>
										<a class="icon icon-xs fa-linkedin" href="https://www.linkedin.com/in/manuela-pe%C3%B1a-g%C3%B3mez-637150119/" target="_blank"></a>
									</li>
								</ul>
							</div>
							<h5 class="speaker-title">Manuela Peña Gómez</h5>
							<p class="speaker-position">Universidad de La Sabana</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div>
						<!-- Speaker-->
						<div class="speaker">
							<div class="speaker-img" data-triangle=".speaker-overlay">
								<div class="speaker-overlay"></div>
									<img src="{{ site.url }}/assets/tsw/img/tsw-speaker-duran.png" alt="diana duran" width="330" />
								<ul class="speaker-social-list">
									<li>
										<a class="icon icon-xs fa-facebook" href="https://www.facebook.com/ROSAURATURBANTES?ref=bogoweek" target="_blank"></a>
									</li>
								</ul>
							</div>
							<h5 class="speaker-title">Diana Durán</h5>
							<p class="speaker-position">Emprendedora, Rosaura Turbantes</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div>
						<!-- Speaker-->
						<div class="speaker">
							<div class="speaker-img" data-triangle=".speaker-overlay">
								<div class="speaker-overlay"></div>
									<img src="{{ site.url }}/assets/tsw/img/tsw-speaker-hurtado.png" alt="" width="330" />
								<ul class="speaker-social-list">
									<li>
										<a class="icon icon-xs fa-linkedin" href="https://www.linkedin.com/in/andreshurtadorangel/" target="_blank"></a>
									</li>
								</ul>
							</div>
							<h5 class="speaker-title">Andres Hurtado</h5>
							<p class="speaker-position">Fundador, SynerTechCloud.com</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div>
						<!-- Speaker-->
						<div class="speaker">
							<div class="speaker-img" data-triangle=".speaker-overlay">
								<div class="speaker-overlay"></div>
									<img src="{{ site.url }}/assets/tsw/img/tsw-speaker-gonzalez2.png" alt="" width="330" />
								<ul class="speaker-social-list">
									<li>
										<a class="icon icon-xs fa-linkedin" href="https://www.linkedin.com/in/fabrizio-gonzalez-maroso/" target="_blank"></a>
									</li>
								</ul>
							</div>
							<h5 class="speaker-title">Fabrizio González</h5>
							<p class="speaker-position">Fundador, Tuatara y El Nido Coworking</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div>
						<!-- Speaker-->
						<div class="speaker">
							<div class="speaker-img" data-triangle=".speaker-overlay">
								<div class="speaker-overlay"></div>
									<img src="{{ site.url }}/assets/tsw/img/tsw-speaker-orozco.png" alt="" width="330" />
								<ul class="speaker-social-list">
									<li>
										<a class="icon icon-xs fa-linkedin" href="https://www.linkedin.com/in/manuel-h-orozco-c/" target="_blank"></a>
									</li>
								</ul>
							</div>
							<h5 class="speaker-title">Manuel Orozco</h5>
							<p class="speaker-position">Mentor PEMP, Universidad de los Andes</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div>
						<!-- Speaker-->
						<div class="speaker">
							<div class="speaker-img" data-triangle=".speaker-overlay">
								<div class="speaker-overlay"></div>
									<img src="{{ site.url }}/assets/tsw/img/tsw-speaker-rueda.png" alt="" width="330" />
								<ul class="speaker-social-list">
									<li>
										<a class="icon icon-xs fa-linkedin" href="https://www.linkedin.com/in/jessica-rueda-castro-289859b2/" target="_blank"></a>
									</li>
								</ul>
							</div>
							<h5 class="speaker-title">Jessica Rueda Castro</h5>
							<p class="speaker-position">Coach y Gerencia Comercial, The Owl's Company</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div>
						<!-- Speaker-->
						<div class="speaker">
							<div class="speaker-img" data-triangle=".speaker-overlay">
								<div class="speaker-overlay"></div>
									<img src="{{ site.url }}/assets/tsw/img/tsw-speaker-borras.png" alt="" width="330" />
								<ul class="speaker-social-list">
									<li>
										<a class="icon icon-xs fa-linkedin" href="https://www.linkedin.com/in/juan-s-bustamante-b-43307271/" target="_blank"></a>
									</li>
								</ul>
							</div>
							<h5 class="speaker-title">Juan Bustamente Borrás</h5>
							<p class="speaker-position">Co-fundador, Atalaya Consulting Group</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div>
						<!-- Speaker-->
						<div class="speaker">
							<div class="speaker-img" data-triangle=".speaker-overlay">
								<div class="speaker-overlay"></div>
									<img src="{{ site.url }}/assets/tsw/img/tsw-speaker-bermudez.png" alt="" width="330" />
								<ul class="speaker-social-list">
									<li>
										<a class="icon icon-xs fa-linkedin" href="https://www.linkedin.com/in/laura-berm%C3%BAdez-jurado-b8a823126/" target="_blank"></a>
									</li>
								</ul>
							</div>
							<h5 class="speaker-title">Laura Bermúdez</h5>
							<p class="speaker-position">Jefe de Aprendizaje Experiencial, Universidad de La Sabana</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div>
						<!-- Speaker-->
						<div class="speaker">
							<div class="speaker-img" data-triangle=".speaker-overlay">
								<div class="speaker-overlay"></div>
									<img src="{{ site.url }}/assets/tsw/img/tsw-speaker-santiesteban.png" alt="" width="330" />
								<ul class="speaker-social-list">
									<li>
										<a class="icon icon-xs fa-linkedin" href="https://www.linkedin.com/in/francisco-santiesteban-báez-1a1695b8/" target="_blank"></a>
									</li>
								</ul>
							</div>
							<h5 class="speaker-title">Francisco Santiesteban Báez</h5>
							<p class="speaker-position">Gestor de Talento, Serendipia Laboratório de Talento Humano</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div>
						<!-- Speaker-->
						<div class="speaker">
							<div class="speaker-img" data-triangle=".speaker-overlay">
								<div class="speaker-overlay"></div>
									<img src="{{ site.url }}/assets/tsw/img/tsw-speaker-ardila.png" alt="" width="330" />
								<ul class="speaker-social-list">
									<li>
										<a class="icon icon-xs fa-linkedin" href="http://linkedin.com/in/mar%C3%ADa-fernanda-ardila-ariza" target="_blank"></a>
									</li>
								</ul>
							</div>
							<h5 class="speaker-title">María Fernanda Ardila</h5>
							<p class="speaker-position">Cor. Comunicaciones y Mercadeo Digital, Ajover</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div>
						<!-- Speaker-->
						<div class="speaker">
							<div class="speaker-img" data-triangle=".speaker-overlay">
								<div class="speaker-overlay"></div>
									<img src="{{ site.url }}/assets/tsw/img/tsw-speaker-cubides.png" alt="" width="330" />
								<ul class="speaker-social-list">
									<li>
										<a class="icon icon-xs fa-linkedin" href="https://co.linkedin.com/in/jorgecubides" target="_blank"></a>
									</li>
								</ul>
							</div>
							<h5 class="speaker-title">Jorge Cubides</h5>
							<p class="speaker-position">Comunicador Digital Experto en Mercadeo 2.0, CubixMedia</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div>
						<!-- Speaker-->
						<div class="speaker">
							<div class="speaker-img" data-triangle=".speaker-overlay">
								<div class="speaker-overlay"></div>
									<img src="{{ site.url }}/assets/tsw/img/tsw-speaker-rodriguez1.png" alt="" width="330" />
								<ul class="speaker-social-list">
									<li>
										<a class="icon icon-xs fa-linkedin" href="https://www.linkedin.com/in/sergioandresrodriguezgarcia" target="_blank"></a>
									</li>
								</ul>
							</div>
							<h5 class="speaker-title">Sergio Rodríguez</h5>
							<p class="speaker-position">Consultor, everis</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div>
						<!-- Speaker-->
						<div class="speaker">
							<div class="speaker-img" data-triangle=".speaker-overlay">
								<div class="speaker-overlay"></div>
									<img src="{{ site.url }}/assets/tsw/img/tsw-speaker-cooper.png" alt="" width="330" />
								<ul class="speaker-social-list">
									<li>
										<a class="icon icon-xs fa-instagram" href="https://www.instagram.com/cunasconamor/" target="_blank"></a>
									</li>
								</ul>
							</div>
							<h5 class="speaker-title">Camila Cooper</h5>
							<p class="speaker-position">Directora, Fruto Bendito</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div>
						<!-- Speaker-->
						<div class="speaker">
							<div class="speaker-img" data-triangle=".speaker-overlay">
								<div class="speaker-overlay"></div>
									<img src="{{ site.url }}/assets/tsw/img/tsw-speaker-luengas.png" alt="" width="330" />
								<ul class="speaker-social-list">
									<li>
										<a class="icon icon-xs fa-linkedin" href="https://www.linkedin.com/in/alejandroluengas/" target="_blank"></a>
									</li>
								</ul>
							</div>
							<h5 class="speaker-title">Alejandro	Luengas</h5>
							<p class="speaker-position">Mentor, Centro de Emprendimiento e Innovación Sabana</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div>
						<!-- Speaker-->
						<div class="speaker">
							<div class="speaker-img" data-triangle=".speaker-overlay">
								<div class="speaker-overlay"></div>
									<img src="{{ site.url }}/assets/tsw/img/tsw-speaker-rodriguez2.png" alt="carlos rodriguez acosta" width="330" />
								<ul class="speaker-social-list">
									<li>
										<a class="icon icon-xs fa-linkedin" href="https://www.linkedin.com/in/carlosrodac/" target="_blank"></a>
									</li>
								</ul>
							</div>
							<h5 class="speaker-title">Carlos Rodríguez Acosta</h5>
							<p class="speaker-position">Co Fundador y Gerente Operativo de Productos, Productos Kumara</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div>
						<!-- Speaker-->
						<div class="speaker">
							<div class="speaker-img" data-triangle=".speaker-overlay">
								<div class="speaker-overlay"></div>
									<img src="{{ site.url }}/assets/tsw/img/tsw-speaker-torres.png" alt="ivan daniel torres" width="330" />
								<ul class="speaker-social-list">
									<li>
										<a class="icon icon-xs fa-linkedin" href="https://www.linkedin.com/in/iván-daniel-torres-42216471/" target="_blank"></a>
									</li>
								</ul>
							</div>
							<h5 class="speaker-title">Daniel Torres</h5>
							<p class="speaker-position">Consultor en Innovación en Procesos de Recursos Humanos, Serendipia Laboratorio de Talento Humano</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div>
						<!-- Speaker-->
						<div class="speaker">
							<div class="speaker-img" data-triangle=".speaker-overlay">
								<div class="speaker-overlay"></div>
									<img src="{{ site.url }}/assets/tsw/img/tsw-speaker-boyaca.png" alt="diana boyaca" width="330" />
								<ul class="speaker-social-list">
									<li>
										<a class="icon icon-xs fa-linkedin" href="https://www.linkedin.com/in/diana-ximena-boyacá-99602956/" target="_blank"></a>
									</li>
								</ul>
							</div>
							<h5 class="speaker-title">Diana Boyacá</h5>
							<p class="speaker-position">Business Consultant, everis</p>
						</div>
					</div>
				</div>
			</div><!--<a class="button button-secondary box-with-triangle-right wow fadeScale" href="speakers.html" data-triangle=".button-overlay"><span>Ver todos los mentores</span><span class="button-overlay"></span></a>-->
		</div>
	</div>
</section>