<section class="section section-lg bg-gray-100 text-center">
	<div class="container">
		<h6>Para nuestros</h6>
		<h3>Participantes.</h3>
		<div class="row row-30">
			<div class="col-sm-6 col-lg-4">
				<div class="pricing">
					<div class="pricing-header">
						<h6 class="pricing-title">Tu</h6>
						<p class="pricing-price heading-3">Tiquete
                  </p>
						<p class="pricing-description">incluye</p>
					</div>
					<div class="pricing-body">
						<ul class="pricing-list">
							<li>5 comidas completas (y deliciosas) durante el fin de semana.</li>
							<hr>
							<li>Asesoría impresionante por parte de los mentores.</li>
							<hr>
							<li>Una red de nuevos desarrolladores, diseñadores y emprendedores que también están entusiasmados por ser agentes de cambio en el país.</li>
							<hr>
							<li>Todo el internet, café y galletas que puedas consumir en un fin de semana.</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-lg-4">
				<div class="pricing">
					<div class="pricing-header">
						<h6 class="pricing-title">Tendrán acceso a</h6>
						<p class="pricing-price heading-3">Beneficios
                  </p>
						<p class="pricing-description">por asistir</p>
					</div>
					<div class="pricing-body">
						<ul class="pricing-list">
							<li>Un dominio .CO totalmente gratis.</li>
							<hr>
							<li>$300 en crédito de Google Cloud.</li>
							<hr>
							<li>Tu perfil en F6S.</li>
							<hr>
							<li>Un mes gratis de asesoría con OrangeUP.</li>
							<hr>
							<li>Tu camiseta edicion limitada de #BOGOWEEK2020.</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-lg-4">
				<div class="pricing">
					<div class="pricing-header">
						<h6 class="pricing-title">Premios valorizados por</h6>
						<p class="pricing-price heading-3">$5.500.000
                  </p>
						<p class="pricing-description">para los tres primeros equipos</p>
					</div>
					<div class="pricing-body">
						<ul class="pricing-list">
							<li>Suscripción a HubSpot for Startups 90% el primer año, 50% el segundo año y 25% en adelante.</li>
							<hr>
							<li>500 créditos de consumo para usar en espacios de coworking de la ciudad.</li>
							<hr>
							<li>5 horas gratis de asesoría de mercadeo digital.</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<a class="button button-primary" href="https://compra.bogoweek.co/cart/31855807037573:1?channel=buy_button" data-triangle=".button-overlay" target="_blank"><span>Comprar tiquetes</span><span class="button-overlay"></span></a>
	</div>
</section>