<!-- Section We Have Top Executive And Start Up Here-->
<section class="parallax-container section" data-parallax-img="assets/tsw/img/bg-parallax-05-1894x758.jpg">
	<div class="parallax-content section-lg context-dark text-center">
		<div class="container">
			<div class="row row-30 justify-content-center">
				<div class="col-md-10 col-lg-8">
					<a class="video-link wow fadeScale" href="https://www.youtube.com/watch?v=6Q9XxQNrwvY&feature=youtu.be&t=32" data-lightgallery="item">
						<div class="video-link-bg" data-triangle=".video-link-overlay"><span class="video-link-overlay"></span>
						</div><span class="icon fa-play"></span>
					</a>
					<h6 class="text-secondary wow" data-splitting>¿Qué es Techstars Startup Weekend?</h6>
					<h2 class="wow" data-splitting>PON EN  MARCHA LA IDEA DE TU NEGOCIO EN SOLO 54 HORAS.</h2>
				</div>
			</div>
		</div>
	</div>
</section>