<body>
    <div class="preloader">
        <div class="preloader-body">
            <div class="cssload-container">
                <div class="cssload-speeding-wheel"></div>
            </div>
            <p>Cargando...</p>
        </div>
    </div>
    <div class="page">
        <!-- Section Header Default-->
        <header class="section page-header">
            <!--RD Navbar-->
            <div class="rd-navbar-wrap">
                {% include tsw_getStarted_nav.html %}
            </div>
        </header>
        <!-- Breadcrumbs-->
        <section class="breadcrumbs-custom bg-image context-dark" style="background-image: url({{ site.url }}/assets/tsw/img/bg-breadcrumbs-01-1894x424.jpg);">
            <div class="container">
                <ul class="breadcrumbs-custom-path">
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/tsw">Weekend</a></li>
                    <li class="active">Beneficios</li>
                </ul>
                <a name="registro"><h3 class="breadcrumbs-custom-title">¡Gracias por registrarte!</h3></a>
            </div>
        </section>
        <!-- Intro-->
        <section class="section section-lg bg-default text-center">
            <div class="container">
                <div class="block-about">
                    <div class="block-about-content">
                        <h6>Aprovecha estos</h6>
                        <h3>Beneficios.</h3>
                        <p>Independientemente de lo que esté construyendo, nuestros socios globales y nuestra comunidad han reunido algunos recursos fantásticos para ayudarlo a construir su idea. A continuación encontrará una lista seleccionada de los mejores recursos para ayudarlo durante el fin de semana.</p>
                        <div class="group" style="margin-bottom:20px;"><a class="button button-primary" href="https://bogoweek.co/tsw15512wa" data-triangle=".button-overlay" target="_blank"><span>Ingresar al grupo privado en WhatsApp</span><span class="button-overlay"></span></a></div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section Become A Sponsor-->
        <section class="section section-lg bg-default text-center">
            <div class="container">
                <div class="block-about">
                    <div class="block-about-content">
                        <h4>Aliados Globales</h4>
                    </div>
                </div>
                <div class="row row-separated">
                    <div class="col-sm-6 col-lg-4 row-separated-item">
                        <!-- Sponsor Info-->
                        <div class="sponsor-info">
                            <div class="sponsor-info-icon">
                                <svg class="svg-icon-lg  icon-primary" role="img">
                                    <use xlink:href="/assets/tsw/img/svg/sprite.svg#plus-symbol"></use>
                                </svg>
                            </div>
                            <h5 class="sponsor-info-title"><span class="big">$3.000 USD creditos para Google Cloud</span></h5>
                            <div class="sponsor-info-text">
                                <p>Google for Startups es la iniciativa de Google para ayudar a que su startup prospere, sin importar dónde viva. Como asistente de Startup Weekend, ahora eres parte de la comunidad Google for Startups, que te da acceso a lo mejor de Google. Esto incluye productos de Google, conexiones y mejores prácticas para ayudar a que su startup crezca.</p>
                                <p>Los asistentes del Techstars Startup Weekend pueden canjear $3.000 USD en créditos de Google Cloud (se proporcionarán instrucciones para solicitar durante el fin de semana). Las mejores prácticas, herramientas y otros recursos de Google para los asistentes también se pueden encontrar en <a href="https://startup.google.com/intl/es/" target="_blank">https://startup.google.com</a>.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 row-separated-item">
                        <!-- Sponsor Info-->
                        <div class="sponsor-info">
                            <div class="sponsor-info-icon">
                                <svg class="svg-icon-lg  icon-secondary" role="img">
                                    <use xlink:href="/assets/tsw/img/svg/sprite.svg#plus-symbol"></use>
                                </svg>
                            </div>
                            <h5 class="sponsor-info-title"><span class="big">.CO dominio gratis</span></h5>
                            <div class="sponsor-info-text">
                                <p>.CO es el nombre de dominio elegido por los innovadores y emprendedores de todo el mundo. Desde nuevas empresas y pequeñas empresas hasta grandes marcas y corporaciones multinacionales, .CO es donde las grandes ideas pertenecen a la Web.</p>
                                <p>Nos enorgullece ofrecer a todos los participantes de Techstars Startup Weekend acceso a un dominio .CO gratuito por el primer año. Obtenga más información en <a href="https://www.go.co/startupweekend/" target="_blank">go.co/startupweekend</a>.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 row-separated-item">
                        <!-- Sponsor Info-->
                        <div class="sponsor-info">
                            <div class="sponsor-info-icon">
                                <svg class="svg-icon-lg  icon-success" role="img">
                                    <use xlink:href="/assets/tsw/img/svg/sprite.svg#puzzle"></use>
                                </svg>
                            </div>
                            <h5 class="sponsor-info-title"><span class="big">Asseso a F6S</span></h5>
                            <div class="sponsor-info-text">
                                <p>F6S es una plataforma con más de un millón de fundadores de startups, y se considera una plataforma principal para que los inversores encuentren startups y para descubrir nuevas startups.</p>
                                <p>Aproveche los beneficios y descuentos ofrecidos a todos los participantes de TSW en <a href="https://www.f6s.com/swperks" target="_blank">f6s.com/swperks</a>.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 row-separated-item">
                        <!-- Sponsor Info-->
                        <div class="sponsor-info">
                            <div class="sponsor-info-icon">
                                <svg class="svg-icon-lg  icon-pumpkin" role="img">
                                    <use xlink:href="/assets/tsw/img/svg/sprite.svg#beaker"></use>
                                </svg>
                            </div>
                            <h5 class="sponsor-info-title"><span class="big">Prueba gratuita y 20% descuento para G Suite</span></h5>
                            <div class="sponsor-info-text">
                                <p>G Suite te da todo lo que necesita para optimizar su trabajo, en un solo paquete que funciona a la perfección desde su computadora, teléfono o tablet. Tendrás acceso al correo electrónico empresarial, las videoconferencias, el almacenamiento en línea y otras herramientas empresariales.</p>
                                <p>Aproveche que tu prueba gratuita de 14 días no requiere la descarga de ningún software y al final recibes un 20% de descuento el primer año en el plan G Suite Basic y el plan G Suite Business (se proporcionarán instrucciones para solicitar durante el fin de semana); para el código de descuento por favor envía mensaje aquí [<a href="https://share.hsforms.com/1w7CFL7T7QeOYuzFDjRTZ_w30aod" target="_blank">LINK</a>].</p>
                                <p><a href="https://refergsuite.app.goo.gl/a6Re" target="_blank"><img src="http://services.google.com/fh/files/misc/digital_button_gsuite_es_419.jpg"></a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 row-separated-item">
                        <!-- Sponsor Info-->
                        <div class="sponsor-info">
                            <div class="sponsor-info-icon">
                                <svg class="svg-icon-lg  icon-dodger-blue" role="img">
                                    <use xlink:href="/assets/tsw/img/svg/sprite.svg#beaker"></use>
                                </svg>
                            </div>
                            <h5 class="sponsor-info-title"><span class="big">Prueba gratuita para Shopify</span></h5>
                            <div class="sponsor-info-text">
                                <p>Shopify es una plataforma con todas las funciones de comercio electrónico y punto de venta que necesitas para comenzar, gestionar y hacer crecer tu negocio.</p>
                                <p>Prueba Shopify gratis por 14 días, sin necesidad de ingresar tu tarjeta de crédito. Al ingresar tu correo electrónico, aceptas recibir correos electrónicos de marketing por parte de Shopify.</p>
                                <div class="group" style="margin-bottom:20px;"><a class="button button-primary" href="https://www.shopify.com.co/prueba-gratis?ref=suego-llc" data-triangle=".button-overlay" target="_blank"><span>Aprende Más</span><span class="button-overlay"></span></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block-about">
                    <div class="block-about-content">
                        <h4>Aliados Locales</h4>
                    </div>
                </div>
                <div class="row row-separated">
                    <div class="col-sm-6 col-lg-4 row-separated-item">
                        <!-- Sponsor Info-->
                        <div class="sponsor-info">
                            <div class="sponsor-info-icon">
                                <svg class="svg-icon-lg  icon-purple-heart" role="img">
                                    <use xlink:href="/assets/tsw/img/svg/sprite.svg#handshake"></use>
                                </svg>
                            </div>
                            <h5 class="sponsor-info-title"><span class="big">1 mes membresia gratis con OrangeUP</span></h5>
                            <div class="sponsor-info-text">
                                <p>Mas infromacion durante el programa.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 row-separated-item">
                        <!-- Sponsor Info-->
                        <div class="sponsor-info">
                            <div class="sponsor-info-icon">
                                <svg class="svg-icon-lg  icon-dodger-blue" role="img">
                                    <use xlink:href="/assets/tsw/img/svg/sprite.svg#puzzle"></use>
                                </svg>
                            </div>
                            <h5 class="sponsor-info-title"><span class="big">Asesoria gratis con BloomShift</span></h5>
                            <div class="sponsor-info-text">
                                <p>Mas infromacion durante el programa.</p>
                            </div>  
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 row-separated-item">
                        <!-- Sponsor Info-->
                        <div class="sponsor-info">
                            <div class="sponsor-info-icon">
                                <svg class="svg-icon-lg icon-pumpkin" role="img">
                                    <use xlink:href="/assets/tsw/img/svg/sprite.svg#tick"></use>
                                </svg>
                            </div>
                            <h5 class="sponsor-info-title"><span class="big">¿Algun problema con los beneficios?</span></h5>
                            <div class="sponsor-info-text">
                                <p>No se preocupe, infórmenos cuál es el problema y veremos qué podemos hacer para resolverlo.</p>
                                <div class="group" style="margin-bottom:20px;"><a class="button button-primary" href="https://share.hsforms.com/10DLuC12zRYKSeocI_U1DjA482bi" data-triangle=".button-overlay" target="_blank"><span>Mandar mensaje</span><span class="button-overlay"></span></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Divider-->
        <div class="divider divider-gray-900 text-center"></div>
        <!-- Divider-->
        <div class="divider divider-gray-900 text-center"></div>
        {% include tsw_footer.html %}
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <div class="block-with-svg-gradients">
        <svg xmlns="http://www.w3.org/2000/svg">
            <defs>
                <lineargradient id="svg-gradient-primary" x1="0%" y1="100%" x2="100%" y2="0%">
                    <stop offset="0%" style="stop-color:rgb(130,46,168);stop-opacity:1"></stop>
                    <stop offset="100%" style="stop-color:rgb(217,14,144);stop-opacity:1"></stop>
                </lineargradient>
            </defs>
        </svg>
    </div>
    <script src="{{ site.url }}/assets/tsw/js/core.min.js"></script>
	<script src="{{ site.url }}/assets/tsw/js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
</body>