<!-- Section Official Sponsors-->
<section class="parallax-container section" data-parallax-img="{{ site.url }}/assets/tsw/img/bg-parallax-04-1894x1170.jpg">
	<div class="parallax-content section-lg context-dark text-center">
		<div class="container">
			<a name="sponsors"><h6>Nuestros</h6></a>
			<h3>Patrocinadores.</h3>
			<div class="row row-30 row-lg-50 justify-content-center">
				<div class="col-sm-5 col-lg-3">
					<div class="wow">
						<div>
							<!-- Sponsor-->
							<a class="sponsor" href="https://startup.google.com/?utm_source=bogotastartupweek.com" data-triangle=".sponsor-overlay" target="_balnk">
								<div class="sponsor-overlay"></div>
								<div class="sponsor-img">
									<img src="{{ site.url }}/assets/img/logos/googlestartups.png" alt="Google for Startups" width="350" />
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="col-sm-5 col-lg-3">
					<div class="wow">
						<div>
							<!-- Sponsor-->
							<a class="sponsor" href="https://www.go.co/startupweekend/?utm_source=bogotastartupweek.com" data-triangle=".sponsor-overlay" target="_blank">
								<div class="sponsor-overlay"></div>
								<div class="sponsor-img">
									<img src="{{ site.url }}/assets/img/logos/dotco.png" alt="dot CO" width="350" />
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="col-sm-5 col-lg-3">
					<div class="wow">
						<div>
							<!-- Sponsor-->
							<a class="sponsor" href="https://orangeup.org/?utm_source=bogotastartupweek.com" data-triangle=".sponsor-overlay" target="_blank">
								<div class="sponsor-overlay"></div>
								<div class="sponsor-img">
									<img src="{{ site.url }}/assets/img/gallery/orangeup.png" alt="Orange UP" width="350" />
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="col-sm-5 col-lg-3">
					<div class="wow">
						<div>
							<!-- Sponsor-->
							<a class="sponsor" href="https://suego.co/?utm_source=bogotastartupweek.com" data-triangle=".sponsor-overlay" target="_blank">
								<div class="sponsor-overlay"></div>
								<div class="sponsor-img">
									<img src="{{ site.url }}/assets/img/gallery/suego.png" alt="SUEGO" width="350" />
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="col-sm-5 col-lg-3">
					<div class="wow">
						<div>
							<!-- Sponsor-->
							<a class="sponsor" href="https://innpulsacolombia.com/cemprende/?utm_source=bogotastartupweek.com" data-triangle=".sponsor-overlay" target="_blank">
								<div class="sponsor-overlay"></div>
								<div class="sponsor-img">
									<img src="{{ site.url }}/assets/img/gallery/cEmprende.png" alt="C Emprende" width="350" />
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="col-sm-5 col-lg-3">
					<div class="wow">
						<div>
							<!-- Sponsor-->
							<a class="sponsor" href="https://www.innpulsa.com/?utm_source=bogotastartupweek.com" data-triangle=".sponsor-overlay" target="_blank">
								<div class="sponsor-overlay"></div>
								<div class="sponsor-img">
									<img src="{{ site.url }}/assets/img/gallery/innpulsa.png" alt="innpulsa colombia" width="350" />
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="col-sm-5 col-lg-3">
					<div class="wow">
						<div>
							<!-- Sponsor-->
							<a class="sponsor" href="https://www.ccb.org.co/?utm_source=bogotastartupweek.com" data-triangle=".sponsor-overlay" target="_blank">
								<div class="sponsor-overlay"></div>
								<div class="sponsor-img">
									<img src="{{ site.url }}/assets/img/gallery/CCB.png" alt="innpulsa colombia" width="350" />
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="col-sm-5 col-lg-3">
					<div class="wow">
						<div>
							<!-- Sponsor-->
							<a class="sponsor" href="https://corporativo.compensar.com/?utm_source=bogotastartupweek.com" data-triangle=".sponsor-overlay" target="_blank">
								<div class="sponsor-overlay"></div>
								<div class="sponsor-img">
									<img src="{{ site.url }}/assets/img/gallery/compensar.png" alt="compensar" width="350" />
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="col-sm-5 col-lg-3">
					<div class="wow">
						<div>
							<!-- Sponsor-->
							<a class="sponsor" href="https://www.hubspot.es/?__hstc=20629287.bf3c82b5af23b9a357d87bff5c2fbe28.1576932435571.1577394707515.1578572755044.6&__hssc=20629287.1.1578572755044&__hsfp=3696781943&_ga=2.146399677.860091086.1578572753-1504361159.1576092017&utm_source=bogotastartupweek.com" data-triangle=".sponsor-overlay" target="_blank">
								<div class="sponsor-overlay"></div>
								<div class="sponsor-img">
									<img src="{{ site.url }}/assets/img/gallery/hubspotStartups.png" alt="Hubspot for Startups" width="350" />
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="col-sm-5 col-lg-3">
					<div class="wow">
						<div>
							<!-- Sponsor-->
							<a class="sponsor" href="https://www.bloomshift.com/?utm_source=bogotastartupweek.com" data-triangle=".sponsor-overlay" target="_blank">
								<div class="sponsor-overlay"></div>
								<div class="sponsor-img">
									<img src="{{ site.url }}/assets/img/gallery/bloomshift.png" alt="BloomShift" width="350" />
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="col-sm-5 col-lg-3">
					<div class="wow">
						<div>
							<!-- Sponsor-->
							<a class="sponsor" href="https://www.unisabana.edu.co/empresaysociedad/unisabana-hub/ceis/inicio/?utm_source=bogotastartupweek.com" data-triangle=".sponsor-overlay" target="_blank">
								<div class="sponsor-overlay"></div>
								<div class="sponsor-img">
									<img src="{{ site.url }}/assets/img/gallery/uSabanaCEIS.png" alt="Centro de Emprendimiento e Innovación" width="350" />
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="col-sm-5 col-lg-3">
					<div class="wow">
						<div>
							<!-- Sponsor-->
							<a class="sponsor" href="https://unisabana.edu.co/?utm_source=bogotastartupweek.com" data-triangle=".sponsor-overlay" target="_blank">
								<div class="sponsor-overlay"></div>
								<div class="sponsor-img">
									<img src="{{ site.url }}/assets/img/gallery/uSabana.png" alt="Universidad de la Sabana" width="350" />
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="col-sm-5 col-lg-3">
					<div class="wow">
						<div>
							<!-- Sponsor-->
							<a class="sponsor" href="https://www.bloomshift.com/?utm_source=bogotastartupweek.com" data-triangle=".sponsor-overlay" target="_blank">
								<div class="sponsor-overlay"></div>
								<div class="sponsor-img">
									<img src="{{ site.url }}/assets/img/gallery/uniJaveriana.png" alt="Universidad Javeriana" width="350" />
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="col-sm-5 col-lg-3">
					<div class="wow">
						<div>
							<!-- Sponsor-->
							<a class="sponsor" href="https://www.workia.co/?utm_source=bogotastartupweek.com" data-triangle=".sponsor-overlay" target="_blank">
								<div class="sponsor-overlay"></div>
								<div class="sponsor-img">
									<img src="{{ site.url }}/assets/img/gallery/workia.png" alt="Workia" width="350" />
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="col-xl-12">
					<p class="font-weight-sbold font-secondary"><span class="wow" data-splitting>Contáctenos para mayor infórmacion.</span>  <a class="link-inline wow fadeScale" href="mailto:flor@bogotastartupweek.com">¿Interesado a patrocinar?</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</section>