<!-- Section Photo Gallery-->
<section class="parallax-container section" data-parallax-img="assets/tsw/img/bg-parallax-03-1894x1662.jpg">
	<div class="parallax-content section-lg context-dark text-center parallax-overlay-gradient-primary-1">
		<div class="container container-wide">
			<h6>En otras ciudades, nuestra</h6>
			<h3>Galería.</h3>
			<div class="row row-ten row-narrow row-30 row-lg-50 justify-content-center" data-lightgallery="group">
				<div class="col-sm-4 col-md-3 col-lg-2">
					<div class="wow">
						<div>
							<!-- Gallery Thumbnail--><a class="thumbnail" href="assets/tsw/img/gallery-01-original-1200x800.jpg" data-lightgallery="item" data-triangle=".thumbnail-overlay"><span class="thumbnail-overlay"></span><span class="thumbnail-icon"></span><img src="assets/tsw/img/gallery-01-298x343.jpg" alt="" width="298" height="343"/></a>
						</div>
					</div>
				</div>
				<div class="col-sm-4 col-md-3 col-lg-2">
					<div class="wow">
						<div>
							<!-- Gallery Thumbnail--><a class="thumbnail" href="assets/tsw/img/gallery-02-original-1200x800.jpg" data-lightgallery="item" data-triangle=".thumbnail-overlay"><span class="thumbnail-overlay"></span><span class="thumbnail-icon"></span><img src="assets/tsw/img/gallery-02-298x343.jpg" alt="" width="298" height="343"/></a>
						</div>
					</div>
				</div>
				<div class="col-sm-4 col-md-3 col-lg-2">
					<div class="wow">
						<div>
							<!-- Gallery Thumbnail--><a class="thumbnail" href="assets/tsw/img/gallery-03-original-1200x800.jpg" data-lightgallery="item" data-triangle=".thumbnail-overlay"><span class="thumbnail-overlay"></span><span class="thumbnail-icon"></span><img src="assets/tsw/img/gallery-03-298x343.jpg" alt="" width="298" height="343"/></a>
						</div>
					</div>
				</div>
				<div class="col-sm-4 col-md-3 col-lg-2">
					<div class="wow">
						<div>
							<!-- Gallery Thumbnail--><a class="thumbnail" href="assets/tsw/img/gallery-04-original-1200x800.jpg" data-lightgallery="item" data-triangle=".thumbnail-overlay"><span class="thumbnail-overlay"></span><span class="thumbnail-icon"></span><img src="assets/tsw/img/gallery-04-298x343.jpg" alt="" width="298" height="343"/></a>
						</div>
					</div>
				</div>
				<div class="col-sm-4 col-md-3 col-lg-2">
					<div class="wow">
						<div>
							<!-- Gallery Thumbnail--><a class="thumbnail" href="assets/tsw/img/gallery-05-original-1200x800.jpg" data-lightgallery="item" data-triangle=".thumbnail-overlay"><span class="thumbnail-overlay"></span><span class="thumbnail-icon"></span><img src="assets/tsw/img/gallery-05-298x343.jpg" alt="" width="298" height="343"/></a>
						</div>
					</div>
				</div>
				<div class="col-xl-12">
					<p class="font-weight-sbold font-secondary"><span>Contáctenos para mayor infórmacion.</span>  <a class="link-inline" href="#">Compra tu tiquete ahora</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</section>