<!-- Section Event Details-->
<section class="section section-lg bg-default wow fadeIn">
	<div class="container">
		<div class="row row-30 justify-content-center">
			<div class="col-md-10 col-lg-6 col-xl-5">
				<h6>acerca del evento</h6>
				<h3 class="heading-lg-postfix-15">¿Tienes una idea en la cabeza desde hace meses y quieres llevarla a cabo?</h3>
				<p>Techstars Startup Weekend es el lugar ideal para buscar un equipo, armar un prototipo, validar tu idea de negocio y recibir retroalimentación de parte de los jueces y mentores, todo en un fin de semana. Es una carrera de 3 días para lanzar nuevos productos y servicios que resuelven problemas del mundo real.</p>
				<p>¡Startup Weekend es tu oportunidad de aprender a llevar cualquier idea desde el concepto hasta la creación en cuestión de días! Si usted está buscando:</p>
				<br/>
				<ul>
					<li>&middot; Sumérgete en el mundo de las startups y el emprendimiento,</li>
					<li>&middot; Aprende el proceso de ir del concepto a la creación,</li>
					<li>&middot; Conoce a empresarios experimentados, talentosos y apasionados en Bogotá,</li>
					<li>&middot; Unite o construye un equipo de estrellas,</li>
					<li>&middot; O toma tu propia idea desde el concepto hasta la creación.</li>
				</ul>
				<!-- List Inline-->
				<ul class="list-inline list-inline-xl">
					<li>
						<div class="unit">
							<div class="unit-left">
								<svg class="svg-icon-sm svg-icon-primary" role="img">
									<use xlink:href="assets/tsw/img/svg/sprite.svg#earth-globe"></use>
								</svg>
							</div>
							<div class="unit-body">
								<h5>Donde</h5>
								<p>C Emprende - Innpulsa Colombia<br/>HUB iEX - Universidad El Bosque<br/>Cra. 7b Bis #132-28</p>
							</div>
						</div>
					</li>
					<li>
						<div class="unit">
							<div class="unit-left">
								<svg class="svg-icon-sm svg-icon-primary" role="img">
									<use xlink:href="assets/tsw/img/svg/sprite.svg#small-calendar"></use>
								</svg>
							</div>
							<div class="unit-body">
								<h5>Cuando</h5>
								<p>
									<time datetime="2019-01-05">28 de febrero al 1 de marzo del 2020</time>
								</p>
							</div>
						</div>
					</li>
				</ul><a class="button button-primary" href="https://bogoweek.myshopify.com/collections/frontpage/products/orup-tsw15512" data-triangle=".button-overlay" target="_blank"><span>Comprar tiquetes</span><span class="button-overlay"></span></a>
			</div>
			<div class="col-md-10 col-lg-6 col-xl-7 text-md-right">
				<!-- Image Box-->
				<div class="images-box">
					<div class="images-box-item images-box-item-right">
						<div class="wow fadeScale">
							<img src="assets/tsw/img/home-1-01-470x590.jpg" alt="" width="470" height="590" />
						</div>
					</div>
					<div class="images-box-item images-box-item-left">
						<div class="wow fadeScale">
							<img src="assets/tsw/img/home-1-02-270x257.jpg" alt="" width="270" height="257" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>