<head>
	<!-- TITLE -->
	<title>{{ page.title }} | {{ site.title }}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<!-- FAVICON -->
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ site.url }}/assets/favicon/apple-touch-icon-57x57.png" />
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.url }}/assets/favicon/apple-touch-icon-114x114.png" />
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.url }}/assets/favicon/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.url }}/assets/favicon/apple-touch-icon-144x144.png" />
	<link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{ site.url }}/assets/favicon/apple-touch-icon-60x60.png" />
	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ site.url }}/assets/favicon/apple-touch-icon-120x120.png" />
	<link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ site.url }}/assets/favicon/apple-touch-icon-76x76.png" />
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ site.url }}/assets/favicon/apple-touch-icon-152x152.png" />
	<link rel="icon" type="image/png" href="{{ site.url }}/assets/favicon/favicon-196x196.png" sizes="196x196" />
	<link rel="icon" type="image/png" href="{{ site.url }}/assets/favicon/favicon-96x96.png" sizes="96x96" />
	<link rel="icon" type="image/png" href="{{ site.url }}/assets/favicon/favicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="{{ site.url }}/assets/favicon/favicon-16x16.png" sizes="16x16" />
	<link rel="icon" type="image/png" href="{{ site.url }}/assets/favicon/favicon-128.png" sizes="128x128" />
	<meta name="application-name" content="&nbsp;"/>
	<meta name="msapplication-TileColor" content="#FFFFFF" />
	<meta name="msapplication-TileImage" content="{{ site.url }}/assets/favicon/mstile-144x144.png" />
	<meta name="msapplication-square70x70logo" content="{{ site.url }}/assets/favicon/mstile-70x70.png" />
	<meta name="msapplication-square150x150logo" content="{{ site.url }}/assets/favicon/mstile-150x150.png" />
	<meta name="msapplication-wide310x150logo" content="{{ site.url }}/assets/favicon/mstile-310x150.png" />
	<meta name="msapplication-square310x310logo" content="{{ site.url }}/assets/favicon/mstile-310x310.png" />

	<!-- DESCRIPTION -->
	<meta name="author" content="BloomShift" />
	<meta name="description" content="Techstars Startup Week Bogotá (BOGOWEEK) es una celebración de todo el ecosistema emprendedor en Bogotá, es el evento gratuito más grande de su tipo en el mundo organizado por la comunidad, para la comunidad. Celebre el ecosistema emprendedor de Bogotá y ayuda a construir la cultura de innovación de la ciudad. ¡No te pierdas #BOGOWEEK2020!" />
	<meta name="keywords"  content="crecimiento empresarial extraordinario, crecimiento, empresarial, extraordinario, empresas, Bogota, Colombia, mentalidad y cultura, fomentar, contribuir, incentivar instrumentos de apoyo, programas de apoyo" />
	<meta property="og:title" content="BOGOWEEK" />
	<meta property="og:type" content="festival" />
	<meta property="og:url" content="https://bogotastartupweek.com" />
	<meta property="og:image" content="https://bogotastartupweek.com/img/social/bogoweek-in-1901.png" />
	<meta property="og:image:width" content="1080" />
	<meta property="og:image:height" content="1080" />
	<meta property="og:site_name" content="Techstars Bogotá Startup Week" />
	<meta property="og:description" content="Somos el festival mundial de emprendimiento, subscrita a Techstars que promueve la innovación, el emprendimiento y el desarrollo empresarial para el fortalecimiento de la productividad y la competitividad en el mundo." />
	<meta name="twitter:card" content="https://bogotastartupweek.com/img/social/bogoweek-tw-1901.png" />
	<meta name="twitter:site" content="https://bogotastartupweek.com" />
	<meta name="twitter:domain" content="https://bogotastartupweek.com/" />
	<meta name="twitter:title" content="BOGOWEEK" />
	<meta name="twitter:description" content="Somos el festival mundial de emprendimiento, subscrita a Techstars que promueve la innovación, el emprendimiento y el desarrollo empresarial para el fortalecimiento de la productividad y la competitividad en el mundo." />
	<meta name="twitter:image" content="https://bogotastartupweek.com/" />

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Barlow%7CBarlow+Condensed:300,400,500,600,700,900">
	<link rel="stylesheet" href="{{ site.url }}assets/tsw/css/bootstrap.css">
	<link rel="stylesheet" href="{{ site.url }}assets/tsw/css/fonts.css">
	<link rel="stylesheet" href="{{ site.url }}assets/tsw/css/style.css">
	<style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>

	{% if jekyll.environment == "production" %}
		{% include gtag1.html %}
	{% endif %}
</head>
