<nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="76px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
    <div class="rd-navbar-collapse-toggle rd-navbar-fixed-element-1" data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>
    <div class="rd-navbar-main-outer">
        <div class="rd-navbar-main">
            <!--RD Navbar Panel-->
            <div class="rd-navbar-panel">
                <!--RD Navbar Toggle-->
                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                <!--RD Navbar Brand-->
                <div class="rd-navbar-brand">
                    <!--Brand-->
                    <a class="brand" href="/"><img class="brand-logo-dark" src="{{ site.url }}/assets/images/logo-default.png" srcset="{{ site.url }}/assets/twk/img/logo-twk-bogota-c-h.png 2x" alt="techstars bogota startup week" /><img class="brand-logo-light" src="{{ site.url }}/assets/images/logo-inverse.png" srcset="{{ site.url }}/assets/twk/img/logo-twk-bogota-w-h.png 2x" alt="techstars bogota startup week" /></a>
                </div>
            </div>
            <!-- Rd Navbar Navigation-->
            <div class="rd-navbar-main-element">
                <div class="rd-navbar-nav-wrap">
                    <ul class="rd-navbar-nav">
                        <li class="rd-nav-item"><a class="rd-nav-link" href="{{ site.url }}">Inicio</a></li>
                        <li class="rd-nav-item"><a class="rd-nav-link" href="{{ site.url }}/2020" target="_blank">2020</a></li>
                        <li class="rd-nav-item"><a class="rd-nav-link" href="{{ site.url }}/tsw" taregt="_blank">Startup Weekend</a></li>
                        <li class="rd-nav-item"><a class="rd-nav-link" href="{{ site.url }}/eventos">Calendario</a></li>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- RD Navbar Collapse-->
            <div class="rd-navbar-collapse">
                <a class="button button-primary" id="eventbrite-widget-modal-trigger-95158518691" data-triangle=".button-overlay"><span style="color:#fff;">Registrate Gratis</span><span class="button-overlay"></span></a>
            </div>
        </div>
    </div>
</nav>
