<!-- slideshow -->
<section class="slideshow">
	<ul>
		<li>
			<figure>											
				<img src="assets/twk/img/gallery/1.jpg" alt="img01"/>
				<figcaption>
					<hr/>
					<p>Durante el año nos reunimos cada mes por Startup Huddle Bogotá para compartir desafios y aprender como superarlos.</p>
				</figcaption>
			</figure>
		</li>
		<li>
			<figure>											
				<img src="assets/twk/img/gallery/2.jpg" alt="img02"/>
				<figcaption>
					<hr/>
					<p>Nos aliamos con various espacios como SPACES, WeWork, El Nido Coworking, y otros para demostarte varios lugares en el ecosistema del emprendimiento.</p>
				</figcaption>
			</figure>
		</li>
		<li>
			<figure>
				<img src="assets/twk/img/gallery/3.jpg" alt="img03"/>
				<figcaption>
					<hr/>
					<p>En febrero BOGOWEEK nos reune con charlas, talleres y programacion que los emprendedores nos dicen seria importante para su exito.</p>
				</figcaption>
			</figure>
		</li>

	</ul>
	<nav>
		<span class="nav-prev fa-chevron-left fa fa-2x "></span>
		<span class="nav-next fa-chevron-right fa fa-2x"></span>
		<span class="close nav-close"><i class="fa fa-times"></i></span>
	</nav>
</section>
<!-- /slideshow -->