<li>
	<div class="col-md-4 col-sm-4 wow animated fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
		<div class="overlay-effect effects clearfix">
			<div class="img">
				<img src="assets/twk/img/speakers/twk-speaker-lievano.png" alt="foto de flor lievano">
			</div>
		</div>
		<h2>Flor Liévano</h2>
		<p>OrangeUP</p>
	</div>
	<div class="col-md-4 col-sm-4 wow animated fadeInUp">
		<div class="overlay-effect effects clearfix">
			<div class="img">
				<img src="assets/twk/img/speakers/twk-speaker-cajiao.png" alt="foto de andres cajio">
			</div>
		</div>
		<h2>Andrés Cajiao</h2>
		<p>Torre</p>
	</div>
	<div class="col-md-4 col-sm-4 wow animated fadeInUp">
		<div class="overlay-effect effects clearfix">
			<div class="img">
				<img src="assets/twk/img/speakers/twk-speaker-orozco2.png" alt="foto de diana marcela orozco">
			</div>
		</div>
		<h2>Diana Marcela Orozco</h2>
		<p>Universidad Ean</p>
	</div>
</li>