<li>
	<div class="col-md-4 col-sm-4 wow animated fadeInUp" data-wow-duration="1s" data-wow-delay="0.9s">
		<div class="overlay-effect effects clearfix">
			<div class="img">
				<img src="assets/twk/img/speakers/twk-speaker-arango.png" alt="foto de lina arango">
			</div>
		</div>
		<h2>Lina Arango</h2>
		<p>Socialab</p>
	</div>
	<div class="col-md-4 col-sm-4 wow animated fadeInUp">
		<div class="overlay-effect effects clearfix">
		<div class="img">
		  <img src="assets/twk/img/speakers/twk-speaker-lissade.png" alt="foto de marc lissade">
		</div>
		</div>
		<h2>Marc Lissade</h2>
		<p>Broward Startup</p>
	</div>
	<div class="col-md-4 col-sm-4 wow animated fadeInUp">
		<div class="overlay-effect effects clearfix">
			<div class="img">
			  <img src="assets/twk/img/speakers/twk-speaker-cajiao.png" alt="foto de andres cajio">
			</div>
		</div>
		<h2>Andrés Cajiao</h2>
		<p>Torre</p>
	</div>
</li>