<!--SPONSORS-->	
<div id="sponsers" class="ignite-cta text-center section-padding">
	<div class="container">
		<div class="row">
			<div class="col-md-8 align-center wow animated fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
				<h1 class="arrow">Nuestros Aliados</h1><hr>
				<p style="font-size:1.5em;">Gracias al apoyo de ellos, hacemos de BOGOWEEK una realidad.</p>
			</div>
			<div class="row section-padding">
				<div class="col-md-3">
					<img alt="techstars" src="assets/twk/img/sponsor/logo-techstars.png" width="150" />
				</div>
				<div class="col-md-3">
					<img alt="orange up" src="assets/twk/img/sponsor/logo-orangeup.png" width="150" />
				</div>
				<div class="col-md-3">
					<img alt="suego" src="assets/twk/img/sponsor/logo-suego.png" width="150" />
				</div>
				<div class="col-md-3">
					<img alt="innpulsa colomnbia" src="assets/twk/img/sponsor/logo-innpulsaCol.png" width="150" />
				</div>
			</div>
			<!-- Jssor Slider Begin -->
			<div id="slider1_container" style=" ">
				<div class="inner_carousal" data-u="slides" style="">
					<div><img alt="socialab colombia" src="assets/twk/img/partner/logo-googleStartups.png" width="160" /></div>
					<div><img alt="socialab colombia" src="assets/twk/img/partner/logo-dotCo.png" width="160" /></div>
					<div><img alt="universidad el bosque" src="assets/twk/img/partner/logo-bloomshift.png" width="160" /></div>
					<div><img alt="startup broward" src="assets/twk/img/partner/logo-startupBroward.png" width="160" /></div>
					<div><img alt="syner tech cloud solutions" src="assets/twk/img/partner/logo-STCS.png" width="160" /></div>
					<div><img alt="hubspot for startups" src="assets/twk/img/partner/logo-hubspotStartups.png" width="160" /></div>
					<div><img alt="spaces" src="assets/twk/img/partner/logo-cEmprende.png" width="160" /></div>
					<div><img alt="spaces" src="assets/twk/img/partner/logo-spaces.png" width="160" /></div>
					<div><img alt="socialab colombia" src="assets/twk/img/partner/logo-firstrockCapital.png" width="160" /></div>
					<div><img alt="socialab colombia" src="assets/twk/img/partner/logo-socialatomGroup.png" width="160" /></div>
					<div><img alt="socialab colombia" src="assets/twk/img/partner/logo-socialab.png" width="160" /></div>
					<div><img alt="socialab colombia" src="assets/twk/img/partner/logo-asoStartups.png" width="160" /></div>
					<div><img alt="startup huddle" src="assets/twk/img/partner/logo-sh.png" width="160" /></div>
					<div><img alt="cocktail and dreams bar solutions" src="assets/twk/img/partner/logo-cdbs.png" width="160" /></div>
					<div><img alt="startup blink" src="assets/twk/img/partner/logo-startupBlink.png" width="160" /></div>
					<div><img alt="noche san felipe" src="assets/twk/img/partner/logo-nocheSanFelipe.png" width="160" /></div>
					<div><img alt="por colombia" src="assets/twk/img/partner/logo-porColombia.png" width="160" /></div>
					<div><img alt="socialab colombia" src="assets/twk/img/partner/logo-tuatara.png" width="160" /></div>
					<div><img alt="centro de emprendimiento y innovacion" src="assets/twk/img/partner/logo-CEIS.png" width="160" /></div>
					<div><img alt="universidad la sabana" src="assets/twk/img/partner/logo-uniSabana.png" width="160" /></div>
					<div><img alt="universidad la javeriana" src="assets/twk/img/partner/logo-uniJaveriana.png" width="160" /></div>
					<div><img alt="universidad el bosque" src="assets/twk/img/partner/logo-uniBosque.png" width="160" /></div>
					<div><img alt="universidad el bosque" src="assets/twk/img/partner/logo-inco.png" width="160" /></div>
				</div>
			</div>
			<!-- Jssor Slider End -->
			<div class="row" style="margin-top:50px;">
				<a id="get_directions" class="learn-more-btn btn-effect" href="/patrocinio"><i class="fa fa-users"></i><span>Todos los aliados</span></a>
			</div>
		</div>
	</div>
</div>
 <!-- /SPONSORS -->	