<li>
	<div class="col-md-4 col-sm-4 wow animated fadeInUp">
		<div class="overlay-effect effects clearfix">
			<div class="img">
			  <img src="assets/twk/img/speakers/twk-speaker-chaparro.png" alt="foto de manuel chaparro">
			</div>
		</div>
		<h2>Manuel Chaparro</h2>
		<p>KEPLEGO</p>
	</div>
	<div class="col-md-4 col-sm-4 wow animated fadeInUp">
		<div class="overlay-effect effects clearfix">
			<div class="img">
			  <img src="assets/twk/img/speakers/twk-speaker-santiesteban.png" alt="foto de francisco santiesteban">
			</div>
		</div>
		<h2>Francisco Santiesteban</h2>
		<p>Serendipia Laboratório de Talento Humano</p>
	</div>
</li>