<section id="section-5">
	<div class="container">
		<div class="accordion">
			<div class="day">1 de marzo</div>
			<div class="item clearfix">
				<div class="heading clearfix">
					<div class="time col-md-3 col-sm-12 col-xs-12">12:00pm - 1:00pm</div>
					<div class="e-title col-md-9 col-sm-12 col-xs-12">Cafe Con Emprendedores
						<br/><span class="name">Steven A. Rodriguez - </span><span class="speaker-designaition">Regional Manager US/Canada, Techstars</span>
						<br/><span class="name">Eli David - </span><span class="speaker-designaition">Fundador, StartupBlink</span>
						<br/><span class="name">Andrés Hurtado - </span><span class="speaker-designaition">Fundador, SynerTechCloudSolutions.com</span>
					</div>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="content venue col-md-3 col-sm-12 col-xs-12">
						Ubicación: Azahar Café 93<br/>Calle 93b #13-91 [<a href="https://techstarsstartupweekbogota2020.sched.com/venue/Azahar+Caf%C3%A9+93/Cl.+93b+%2313-91%2C+Bogot%C3%A1%2C+DC%2C+Colombia" target="_blank">mapa</a>]
					</div>
					<div class="content details col-md-9 col-sm-12 col-xs-12">
					<p>Este evento reúne a un pequeño grupo de empresarios locales con una taza de café en un ambiente relajado e informal.</p>
					<p>Aquí tendrá la oportunidad de presentar su negocio e ideas y no sólo escuchar sino también HABLAR. Es su oportunidad de reunirse con otros participantes de diversas industrias y encontrar los recursos que necesita, ya sean conexiones comerciales, nuevo cofundador, estímulo para comenzar una carrera independiente o incluso ideas para vender.</p>
					<br/>
					<p>A diferencia de otros eventos de Startup, el éxito del Weekend Coffee se basa únicamente en la asistencia de los participantes y la voluntad de liderar el evento, por lo tanto, al confirmar su asistencia, no solo asegura su asiento, sino que se convierte en el evento en sí. Por lo tanto, asegúrese de llegar ya que otros asistentes cuentan con usted.</p>
					</div>
				</div>
			</div>
		  
			<div class="item clearfix">
				<div class="heading">
					<div class="time col-md-3 col-sm-12 col-xs-12">1:00pm - 3:30pm</div>
					<div class="e-title col-md-9 col-sm-12 col-xs-12">BOGOWEEK Ceremonia De Clausura
						<br/><span class="name">Flor Liévano - </span><span class="speaker-designaition">Fundadora, OrangeUP</span>
						<br/><span class="name">Steven A. Rodriguez - </span><span class="speaker-designaition">Regional Manager US/Canada, Techstars</span>
						<br/><span class="name">Marc Lissade - </span><span class="speaker-designaition">Fundador, StartupBroward</span>
					</div>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="content venue col-md-3 col-sm-12 col-xs-12">
						Ubicación: C Emprende<br/>Carrera 15 #93A-10 [<a href="https://techstarsstartupweekbogota2020.sched.com/venue/C+Emprende+-+Innpulsa+Colombia" target="_blank">mapa</a>]
					</div>
					<div class="content details col-md-9 col-sm-12 col-xs-12">
					<p>Con BOGOWEEK concluyendo para 2020, ¡Esta es la última oportunidad! Si no pudo asistir a algunos de los eventos de la semana, no se preocupe, ¡aún puede unirse a nosotros en la ceremonia de clausura de BOGOWEEK podrá ver lo que cada equipo de Techstars Startup Weekend logró durante el fin de semana. Escuchar a los equipos participantes exponer sus ideas es emocionante, así como conectarse con los participantes y mentores.</p>
					</div>
				</div>
			</div>

		</div>        
	</div>
</section>