<li>
	<div class="col-md-4 col-sm-4 wow animated fadeInUp">
		<div class="overlay-effect effects clearfix">
		<div class="img">
		  <img src="assets/twk/img/speakers/twk-speaker-becerril.png" alt="foto de elizabeth becerril wong">
		</div>
		</div>
		<h2>Elizabeth Becerril Wong</h2>
		<p>Techstars</p>
	</div>
	<div class="col-md-4 col-sm-4 wow animated fadeInUp">
		<div class="overlay-effect effects clearfix">
		<div class="img">
		  <img src="assets/twk/img/speakers/twk-speaker-zubieta.png" alt="foto de carlos zubieta">
		</div>
		</div>
		<h2>Carlos Zubieta</h2>
		<p>AGRAPP</p>
	</div>
	<div class="col-md-4 col-sm-4 wow animated fadeInUp">
		<div class="overlay-effect effects clearfix">
			<div class="img">
			  <img src="assets/twk/img/speakers/twk-speaker-pena.png" alt="foto de manuela peña gómez">
			</div>
		</div>
		<h2>Manuela Peña Gómez</h2>
		<p>Universidad de La Sabana</p>
	</div>
</li>