<!-- Example Speaker -->
<div class="md-modal md-effect-9" id="modal-1">
	<div class="md-content">
		<div class="folio">
			<div class="avatar1"></div>
			<div class="sp-name"><strong>Flor Liévano</strong><br/>Fundadora, OrangeUP</div>
			<div class="sp-dsc">
			This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor.
				<blockquote>
				<p>Here is a long quotation here is a long quotation proin gravida nibh vel velit auctor aliquet aenean sollicitudin.</p>
				</blockquote>
			This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
			</div>
			<div class="sp-social">
				<ul>
					<li><a href="#" class="social-btn"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#" class="social-btn"><i class="fa fa-facebook"></i></a></li>
					<li><a href="#" class="social-btn"><i class="fa fa-dribbble"></i></a></li>
				</ul>
			</div>
			<button class="md-close"><i class="fa fa-times"></i></button>
		</div>
	</div>
</div> 
<div class="md-overlay"></div>
<!-- /Example Speaker -->
<!-- Example Speaker -->
<div class="md-modal md-effect-9" id="modal-2">
	<div class="md-content">
		<div class="folio">
			<div class="avatar2"></div>
			<div class="sp-name"><strong>Mark Anderson</strong><br/>Director, ABC</div>
			<div class="sp-dsc">
			This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor.
				<blockquote>
				<p>Here is a long quotation here is a long quotation proin gravida nibh vel velit auctor aliquet aenean sollicitudin.</p>
				</blockquote>
			This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
			</div>
			<div class="sp-social">
				<ul>
					<li><a href="#" class="social-btn"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#" class="social-btn"><i class="fa fa-facebook"></i></a></li>
					<li><a href="#" class="social-btn"><i class="fa fa-dribbble"></i></a></li>
				</ul>
			</div>
			<button class="md-close"><i class="fa fa-times"></i></button>
		</div>
	</div>
</div> 
<div class="md-overlay"></div>
<!-- /Example Speaker -->
<!-- Example Speaker -->
<div class="md-modal md-effect-9" id="modal-3">
	<div class="md-content">
		<div class="folio">
			<div class="avatar3"></div>
			<div class="sp-name"><strong>Mark Anderson</strong><br/>Director, ABC</div>
			<div class="sp-dsc">
			This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor.
				<blockquote>
				<p>Here is a long quotation here is a long quotation proin gravida nibh vel velit auctor aliquet aenean sollicitudin.</p>
				</blockquote>
			This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
			</div>
			<div class="sp-social">
				<ul>
					<li><a href="#" class="social-btn"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#" class="social-btn"><i class="fa fa-facebook"></i></a></li>
					<li><a href="#" class="social-btn"><i class="fa fa-dribbble"></i></a></li>
				</ul>
			</div>
			<button class="md-close"><i class="fa fa-times"></i></button>
		</div>
	</div>
</div> 
<div class="md-overlay"></div>
<!-- /Example Speaker -->
<!-- Example Speaker -->
<div class="md-modal md-effect-9" id="modal-4">
	<div class="md-content">
		<div class="folio">
			<div class="avatar4"></div>
			<div class="sp-name"><strong>Mark Anderson</strong><br/>Director, ABC</div>
			<div class="sp-dsc">
			This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor.
				<blockquote>
				<p>Here is a long quotation here is a long quotation proin gravida nibh vel velit auctor aliquet aenean sollicitudin.</p>
				</blockquote>
			This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
			</div>
			<div class="sp-social">
				<ul>
					<li><a href="#" class="social-btn"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#" class="social-btn"><i class="fa fa-facebook"></i></a></li>
					<li><a href="#" class="social-btn"><i class="fa fa-dribbble"></i></a></li>
				</ul>
			</div>
			<button class="md-close"><i class="fa fa-times"></i></button>
		</div>
	</div>
</div> 
<div class="md-overlay"></div>
<!-- /Example Speaker -->
<!-- Example Speaker -->
<div class="md-modal md-effect-9" id="modal-5">
	<div class="md-content">
		<div class="folio">
			<div class="avatar5"></div>
			<div class="sp-name"><strong>Mark Anderson</strong><br/>Director, ABC</div>
			<div class="sp-dsc">
			This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor.
				<blockquote>
				<p>Here is a long quotation here is a long quotation proin gravida nibh vel velit auctor aliquet aenean sollicitudin.</p>
				</blockquote>
			This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
			</div>
			<div class="sp-social">
				<ul>
					<li><a href="#" class="social-btn"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#" class="social-btn"><i class="fa fa-facebook"></i></a></li>
					<li><a href="#" class="social-btn"><i class="fa fa-dribbble"></i></a></li>
				</ul>
			</div>
			<button class="md-close"><i class="fa fa-times"></i></button>
		</div>
	</div>
</div> 
<div class="md-overlay"></div>
<!-- /Example Speaker -->
<!-- Example Speaker -->
<div class="md-modal md-effect-9" id="modal-6">
	<div class="md-content">
		<div class="folio">
			<div class="avatar6"></div>
			<div class="sp-name"><strong>Mark Anderson</strong><br/>Director, ABC</div>
			<div class="sp-dsc">
			This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor.
				<blockquote>
				<p>Here is a long quotation here is a long quotation proin gravida nibh vel velit auctor aliquet aenean sollicitudin.</p>
				</blockquote>
			This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
			</div>
			<div class="sp-social">
				<ul>
					<li><a href="#" class="social-btn"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#" class="social-btn"><i class="fa fa-facebook"></i></a></li>
					<li><a href="#" class="social-btn"><i class="fa fa-dribbble"></i></a></li>
				</ul>
			</div>
			<button class="md-close"><i class="fa fa-times"></i></button>
		</div>
	</div>
</div> 
<div class="md-overlay"></div>
<!-- /Example Speaker -->