<!--SCRIPTS-->	

<script type="text/javascript" src="assets/twk/js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="assets/twk/js/jquery-ui-1.10.4.min.js"></script>

<!--VIMEO VIDEO-->     
<script type="text/javascript" src="assets/twk/js/venobox.js"></script>

<!--3D GALLERY-->
<script type="text/javascript" src="assets/twk/js/classie.grid.gallery.js"></script>
<script type="text/javascript" src="assets/twk/js/modernizr.gridgallery.js"></script>		
<script type="text/javascript" src="assets/twk/js/cbpGridGallery.js"></script>

<script type="text/javascript" src="assets/twk/js/classie.js" ></script>
<script type="text/javascript" src="assets/twk/js/modalEffects.js" ></script>

<script type="text/javascript" src="assets/twk/js/nlform.js" ></script>
<script>var nlform = new NLForm( document.getElementById( 'nl-form' ) );</script>
<script type="text/javascript" src="assets/twk/js/bootstrap.min.js" ></script>

<!--TEAM SLIDER-->
<script type="text/javascript" src="assets/twk/js/jquery.flexslider.js" ></script>

<!-- SCHEDULE TABS  -->
<script type="text/javascript" src="assets/twk/js/modernizr.js" ></script>
<script type="text/javascript" src="assets/twk/js/cbpFWTabs.js" ></script>		

<!--SPONSOR SLIDER-->
<script type="text/javascript" src="assets/twk/js/jssor.core.js"></script>
<script type="text/javascript" src="assets/twk/js/jssor.utils.js"></script>
<script type="text/javascript" src="assets/twk/js/jssor.slider.js"></script>
<script type="text/javascript" src="assets/twk/js/sponsor_init.js"></script>

<!--SMOOTH SCROLL-->
<script type="text/javascript" src="assets/twk/js/smooth-scroll.js"></script>

<!--SUBSCRIPTION FORM-->
<script type="text/javascript" src="assets/twk/js/notifyMe.js"></script>

<script type="text/javascript" src="assets/twk/js/jquery.placeholder.js"></script>

<!--ANIMATION-->
<script type="text/javascript" src="assets/twk/js/wow.min.js"></script>
<!--triangle-->
<script type="text/javascript" src="assets/twk/js/TweenLite.min.js"></script>
<script type="text/javascript" src="assets/twk/js/EasePack.min.js"></script>
<script type="text/javascript" src="assets/twk/js/rAF.js"></script>
<script type="text/javascript" src="assets/twk/js/canvas.js"></script>
<!--INITIALIZATION-->
<script type="text/javascript" src="assets/twk/js/init.js"></script>
<!--EVENTBRITE-->
<script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>
<script type="text/javascript" src="assets/twk/js/eventbrite.js"></script>