<li>
	<div class="col-md-4 col-sm-4 wow animated fadeInUp">
		<div class="overlay-effect effects clearfix">
			<div class="img">
			  <img src="assets/twk/img/speakers/twk-speaker-orozco.png" alt="foto de manuel orozco">
			</div>
		</div>
	  <h2>Manuel Orozco</h2>
	  <p>Universidad de los Andes</p>
	</div>
	<div class="col-md-4 col-sm-4 wow animated fadeInUp">
		<div class="overlay-effect effects clearfix">
			<div class="img">
			  <img src="assets/twk/img/speakers/twk-speaker-boyaca.png" alt="foto de juan bustamante borrás">
			</div>
		</div>
		<h2>Diana Boyacá</h2>
		<p>everis</p>
	</div>
</li>