<section id="section-2">
	<div class="container">
		<div class="accordion">
			<div class="day">26 de febrero</div>
			<div class="item clearfix">
				<div class="heading clearfix">
					<div class="time col-md-3 col-sm-12 col-xs-12">8:00am - 10:00am</div>
					<div class="e-title col-md-9 col-sm-12 col-xs-12">Startup Huddle Bogotá<br/><span class="name">Carlos Zubieta - </span><span class="speaker-designaition">Co-Fundador y CTO, Agrapp</span></div>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="content venue col-md-3 col-sm-12 col-xs-12">
						Ubicación: SPACES<br/>Cra. 11 #79 - 66 [<a href="https://techstarsstartupweekbogota2020.sched.com/venue/SPACES+80+Once" target="_blank">mapa</a>]
					</div>
					<div class="content details col-md-9 col-sm-12 col-xs-12">
					Más detalles en enero.
					</div>
				</div>
			</div>
		  
			<div class="item clearfix">
				<div class="heading">
					<div class="time col-md-3 col-sm-12 col-xs-12">10:00am - 11:00am</div>
					<div class="e-title col-md-9 col-sm-12 col-xs-12">De Bartender a Emprendedor<br/><span class="name">Giancarlo Hincapíe - </span><span class="speaker-designaition">Fundador, Cocktails and Dreams Bar Solutions</span></div>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="content venue col-md-3 col-sm-12 col-xs-12">
						Virtual
					</div>
					<div class="content details col-md-9 col-sm-12 col-xs-12">
					Más detalles en enero.
					</div>
				</div>
			</div>
		  
			<div class="item clearfix">
				<div class="heading">
					<div class="time col-md-3 col-sm-12 col-xs-12">4:00pm - 5:00pm</div>
					<div class="e-title col-md-9 col-sm-12 col-xs-12">Online Global Pitching<br/><span class="name">Eli David - </span><span class="speaker-designaition">Fundador, Startup Blink</span></div>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="content venue col-md-3 col-sm-12 col-xs-12">
						Virtual
					</div>
					<div class="content details col-md-9 col-sm-12 col-xs-12">
					Más detalles en enero.
					</div>
				</div>
			</div>
		  
			<div class="item clearfix">
				<div class="heading">
					<div class="time col-md-3 col-sm-12 col-xs-12">6:00pm - 9:00pm</div>
					<div class="e-title col-md-9 col-sm-12 col-xs-12">Startup Pabellón<br/><span class="name">Rafael Obando - </span><span class="speaker-designaition">Business Development Manager, Hubspot</span><br/><span class="name">Steven A. Rodriguez - </span><span class="speaker-designaition">Regional Manager US/Canada, Techstars</span><br/><span class="name">Manuella Villegas - </span><span class="speaker-designaition">Fundadora, Si Señor Agencia</span><br/><span class="name">Rafael Obando - </span><span class="speaker-designaition">Business Development Manager, Hubspot</span><br/><span class="name">Andrés Hurtado - </span><span class="speaker-designaition">Fundador, Syner Tech Cloud Solutions</span></div>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="content venue col-md-3 col-sm-12 col-xs-12">
						Ubicación: SPACES<br/>Cra. 11 #79-66 [<a href="https://techstarsstartupweekbogota2020.sched.com/venue/SPACES+80+Once" target="_blank">mapa</a>]
					</div>
					<div class="content details col-md-9 col-sm-12 col-xs-12">
					Más detalles en enero.
					</div>
				</div>
			</div>
		</div>        
	</div>
</section>