<li>
	<div class="col-md-4 col-sm-4 wow animated fadeInUp">
		<div class="overlay-effect effects clearfix">
			<div class="img">
			  <img src="assets/twk/img/speakers/twk-speaker-chaparro.png" alt="foto de manuel chaparro">
			</div>
		</div>
	  <h2>Manuel Chaparro</h2>
	  <p>KEPLEGO</p>
	</div>
	<div class="col-md-4 col-sm-4 wow animated fadeInUp">
		<div class="overlay-effect effects clearfix">
			<div class="img">
			  <img src="assets/twk/img/speakers/twk-speaker-sanchez1.png" alt="foto de adriana sanchez">
			</div>
		</div>
	  <h2>Adriana Sánchez</h2>
	  <p>KEPLEGO</p>
	</div>
</li>