<li>
	<div class="col-md-4 col-sm-4 wow animated fadeInUp">
		<div class="overlay-effect effects clearfix">
			<div class="img">
			  <img src="assets/twk/img/speakers/twk-speaker-orozco.png" alt="foto de manuel orozco">
			</div>
		</div>
	  <h2>Manuel Orozco</h2>
	  <p>Universidad de los Andes</p>
	</div>
	<div class="col-md-4 col-sm-4 wow animated fadeInUp">
		<div class="overlay-effect effects clearfix">
			<div class="img">
			  <img src="assets/twk/img/speakers/twk-speaker-carrascal.png" alt="foto de maria carrascal">
			</div>
		</div>
	  <h2>Maria Isabel Carrascal</h2>
	  <p>Compensar</p>
	</div>
	<div class="col-md-4 col-sm-4 wow animated fadeInUp">
		<div class="overlay-effect effects clearfix">
			<div class="img">
			  <img src="assets/twk/img/speakers/twk-speaker-bolivar.png" alt="foto de mateo bolivar">
			</div>
		</div>
	  <h2>Mateo Bolivar</h2>
	  <p>easy line</p>
	</div>
</li>