<!--FEATURES-->	
<section class="features text-center" id="features">
	<div class="row">
		<div id="grid-gallery" class="grid-gallery">
			<section class="grid-wrap">
				<div class="grid-gal">						
					<figure class="block-hover 3d-gallery col-lg-3 col-sm-12">
						<a href="#"><img src="assets/twk/img/gallery/gal-icn.png" alt="img1">
							<span>GALLERY</span>
						</a>                            
					</figure>
				</div> 
			</section>
			<!--grid wrap-->
			{% include twk_features-slideshow.html %}
		</div>
		<!-- /grid-gallery -->

		<div class="container col-lg-6 col-md-12 features-md">          
			<div class="row">
				<div class="col-md-12">
					<div class="features-wrapper">
						<div class="col-md-4 wow animated fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
							<div class="icon">
							  1,000+
							</div>
							<h2>asistentes</h2>
							<p>Participantes de diferentes industrias han sido parte de esta iniciativa.</p>
						</div>
					  
						<div class="col-md-4 wow animated fadeInUp" data-wow-duration="1s" data-wow-delay="0.7s">
							<div class="icon">
							 30+
							</div>
							<h2>speakers</h2>
							<p>Profesionales en diferentes áreas y con gran trayectoria en el ecosistema emprendedor.</p>
						</div>
					  
						<div class="col-md-4 wow animated fadeInUp" data-wow-duration="1s" data-wow-delay="0.9s">
							<div class="icon">
							  10+
							</div>
							<h2>temáticas</h2>
							<p>Programmación para todas las diferentes comunidades del emprendimiento.</p>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>

		<!-- Vimoe Video-->	
		<div class="grid-gal">
		  <figure class="block-hover vimeo-video col-lg-3 col-sm-12">
			<a class="venoboxvid" data-type="youtube"  href="https://youtu.be/cSvpfQRO5Jg" target="_self">
				<img src="assets/twk/img/vdo-icn.png" alt="video_hover">
				<span>Ejemplo de Valencia, España</span>
			</a>
		  </figure>
		</div>

	</div><!--row ends here-->
</section>
<!--/FEATURES-->