<section id="section-2">
	<div class="container">
		<div class="accordion">
			<div class="day">26 de febrero</div>
			<div class="item clearfix">
				<div class="heading clearfix">
					<div class="time col-md-3 col-sm-12 col-xs-12">8:00am - 10:00am</div>
					<div class="e-title col-md-9 col-sm-12 col-xs-12">Startup Huddle Bogotá<br/><span class="name">Carlos Zubieta - </span><span class="speaker-designaition">Co-Fundador y CTO, Agrapp</span><br/><span class="name">Leonardo Quintero - </span><span class="speaker-designaition">Gerente de Marcas, Macrobrand</span></div>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="content venue col-md-3 col-sm-12 col-xs-12">
						Ubicación: SPACES<br/>Carrera 11 #79 - 66
					</div>
					<div class="content details col-md-9 col-sm-12 col-xs-12">
					<p>Basado en la idea de que los empresarios descubran soluciones y se comprometan con sus comunidades alrededor de más de un millón de tazas de café*, la Red Mundial del Emprendimiento desarrolló Startup Huddle en 2017, un programa gratuito diseñado para educar, atraer e inspirar a los empresarios de todo el mundo.</p>
					</div>
				</div>
			</div>
		  
			<div class="item clearfix">
				<div class="heading">
					<div class="time col-md-3 col-sm-12 col-xs-12">10:00am - 11:00am</div>
					<div class="e-title col-md-9 col-sm-12 col-xs-12">De Bartender a Emprendedor<br/><span class="name">Giancarlo Hincapíe - </span><span class="speaker-designaition">Fundador, Cocktails and Dreams Bar Solutions</span><br/><span class="name">Steven A. Rodriguez - </span><span class="speaker-designaition">Regional Manager US/Canada, Techstars</span></div>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="content venue col-md-3 col-sm-12 col-xs-12">
						Virtual
					</div>
					<div class="content details col-md-9 col-sm-12 col-xs-12">
					<p>¡La economía creativa encierra muchas cosas, desde artistas y diseñadores hasta chefs e incluso bartenders! Únase a nosotros para un cóctel virtual mientras exploramos cómo colisionan el mundo de la coctelería y el emprendimiento. Giancarlo Hincapié es un líder en esta industria y a través de su experiencia por más de 15 años en diferentes mercados, nos cuenta su historia y cómo el emprendimiento se  está posicionando en esta industria y dando diversas oportunidades a quienes hacen parte de ella.</p>
					</div>
				</div>
			</div>
		  
			<div class="item clearfix">
				<div class="heading">
					<div class="time col-md-3 col-sm-12 col-xs-12">6:00pm - 9:00pm</div>
					<div class="e-title col-md-9 col-sm-12 col-xs-12">Startup Pabellón<br/><span class="name">Rafael Obando - </span><span class="speaker-designaition">Business Development Manager, Hubspot</span><br/><span class="name">Steven A. Rodriguez - </span><span class="speaker-designaition">Regional Manager US/Canada, Techstars</span><br/><span class="name">Manuella Villegas - </span><span class="speaker-designaition">Fundadora, Si Señor Agencia</span><br/><span class="name">Fabrizio Gonzalez - </span><span class="speaker-designaition">Fundador, Tuatara</span><br/><span class="name">Andrés Hurtado - </span><span class="speaker-designaition">Fundador, Syner Tech Cloud Solutions</span><br/><span class="name">Camilla Torrente - </span><span class="speaker-designaition">Program Lead & Cocreator for Latin America, Entrepreneurs Roundtable Accelerator</span></div>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="content venue col-md-3 col-sm-12 col-xs-12">
						Ubicación: SPACES 80 Once<br/>Carrera 11 #79-66 [<a href="https://techstarsstartupweekbogota2020.sched.com/venue/SPACES+80+Once" target="_blank">mapa</a>]
					</div>
					<div class="content details col-md-9 col-sm-12 col-xs-12">
					<p>El Startup Pabellón es el espacio de la semana para aprender de los cracks de mercadeo, innovación y tecnología. Este día de  BOGOWEEK está liderado por HubSpot, quien nos acompaña Rafael Obando del programa de para Startups y HubSpot para Emprendedores en América Latina quien nos hablará de la estrategia de Inbound, desarrollada por HubSpot, donde los procesos de marketing, ventas, y servicio funcionan como motores que impulsan el Flywheel.</p>
					<br/>
					<p>Nos acompaña también Manuela Villegas CEO de Si Señor Agencia con una amplia experiencia en creación de comunidades, posicionamientos digitales de marca, desarrollos y estrategias para productos o servicios con ventas 100% digitales o asistidas.</p>
					</div>
				</div>
			</div>
		</div>        
	</div>
</section>