<!--REGISTER FORM-->	
<section id="swag" class="swag text-center">
	<div class="container">
		<div class="row">
			<div class="col-lg-9 align-center">
				<form id="nl-form" class="nl-form ">
					Hi! My name is 
					<input id="name" type="text" name="name" placeholder="Enter your name" data-subline="Enter your name"/>
					.
					I would like to register for the 
					<select id="field_1">
						<option value="1" selected>Individual</option>
						<option value="2">Business</option>
						<option value="3">Institution</option>
						<option value="4">Government</option>
					</select> pack
					
					.
					Contact me on 
					<input id="email1" type="text" name="email1" placeholder="My Email address" data-subline="Enter your email address"/>									
					<div class="nl-submit-wrap">
						<button class="nl-submit btn-effect" type="submit" id="submit_btn">Submit</button>
					</div>				
					<div id="result"></div>
					<div class="nl-overlay"></div>
				</form>
				<div class="md-modal md-effect-9" id="modal-10">
					<div class="md-content padding-none">
						<div class="folio">
							
							<div class="sp-name disclaimer"><strong>Terms and Conditions</strong></div>
							<div class="sp-dsc disclaim-border">
							<ul>
								<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt dolore magna aliqua.</li>
								<li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</li>
								<li>Excepteur sint occaecat cupidatat non proident.</li>
							</ul>
							</div>
							
							<button class="md-close"><i class="fa fa-times"></i></button>
						</div>
					</div>
				</div> 
				<div class="col-md-12 tc">Please read the<button class="md-trigger" data-modal="modal-10">Terms & Conditions</button>carefully.</div>
				<!-- the overlay element -->
				<div class="md-overlay"></div>
			</div>
		</div>
	</div>
</section>
<!-- /REGISTER FORM -->