<!--ABOUT-->	
<section class="intro text-center section-padding" id="intro">
	<div class="container wow animated fadeInLeft animated" data-wow-duration="1s" data-wow-delay="0.5s">
		<div class="row">
			<div class="col-lg-8 align-center about">
				<img src="assets/twk/img/logo-bogoweek.png" width="300">
				<h1 class="arrow" style="margin-top:20px;">Introduccion</h1>
				<hr>
				<p style="font-size:1.5em;">El Techstars Bogotá Startup Week (BOGOWEEK) es una celebración anual de los innovadores y creadores de empleos que lanzan nuevas empresas y dan vida a las ideas. Para el 2020, Techstars se encontrará por primera vez en Bogotá, ya que su ubicación estratégica y amplia acogida por parte de emprendedores nacionales y de todo el mundo la convierten en un hub de emprendimiento.</p>
				<br/>
				<p style="font-size:1.5em;">BOGOWEEK es gratuita para todos los asistentes y asi promover las conversaciones abiertas y la accesibilidad, con el fin de cultivar una comunidad próspera. El generoso apoyo de patrocinadores y donantes nos permitirá lograr este objetivo.</p>
			</div>
		</div>
	</div>
</section>
<!--/ABOUT-->