<li>
	<div class="col-md-4 col-sm-4 wow animated fadeInUp">
		<div class="overlay-effect effects clearfix">
		<div class="img">
		  <img src="assets/twk/img/speakers/twk-speaker-rueda.png" alt="foto de jessica rueda castro">
		</div>
		</div>
		<h2>Jessica Rueda Castro</h2>
		<p>The Owl's Company</p>
	</div>
	<div class="col-md-4 col-sm-4 wow animated fadeInUp">
		<div class="overlay-effect effects clearfix">
			<div class="img">
			  <img src="assets/twk/img/speakers/twk-speaker-bermudez.png" alt="foto de laura bermudez">
			</div>
		</div>
		<h2>Laura Bermúdez</h2>
		<p>Universidad de La Sabana</p>
	</div>
	<div class="col-md-4 col-sm-4 wow animated fadeInUp">
		<div class="overlay-effect effects clearfix">
			<div class="img">
			  <img src="assets/twk/img/speakers/twk-speaker-gonzalez2.png" alt="foto de juan bustamante borrás">
			</div>
		</div>
		<h2>Fabrizio González</h2>
		<p>Tuatara y El Nido Coworking</p>
	</div>
</li>