<li>
	<div class="col-md-4 col-sm-4 wow animated fadeInUp">
		<div class="overlay-effect effects clearfix">
		<div class="img">
		  <img src="assets/twk/img/speakers/twk-speaker-rodriguez.png" alt="foto de steven rodriguez">
		</div>
		</div>
		<h2>Steven A. Rodríguez</h2>
		<p>Techstars</p>
	</div>
	<div class="col-md-4 col-sm-4 wow animated fadeInUp">
		<div class="overlay-effect effects clearfix">
			<div class="img">
			  <img src="assets/twk/img/speakers/twk-speaker-camero.png" alt="foto de daniela camero">
			</div>
		</div>
		<h2>Daniela Camero</h2>
		<p>Noche San Felipe</p>
	</div>
	<div class="col-md-4 col-sm-4 wow animated fadeInUp">
		<div class="overlay-effect effects clearfix">
			<div class="img">
			  <img src="assets/twk/img/speakers/twk-speaker-obando.png" alt="foto de rafael obando">
			</div>
		</div>
	  <h2>Rafael Obando</h2>
	  <p>Hubspot</p>
	</div>
</li>