<li>
	<div class="col-md-4 col-sm-4 wow animated fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
		<div class="overlay-effect effects clearfix">
			<div class="img">
				<img src="assets/twk/img/speakers/twk-speaker-lievano.png" alt="foto de flor lievano">
				<!--
				<div class="overlay">
				<button class="md-trigger expand" data-modal="modal-1"><i class="fa fa-search"></i><br>Ver más</button>
				</div>
				-->
			</div>
		</div>
		<h2>Flor Liévano</h2>
		<p>OrangeUP</p>
	</div>
	<div class="col-md-4 col-sm-4 wow animated fadeInUp" data-wow-duration="1s" data-wow-delay="0.7s">
		<div class="overlay-effect effects clearfix">
			<div class="img">
				<img src="assets/twk/img/speakers/twk-speaker-arango1.png" alt="foto de julían arango">
			</div>
		</div>
		<h2>Julían Arango</h2>
		<p>Workia</p>
	</div>
	<div class="col-md-4 col-sm-4 wow animated fadeInUp" data-wow-duration="1s" data-wow-delay="0.9s">
		<div class="overlay-effect effects clearfix">
			<div class="img">
				<img src="assets/twk/img/speakers/twk-speaker-arango.png" alt="foto de lina arango">
			</div>
		</div>
		<h2>Lina Arango</h2>
		<p>Socialab</p>
	</div>
</li>