<li>
	<div class="col-md-4 col-sm-4 wow animated fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
		<div class="overlay-effect effects clearfix">
			<div class="img">
				<img src="assets/twk/img/speakers/twk-speaker-cooper.png" alt="foto de camila cooper">
			</div>
		</div>
		<h2>Camila Cooper</h2>
		<p>Fruto Bendito</p>
	</div>
	<div class="col-md-4 col-sm-4 wow animated fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
		<div class="overlay-effect effects clearfix">
			<div class="img">
				<img src="assets/twk/img/speakers/twk-speaker-rodriguez1.png" alt="foto de sergio rodriguez">
			</div>
		</div>
		<h2>Sergio Rodríguez</h2>
		<p>everis</p>
	</div>
	<div class="col-md-4 col-sm-4 wow animated fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
		<div class="overlay-effect effects clearfix">
			<div class="img">
				<img src="assets/twk/img/speakers/twk-speaker-luengas.png" alt="foto de alejandro luengas">
			</div>
		</div>
		<h2>Alejandro Luengas</h2>
		<p>Centro de Emprendimiento e Innovación Sabana</p>
	</div>
</li>