<!--PRICING-->        
<section id="register" class="portfolio text-center section-padding">
	<div class="container">
		<div class="row">
		  <div class="col-md-12">
			<h1 class="arrow">Regístrate</h1><hr><p style="font-size:1.5em">No te pierdas entrada al festival del año de emprenidimiento en Bogotá.</p>
		  </div>
		</div>
		<div class="row">
			<div class="pricing-wrap">                
				<ul class="slides">
					<li>
						<div class="col-md-4 col-sm-6 col-xs-6 wow animated fadeInRight" data-wow-duration="1s" data-wow-delay="0.3s">
							<ul class="planContainer">
								<li class="title"><h2>GRATIS</h2></li>
								<li class="price"><p>BOGOWEEK</p></li>
								<li>
									<ul class="options">
										<li>Acceso martes a jueves</li>
										<li>Eventos virtuales</li>
										<li>Eventos presenciales</li>
										<li>Networking</li>
										<li>Café Con Emprendedores</li>
										<li>Acceso a la Ceremonia de Clausura</li>
								   </ul>
								</li>
								<li class="button">
									<!-- Noscript content for added SEO -->
									<noscript><a href="https://bogoweek2020.eventbrite.com" rel="noopener noreferrer" target="_blank"></noscript>
									<a id="eventbrite-widget-modal-trigger-70228375963" data-scroll class="btn-effect">Regístrate</a></li>
							</ul>             
						</div>

						<div class="col-md-4 col-sm-6 col-xs-6 wow animated fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
							<ul class="planContainer">
								<li class="title"><h2 class="bestPlanTitle">$130.000</h2></li>
								<li class="price"><p class="bestPlanPrice">Weekend</p></li>
								<li>
									<ul class="options">
										<li>Acceso al BOGOWEEK</li>
										<li>Acceso viernes a domingo</li>
										<li>Creación startup en 54 horas</li>
										<li>Comidas incluidas</li>
										<li>Acceso a mentores</li>
										<li>Membresía mundial</li>
									</ul>
								</li>
								<li class="button"><a data-scroll class="bestPlanButton btn-effect" href="/tsw" target="_blank">Aprende Más</a></li>
							</ul>
						</div>
						
						<div class="col-md-4 col-sm-6 col-xs-6 wow animated fadeInRight" data-wow-duration="1s" data-wow-delay="0.7s">
							<ul class="planContainer">
								<li class="title"><h2 style="color:#a1a9b0;">VENDIDO</h2></li>
								<li class="price"><p>Safari</p></li>
								<li>
									<ul class="options">
										<li>Acceso al BOGOWEEK</li>
										<li>Conoce la cuidad emprendedora</li>
										<li>Sesiones interactivas</li>
										<li>Conecta con tu industria</li>
										<li>VIP networking</li>
										<li>Mentoria 1 a 1</li>
								   </ul>
								</li>
								<li class="button"><a data-scroll class="btn-effect" href="https://suego.typeform.com/to/C4IxDw" data-mode="popup" target="_blank">Registro 2021 </a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script></li>
							</ul>
						</div>
						
					</li>
				</ul>                
			</div>
		</div>
	</div>
</section>
<!--/PRICING-->