<!--HOME-->		
<section id="sec_1" class="autoheight">
	<div class="home-bg"></div>
	<div class="col-lg-12 landing-text-pos align-center">
		<h1 class="wow animated fadeInDown" data-wow-duration="1s" data-wow-delay="1s">BOGOWEEK<br/>2020</h1>
		<hr id="title_hr"/>
		<p class="wow animated fadeInUp" data-wow-duration="1s" data-wow-delay="1s">Bogotá, Colombia<br/>25 de feb. al 1 de mar.</p>
		<a class="learn-more-btn btn-effect wow animated fadeIn" data-wow-duration="0.5s" data-wow-delay="1.5s" data-scroll href="#register">Registrate GRATIS</a>
	</div>
</section>
<!--/HOME-->