<!--CONTACT-->	
<section class="text-center section-padding contact-wrap" id="contact">
	<div class="container">
		<div class="row">
			<div class="col-md-8 wow animated fadeInLeft align-center" data-wow-duration="1s" data-wow-delay="0.3s">
				<h1 class="arrow">Contacto</h1><hr>
				<p style="font-size:1.5em;">¿No encontraste lo que estás buscando?</p>
			</div>
		</div>
		<div class="row contact-details">
			<div class="col-md-4 wow animated fadeInDown" data-wow-duration="1s" data-wow-delay="0.9s">
				<div class="light-box box-hover">
					<h2><span>Correo</span></h2>
					<p><a href="mailto:info@bogotastartupweek.com" target="_blank">info@bogotastartupweek.com</a></p>
				</div>
			</div>
			<div class="col-md-4 wow animated fadeInDown" data-wow-duration="1s" data-wow-delay="0.7s">
				<div class="light-box box-hover">
					<h2><span>WhatsApp</span></h2>
					<p><a href="https://wa.me/573208974074" target="_blank">+57 320 897 4074</a></p>
				</div>
			</div>
			<div class="col-md-4 wow animated fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
				<div class="light-box box-hover">
					<h2><span>Ubicación</span></h2>
					<p>Bogotá, Colombia</p>
				</div>
			</div>
		</div>
		<div class="row">
			<a id="get_directions" class="learn-more-btn btn-effect" href="https://techstarsstartupweekbogota2020.sched.com/map-full" target="_blank"><i class="fa fa-map-marker"></i><span>Ver el Mapa</span></a>
		</div>
		<div class="row">
			<div class="col-md-12">
				<ul class="social-buttons">
					<li><a href="https://bogoweek.co/in" class="social-btn" target="_blank"><i class="fa fa-instagram"></i></a></li>
					<li><a href="https://bogoweek.co/fb" class="social-btn" target="_blank"><i class="fa fa-facebook"></i></a></li>
					<li><a href="https://bogoweek.co/tw" class="social-btn" target="_blank"><i class="fa fa-twitter"></i></a></li>
					<li><a href="mailto:info@bogotastartupweek.com" class="social-btn" target="_blank"><i class="fa fa-envelope"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</section>
<!-- /CONTACT -->