<li>
	<div class="col-md-4 col-sm-4 wow animated fadeInUp">
		<div class="overlay-effect effects clearfix">
		<div class="img">
		  <img src="assets/twk/img/speakers/twk-speaker-zubieta.png" alt="foto de carlos zubieta">
		</div>
		</div>
		<h2>Carlos Zubieta</h2>
		<p>AGRAPP</p>
	</div>
	<div class="col-md-4 col-sm-4 wow animated fadeInUp">
		<div class="overlay-effect effects clearfix">
			<div class="img">
			  <img src="assets/twk/img/speakers/twk-speaker-gonzalez2.png" alt="foto de ">
			</div>
		</div>
	  <h2>Fabrizio González</h2>
	  <p>Tuatara</p>
	</div>
	<div class="col-md-4 col-sm-4 wow animated fadeInUp">
		<div class="overlay-effect effects clearfix">
			<div class="img">
			  <img src="assets/twk/img/speakers/twk-speaker-pena.png" alt="foto de manuela peña gómez">
			</div>
		</div>
		<h2>Manuela Peña Gómez</h2>
		<p>Universidad de La Sabana</p>
	</div>
</li>