<li>
	<div class="col-md-4 col-sm-4 wow animated fadeInUp">
		<div class="overlay-effect effects clearfix">
		<div class="img">
		  <img src="assets/twk/img/speakers/twk-speaker-santiesteban.png" alt="foto de francisco santiesteban">
		</div>
		</div>
		<h2>Francisco Santiesteban</h2>
		<p>Serendipia Laboratório de Talento Humano</p>
	</div>
	<div class="col-md-4 col-sm-4 wow animated fadeInUp">
		<div class="overlay-effect effects clearfix">
			<div class="img">
			  <img src="assets/twk/img/speakers/twk-speaker-ardila.png" alt="foto de maría fernanda ardila">
			</div>
		</div>
		<h2>María Fernanda Ardila</h2>
		<p>Ajover</p>
	</div>
	<div class="col-md-4 col-sm-4 wow animated fadeInUp">
		<div class="overlay-effect effects clearfix">
			<div class="img">
			  <img src="assets/twk/img/speakers/twk-speaker-cubides.png" alt="foto de jorge cubides">
			</div>
		</div>
	  <h2>Jorge Cubides</h2>
	  <p>CubixMedia</p>
	</div>
</li>