<li>
	<div class="col-md-4 col-sm-4 wow animated fadeInUp">
		<div class="overlay-effect effects clearfix">
			<div class="img">
			  <img src="assets/twk/img/speakers/twk-speaker-rodriguez2.png" alt="foto de manuel orozco">
			</div>
		</div>
	  <h2>Carlos Rodríguez Acosta</h2>
	  <p>Productos Kumara</p>
	</div>
	<div class="col-md-4 col-sm-4 wow animated fadeInUp">
		<div class="overlay-effect effects clearfix">
			<div class="img">
			  <img src="assets/twk/img/speakers/twk-speaker-borras.png" alt="foto de juan bustamante borrás">
			</div>
		</div>
		<h2>Juan Bustamante Borrás</h2>
		<p>Atalaya Consutling Group</p>
	</div>
</li>