<body>
    <div class="preloader">
        <div class="preloader-body">
            <div class="cssload-container">
                <div class="cssload-speeding-wheel"></div>
            </div>
            <p>Cargando...</p>
        </div>
    </div>
    <div class="page">
        <!-- Section Header Default-->
        <header class="section page-header">
            <!--RD Navbar-->
            <div class="rd-navbar-wrap">
                {% include twk_sponsors_nav.html %}
            </div>
        </header>
        <!-- Breadcrumbs-->
        <section class="breadcrumbs-custom bg-image context-dark" style="background-image: url(/assets/tsw/img/bg-breadcrumbs-01-1894x424.jpg);">
            <div class="container">
                <ul class="breadcrumbs-custom-path">
                    <li><a href="/">Inicio</a></li>
                    <li class="active">Registrado</li>
                </ul>
                <h3 class="breadcrumbs-custom-title">Bienvenid@</h3>
            </div>
        </section>
        <!-- Intro-->
        <section class="section section-lg bg-default text-center">
            <div class="container">
                <div class="block-about">
                    <div class="block-about-content">
                        <h6>¿Listo para explorar BOGOWEEK?</h6>
                        <h3>Del martes a miércoles.</h3>
                        <p>Todos los participantes van a poder elegir los eventos que esten disponibles. Los que se inscriban antes tendran accesso primero antes que se llenen los lugares. Vamos a anunciar las inscripciones pronto.</p>
                        <!--
                        <p>Para los que quieran lanzar su idea de negocio en solo 54 horas, podrán inscribirse en el Techstars Startup Weekend. Por ser participante de BOGOWEEK, tendrán un 20% descuento con el codígo de descuento:</p>
                        <h3>BOGOWEEK2020</h3>
                        <div class="group" style="margin-bottom:20px;"><a class="button button-primary" href="https://bogoweek.co/tsw" data-triangle=".button-overlay"><span>Ver Más</span><span class="button-overlay"></span></a></div>
                        -->
                    </div>
                </div>
            </div>
        </section>
        <!-- Divider-->
        <div class="divider divider-gray-900 text-center"></div>
        {% include tsw_footer.html %}
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <div class="block-with-svg-gradients">
        <svg xmlns="https://www.w3.org/2000/svg">
            <defs>
                <lineargradient id="svg-gradient-primary" x1="0%" y1="100%" x2="100%" y2="0%">
                    <stop offset="0%" style="stop-color:rgb(130,46,168);stop-opacity:1"></stop>
                    <stop offset="100%" style="stop-color:rgb(217,14,144);stop-opacity:1"></stop>
                </lineargradient>
            </defs>
        </svg>
    </div>
    <script src="assets/tsw/js/core.min.js"></script>
	<script src="assets/tsw/js/script.js"></script>
    <script type="text/javascript" src="//techstarsstartupweekbogota2020.sched.com/js/embed.js"></script>
    <!--EVENTBRITE-->
    <script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>
    <script type="text/javascript" src="assets/twk/js/eventbrite.js"></script>
</body>