<li>
	<div class="col-md-4 col-sm-4 wow animated fadeInUp">
		<div class="overlay-effect effects clearfix">
		<div class="img">
		  <img src="assets/twk/img/speakers/twk-speaker-lissade.png" alt="foto de ">
		</div>
		</div>
		<h2>Elizabeth Becerril Wong</h2>
		<p>Techstars</p>
	</div>
	<div class="col-md-4 col-sm-4 wow animated fadeInUp">
		<div class="overlay-effect effects clearfix">
		<div class="img">
		  <img src="assets/twk/img/speakers/twk-speaker-lissade.png" alt="foto de ">
		</div>
		</div>
		<h2>Marc Lissade</h2>
		<p>Broward Startup</p>
	</div>
	<div class="col-md-4 col-sm-4 wow animated fadeInUp">
		<div class="overlay-effect effects clearfix">
			<div class="img">
			  <img src="assets/twk/img/speakers/twk-speaker-hurtado.png" alt="foto de ">
			</div>
		</div>
		<h2>Andres Hurtado</h2>
		<p>SynerTechCloud.com</p>
	</div>
</li>