<div class="container-schedule container wow animated fadeInDown animated" data-wow-duration="1s" data-wow-delay="1s">
	<div id="tabs-ui" class="tabs">
		<nav>
			<ul>
				<li><a href="#section-1"><span>mar.</span></a></li>
				<li><a href="#section-2"><span>mié.</span></a></li>
				<li><a href="#section-3"><span>jue.</span></a></li>
				<li><a href="#section-4"><span>vie.</span></a></li>
				<li><a href="#section-5"><span>dom.</span></a></li>
			</ul>
		</nav>
		<div class="content">
			{% include twk_schedule-sec1.html %}
			{% include twk_schedule-sec2.html %}
			{% include twk_schedule-sec3.html %}
			{% include twk_schedule-sec4.html %}
			{% include twk_schedule-sec5.html %}
		</div><!-- /content -->
	</div><!-- /tabs -->
</div>