<!--SCHEDULE-->        
<section class="text-center section-padding" id="agenda">
	<div class="container wow animated fadeInLeft bottom-spacing">
		<div class="row">
			<div class="col-md-8 align-center wow animated fadeInLeft">
				<h1 class="arrow">Programación</h1><hr>
				<p style="font-size:1.5em;">Una semana completa de eventos para toda la comunidad emprendedora de la ciudad.</p>
			</div>
		</div>
	</div>
	{% include twk_schedule-01.html %}
</section>


<!-- Event social links and download-->
<section class="event-download-social-link section-padding">
	<img src="assets/twk/img/sched2020.jpg" width="100%">
	<div class="col-lg-6 col-md-12 align-center event-download-padding">
		<a class="d-sch text-right" href="https://bogoweek.co/2020schedule" target="_blank"><i class="fa fa-download"></i>bajar agenda</a>
		<a class="fb " href="https://bogoweek.co/fb" target="_blank"><i class="fa fa-facebook"></i>connect via facebook</a>
	</div>
</section>
<!--/SCHEDULE-->