<!--SPONSORS-->	
<div id="sponsers" class="ignite-cta text-center section-padding">
	<div class="container">
		<div class="row">
			<div class="col-md-8 align-center wow animated fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
				<h1 class="arrow">Nuestros Patrocinadores</h1><hr>
				<p style="font-size:1.5em;">Gracias al apoyo de ellos, hacemos de BOGOWEEK una realidad.</p>
			</div>
			<div class="row section-padding">
				<div class="col-md-3">
					<img alt="sp1" src="assets/twk/img/sponsor/logo-techstars.png" />
				</div>
				<div class="col-md-3">
					<img alt="sp1" src="assets/twk/img/sponsor/logo-orangeup.png" />
				</div>
				<div class="col-md-3">
					<img alt="sp1" src="assets/twk/img/sponsor/logo-suego.png" />
				</div>
				<div class="col-md-3">
					<img alt="sp1" src="assets/twk/img/sponsor/logo-innpulsaCol.png" />
				</div>
			</div>
			<!-- Jssor Slider Begin -->
			<div id="slider1_container" style=" ">
				<div class="inner_carousal" data-u="slides" style="">
					<div><img alt="sp1" src="assets/twk/img/partner/logo-socialab.png" /></div>
					<div><img alt="sp1" src="assets/twk/img/sponsor/logo-spaces.png" /></div>
					<div><img alt="sp2" src="assets/twk/img/partner/logo-sh.png" /></div>
					<div><img alt="sp3" src="assets/twk/img/partner/logo-cdbs.png" /></div>
					<div><img alt="sp4" src="assets/twk/img/partner/logo-startupBlink.png" /></div>
					<div><img alt="sp5" src="assets/twk/img/sponsor/logo-hubspotStartups.png" /></div>
					<div><img alt="sp6" src="assets/twk/img/partner/logo-nocheSanFelipe.png" /></div>
					<div><img alt="sp7" src="assets/twk/img/partner/logo-porColombia.png" /></div>
					<div><img alt="sp7" src="assets/twk/img/sponsor/logo-uniBosque.png" /></div>
				</div>
			</div>
			<!-- Jssor Slider End -->
		</div>
	</div>
</div>
 <!-- /SPONSORS -->	