<!--SPONSORS-->	
<div id="sponsers" class="ignite-cta text-center section-padding">
	<div class="container">
		<div class="row">
			<div class="col-md-8 align-center wow animated fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
				<h1 class="arrow">Nuestros Aliados</h1><hr>
				<p style="font-size:1.5em;">Gracias al apoyo de ellos, hacemos de BOGOWEEK una realidad.</p>
			</div>
			<div class="row section-padding">
				<div class="col-md-3">
					<img alt="sp1" src="assets/twk/img/sponsor/logo-techstars.png" />
				</div>
				<div class="col-md-3">
					<img alt="sp1" src="assets/twk/img/sponsor/logo-orangeup.png" />
				</div>
				<div class="col-md-3">
					<img alt="sp1" src="assets/twk/img/sponsor/logo-suego.png" />
				</div>
				<div class="col-md-3">
					<img alt="sp1" src="assets/twk/img/sponsor/logo-innpulsaCol.png" />
				</div>
			</div>
			<!-- Jssor Slider Begin -->
			<div id="slider1_container" style=" ">
				<div class="inner_carousal" data-u="slides" style="">
					<div><img alt="socialab colombia" src="assets/twk/img/partner/logo-socialab.png" /></div>
					<div><img alt="spaces" src="assets/twk/img/sponsor/logo-spaces.png" /></div>
					<div><img alt="startup huddle" src="assets/twk/img/partner/logo-sh.png" /></div>
					<div><img alt="cocktail and dreams bar solutions" src="assets/twk/img/partner/logo-cdbs.png" /></div>
					<div><img alt="startup blink" src="assets/twk/img/partner/logo-startupBlink.png" /></div>
					<div><img alt="hubspot for startups" src="assets/twk/img/sponsor/logo-hubspotStartups.png" /></div>
					<div><img alt="noche san felipe" src="assets/twk/img/partner/logo-nocheSanFelipe.png" /></div>
					<div><img alt="por colombia" src="assets/twk/img/partner/logo-porColombia.png" /></div>
					<div><img alt="universidad el bosque" src="assets/twk/img/sponsor/logo-uniBosque.png" /></div>
					<div><img alt="startup broward" src="assets/twk/img/partner/logo-startupBroward.png" /></div>
					<div><img alt="syner tech cloud solutions" src="assets/twk/img/partner/logo-STCS.png" /></div>
					<div><img alt="centro de emprendimiento y innovacion" src="assets/twk/img/partner/logo-CEIS.png" /></div>
					<div><img alt="la universidad la sabana" src="assets/twk/img/partner/logo-uniSabana.png" /></div>
				</div>
			</div>
			<!-- Jssor Slider End -->
			<div class="row" style="margin-top:50px;">
				<a id="get_directions" class="learn-more-btn btn-effect" href="/patrocinio"><i class="fa fa-users"></i><span>Todos los aliados</span></a>
			</div>
		</div>
	</div>
</div>
 <!-- /SPONSORS -->	