<!--SUBSCRIBE-->	
<section class="subscribe text-center" id="subscribe">
	<div class="subscribe-overlay"></div>
	<div class="container wow animated fadeInDown" data-wow-duration="1s" data-wow-delay="0.3s">
		<h1>Subscribete para más noticias</h1>
		<form action="https://bogotastartupweek.us4.list-manage.com/subscribe/post?u=36b178042ea58896538dcf43f&amp;id=617a11a969" method="POST" class="center-block align-center col-lg-5 col-md-5 col-sm-10 col-xs-10">
			<div class="input-group col-lg-12 align-center">
				<input type="text" id="mce-EMAIL" class="form-control email-add" type="email" name="EMAIL" placeholder="Correo Electrónico">
				<div style="display:none">
					<input type="checkbox" id="gdpr_20919" name="gdpr[20919]" value="Y" class="av-checkbox " checked="">
					<input type="checkbox" id="gdpr_20923" name="gdpr[20923]" value="Y" class="av-checkbox " checked="">
					<input type="checkbox" id="gdpr_20927" name="gdpr[20927]" value="Y" class="av-checkbox " checked="">
					<input type="select" id="mce-group[61787]-61787-0" name="group[61787][1]" value="Startup Week">
				</div>
				<button class="btn btn-default notify-button" type="submit"><i class="fa fa-paper-plane"></i><span>Send</span></button>
			</div>
		</form>
	</div>
</section>
<!-- /SUBSCRIBE -->